Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

WIP
  go/cmd/vtctldclient/command/vreplication/common/switchtraffic.go
  go/cmd/vtctldclient/command/vreplication/common/utils.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/workflow/utils.go
Owners: @mattlord, @rohit-nayak-ps, @ajm188, @notfelineit, @deepthi

WIP
  go/cmd/vtctldclient/command/vreplication/common/switchtraffic.go
  go/cmd/vtctldclient/command/vreplication/common/utils.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/workflow/utils.go
Owners: @mattlord, @rohit-nayak-ps, @ajm188, @notfelineit, @deepthi

backport of 3418 (#3422)
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
Owners: @shlomi-noach

backport of 3418 (#3422)
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
Owners: @shlomi-noach

backport of 3368 (#3381)
  go.mod
  go.sum
Owners: @planetscale/eng-vitess

backport of 3368 (#3381)
  go.mod
  go.sum
Owners: @planetscale/eng-vitess

backport of 3418 (#3423)
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
Owners: @shlomi-noach

backport of 3418 (#3423)
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
Owners: @shlomi-noach

cherry pick of 14245 (#3384) (#3414)
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/concatenate_test.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/evalengine/api_coerce.go
  go/vt/vtgate/evalengine/api_type_aggregation.go
  go/vt/vtgate/evalengine/fn_compare.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/comments.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/fk_verify.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/operators/ops/op.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/querygraph.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_container.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 14245 (#3384) (#3414)
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/concatenate_test.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/evalengine/api_coerce.go
  go/vt/vtgate/evalengine/api_type_aggregation.go
  go/vt/vtgate/evalengine/fn_compare.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/comments.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/fk_verify.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/operators/ops/op.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/querygraph.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_container.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 14274 (#3420) (#3424)
  changelog/18.0/18.0.0/summary.md
  go/boost/server/controller/boostplan/external_schema.go
  go/test/endtoend/vtgate/foreignkey/sharded_vschema.json
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/test/endtoend/vtgate/foreignkey/unsharded_vschema.json
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/schemadiff/semantics.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/semantics/FakeSI.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vtgate/vschema_manager_test.go
  go/vt/vttablet/tabletserver/vstreamer/engine_test.go
  proto/vschema.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @deepthi, @mattlord, @GuptaManan100, @arthurschreiber, @shlomi-noach, @rohit-nayak-ps, @ajm188, @notfelineit

cherry pick of 14274 (#3420) (#3424)
  changelog/18.0/18.0.0/summary.md
  go/boost/server/controller/boostplan/external_schema.go
  go/test/endtoend/vtgate/foreignkey/sharded_vschema.json
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/test/endtoend/vtgate/foreignkey/unsharded_vschema.json
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/schemadiff/semantics.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/semantics/FakeSI.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vtgate/vschema_manager_test.go
  go/vt/vttablet/tabletserver/vstreamer/engine_test.go
  proto/vschema.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @deepthi, @mattlord, @GuptaManan100, @arthurschreiber, @shlomi-noach, @rohit-nayak-ps, @ajm188, @notfelineit

cherry pick of 14203 (#3367) (#3412)
  go/flags/endtoend/vttablet.txt
  go/vt/vttablet/flags.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
Owners: @planetscale/eng-vitess, @rohit-nayak-ps, @mattlord, @harshit-gangal, @systay, @shlomi-noach

cherry pick of 14203 (#3367) (#3412)
  go/flags/endtoend/vttablet.txt
  go/vt/vttablet/flags.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
Owners: @planetscale/eng-vitess, @rohit-nayak-ps, @mattlord, @harshit-gangal, @systay, @shlomi-noach

backport of 3427 (#3428)
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/view.go
Owners: @planetscale/eng-vitess

backport of 3427 (#3428)
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/view.go
Owners: @planetscale/eng-vitess

backport of 3427 (#3429)
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/view.go
Owners: @planetscale/eng-vitess

backport of 3427 (#3429)
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/view.go
Owners: @planetscale/eng-vitess

stats: export vttablet_tablet_type to prometheus
  go/stats/export.go
  go/stats/export_test.go
  go/stats/prometheusbackend/collectors.go
  go/stats/prometheusbackend/prometheusbackend.go
  go/stats/prometheusbackend/prometheusbackend_test.go
  go/stats/statsd/statsd.go
  go/vt/grpccommon/options.go
  go/vt/servenv/buildinfo.go
  go/vt/servenv/exporter_test.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/tm_init.go
Owners: @planetscale/eng-vitess, @deepthi, @ajm188, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

changelog/19.0: document vttablet_tablet_type for prometheus
  changelog/19.0/19.0.0/summary.md
Owners: @planetscale/eng-vitess

backport of 3432 (#3433)
  web/vtadmin/package-lock.json
Owners: @ajm188, @notfelineit

backport of 3432 (#3433)
  web/vtadmin/package-lock.json
Owners: @ajm188, @notfelineit

wip
  docker/percona/Dockerfile
  docker/percona/Dockerfile.8.0.30
  docker/percona/Dockerfile.8.0.34
Owners: @deepthi, @mattlord, @GuptaManan100, @frouioui

wip
  docker/percona/Dockerfile
  docker/percona/Dockerfile.8.0.30
  docker/percona/Dockerfile.8.0.34
Owners: @deepthi, @mattlord, @GuptaManan100, @frouioui

backport of 3432 (#3435)
  web/vtadmin/package-lock.json
Owners: @ajm188, @notfelineit

backport of 3432 (#3435)
  web/vtadmin/package-lock.json
Owners: @ajm188, @notfelineit

basic percona80 image wip
  docker/percona/Dockerfile
  docker/percona/Dockerfile.8.0.30
  docker/percona/Dockerfile.8.0.34
Owners: @deepthi, @mattlord, @GuptaManan100, @frouioui

basic percona80 image wip
  docker/percona/Dockerfile
  docker/percona/Dockerfile.8.0.30
  docker/percona/Dockerfile.8.0.34
Owners: @deepthi, @mattlord, @GuptaManan100, @frouioui

pin the percona version we install
  docker/lite/install_dependencies.sh
Owners: @deepthi, @mattlord, @GuptaManan100, @frouioui

pin the percona version we install
  docker/lite/install_dependencies.sh
Owners: @deepthi, @mattlord, @GuptaManan100, @frouioui

make field public
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Owners: @harshit-gangal, @systay, @GuptaManan100

make field public
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Owners: @harshit-gangal, @systay, @GuptaManan100

feat: stop recursive CTEs in the semantic analaysis
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/check_invalid.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

feat: stop recursive CTEs in the semantic analaysis
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/check_invalid.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

stop using table qualifier for aliased tables
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.json
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/sysschema_default.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

stop using table qualifier for aliased tables
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.json
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/sysschema_default.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3441 (#3444)
  config/mycnf/mysql80.cnf
Owners: @deepthi, @shlomi-noach, @mattlord

backport of 3441 (#3444)
  config/mycnf/mysql80.cnf
Owners: @deepthi, @shlomi-noach, @mattlord

backport of 3441 (#3445)
  config/mycnf/mysql80.cnf
Owners: @deepthi, @shlomi-noach, @mattlord

backport of 3441 (#3445)
  config/mycnf/mysql80.cnf
Owners: @deepthi, @shlomi-noach, @mattlord

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
