Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit

Copy config folder in lite image
  docker/lite/Dockerfile
  docker/lite/Dockerfile.testing
  docker/lite/Dockerfile.ubi7
  docker/lite/Dockerfile.ubi8
  docker/lite/Dockerfile.ubi8.arm64
Owners: @deepthi, @mattlord, @GuptaManan100, @frouioui

[release-17.0] Upgrade go version in upgrade tests to `go1.21.9` (#15640)
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
Owners: @frouioui

[release-19.0] Code Freeze for `v19.0.2` (#15644)
  .github/workflows/code_freeze.yml
Owners: @frouioui

[release-19.0] Release of `v19.0.2` (#15645)
  .github/workflows/code_freeze.yml
  changelog/19.0/19.0.2/changelog.md
  changelog/19.0/19.0.2/release_notes.md
  changelog/19.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @shlomi-noach, @GuptaManan100, @deepthi, @ajm188, @harshit-gangal

[release-18.0] Update go.mod go version to 1.21.9 (#15646)
  go.mod
Owners: @planetscale/eng-vitess

Update go dependencies
  go.mod
  go.sum
Owners: @planetscale/eng-vitess

[release-18.0] Updated `golang.org/x/net` (#15650)
  go.mod
  go.sum
Owners: @planetscale/eng-vitess

[release-18.0] Code Freeze for `v18.0.4` (#15653)
  .github/workflows/code_freeze.yml
Owners: @frouioui

[release-19.0] Bump to `v19.0.3-SNAPSHOT` after the `v19.0.2` release (#15648)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

Update dependencies for golang.org/x/net to latest (#15651)
  go.mod
  go.sum
Owners: @planetscale/eng-vitess

[release-19.0] Code Freeze for `v19.0.3` (#15657)
  .github/workflows/code_freeze.yml
Owners: @frouioui

[release-18.0] Release of `v18.0.4` (#15654)
  .github/workflows/code_freeze.yml
  changelog/18.0/18.0.4/changelog.md
  changelog/18.0/18.0.4/release_notes.md
  changelog/18.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @shlomi-noach, @GuptaManan100, @deepthi, @ajm188, @harshit-gangal

[release-19.0] Release of `v19.0.3` (#15658)
  .github/workflows/code_freeze.yml
  changelog/19.0/19.0.3/changelog.md
  changelog/19.0/19.0.3/release_notes.md
  changelog/19.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @shlomi-noach, @GuptaManan100, @deepthi, @ajm188, @harshit-gangal

[release-18.0] Bump to `v18.0.5-SNAPSHOT` after the `v18.0.4` release (#15660)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

[release-19.0] Bump to `v19.0.4-SNAPSHOT` after the `v19.0.3` release (#15662)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

Fix GRPC deprecations
  examples/local/vstream_client.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/messaging/message_test.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vschema_load_test.go
  go/test/endtoend/vreplication/vstream_test.go
  go/test/endtoend/vtcombo/recreate/recreate_test.go
  go/test/endtoend/vtcombo/vttest_sample_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/endtoend/vtgate/grpc_api/acl_test.go
  go/test/endtoend/vtgate/grpc_api/execute_test.go
  go/test/endtoend/vtgate/queries/reference/main_test.go
  go/vt/grpcclient/client.go
  go/vt/grpcoptionaltls/server_test.go
  go/vt/vitessdriver/driver.go
  go/vt/vtadmin/grpcserver/server_test.go
  go/vt/vtgate/endtoend/vstream_test.go
  go/vt/vtgate/fakerpcvtgateconn/conn.go
  go/vt/vtgate/grpcvtgateconn/conn.go
  go/vt/vtgate/grpcvtgateconn/conn_rpc_test.go
  go/vt/vtgate/grpcvtgateconn/suite_test.go
  go/vt/vtgate/vtgateconn/vtgateconn.go
  go/vt/vtgate/vtgateconn/vtgateconn_test.go
  go/vt/vttablet/endtoend/framework/server.go
  go/vt/vttablet/grpctmclient/cached_client.go
  go/vt/vttablet/grpctmclient/client_test.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletserver/tx_executor_test.go
  go/vtbench/client.go
  tools/rowlog/rowlog.go
Owners: @rohit-nayak-ps, @frouioui, @mattlord, @GuptaManan100, @planetscale/eng-vitess, @harshit-gangal, @systay, @ajm188, @notfelineit, @shlomi-noach

backport of 4891 (#4894)
  config/mycnf/mysql80.cnf
Owners: @deepthi, @shlomi-noach, @mattlord

backport of 4891 (#4894)
  config/mycnf/mysql80.cnf
Owners: @deepthi, @shlomi-noach, @mattlord

Ensure workflows in VDiff are in Running state to avoid unpredictable results from Starting a Stopped workflow, for example
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/test/endtoend/vreplication/vdiff_online_ddl_test.go
  go/vt/vtctl/workflow/server.go
Owners: @planetscale/eng-vitess, @deepthi

Allow VDiff for OnlineDDLs. Add e2e test
  go/test/endtoend/cluster/vtctldclient_process.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/test/endtoend/vreplication/vdiff_online_ddl_test.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
  test/config.json
Owners: @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @frouioui

Fixed incorrect change to test helper
  go/test/endtoend/vreplication/vdiff_helper_test.go
Owners: @planetscale/eng-vitess

Address review comments. Check that online ddl is ready to complete before doing a vdiff on it
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/test/endtoend/vreplication/vdiff_online_ddl_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
Owners: @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

backport of 4898 (#4901)
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 4898 (#4901)
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 2439 (#4914)
  go/vt/vtgate/endtoend/vstream_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/tracker.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_flaky_test.go
Owners: @rohit-nayak-ps, @mattlord, @harshit-gangal, @systay, @shlomi-noach

backport of 2439 (#4914)
  go/vt/vtgate/endtoend/vstream_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/tracker.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_flaky_test.go
Owners: @rohit-nayak-ps, @mattlord, @harshit-gangal, @systay, @shlomi-noach

backport of 4915 (#4918)
  config/mycnf/mysql80.cnf
Owners: @deepthi, @shlomi-noach, @mattlord

backport of 4915 (#4918)
  config/mycnf/mysql80.cnf
Owners: @deepthi, @shlomi-noach, @mattlord

Explicitly set snapshots as read only
  go/vt/vttablet/tabletserver/vstreamer/snapshot_conn.go
  go/vt/vttablet/tabletserver/vstreamer/snapshot_conn_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Explicitly set snapshots as read only
  go/vt/vttablet/tabletserver/vstreamer/snapshot_conn.go
  go/vt/vttablet/tabletserver/vstreamer/snapshot_conn_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

wip
  go/test/endtoend/vtgate/queries/aggregation-two/t/aggregation.test
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
Owners: @harshit-gangal, @systay, @frouioui

wip
  go/test/endtoend/vtgate/queries/aggregation-two/t/aggregation.test
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
Owners: @harshit-gangal, @systay, @frouioui

Replace underscores with dashes in cluster id
  go/vt/vtadmin/cluster/config.go
Owners: @ajm188, @notfelineit, @rohit-nayak-ps

Replace underscores with dashes in cluster id
  go/vt/vtadmin/cluster/config.go
Owners: @ajm188, @notfelineit, @rohit-nayak-ps

[release-19.0]: VTOrc optimize TMC usage (#15356) (#15759)
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/tablet_dao.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vttablet/grpctmclient/client.go
Owners: @planetscale/eng-vitess, @deepthi, @shlomi-noach, @GuptaManan100, @ajm188, @rohit-nayak-ps

test: add a failing test
  go/test/endtoend/vtgate/foreignkey/fk_test.go
Owners: @harshit-gangal, @systay, @frouioui

Improve handling of vplayer stalls
  go/vt/vttablet/tabletmanager/vreplication/relaylog.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletserver/vstreamer/engine.go
Owners: @rohit-nayak-ps, @mattlord, @harshit-gangal, @systay, @shlomi-noach

First steps in moving end to end tests over
  go/test/endtoend/vtgate/queries/aggregation/aggregation.test
Owners: @harshit-gangal, @systay, @frouioui

[release-19.0] Backport testing for new semi-sync plugin
  go/test/endtoend/backup/vtbackup/backup_only_test.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
Owners: @planetscale/eng-vitess

feat: order dmls with inputs in such a way that child dmls happen first
  go/vt/graph/graph.go
  go/vt/graph/graph_test.go
  go/vt/vtgate/planbuilder/operators/dml_planning.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/utils/foreign_keys.go
  go/vt/vtgate/utils/foreign_keys_test.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber
