Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit

feat: alternate fix for concatenate panic
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vtgate/engine/concatenate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4673 (#4680)
  .github/workflows/_planetscale_nightly_build.yml
  .github/workflows/_planetscale_pr_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4673 (#4680)
  .github/workflows/_planetscale_nightly_build.yml
  .github/workflows/_planetscale_pr_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4672 (#4679)
  .github/workflows/_planetscale_nightly_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4672 (#4679)
  .github/workflows/_planetscale_nightly_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4661 (#4670)
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vtgate/engine/concatenate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4661 (#4670)
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vtgate/engine/concatenate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4672 (#4677)
  .github/workflows/_planetscale_nightly_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4672 (#4677)
  .github/workflows/_planetscale_nightly_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4673 (#4682)
  .github/workflows/_planetscale_nightly_build.yml
  .github/workflows/_planetscale_pr_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4673 (#4682)
  .github/workflows/_planetscale_nightly_build.yml
  .github/workflows/_planetscale_pr_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

[release-18.0] VtctldClient Reshard: add e2e tests to confirm CLI options and fix discovered issues. (#15353) (#15471)
  go/cmd/vtctldclient/command/vreplication/reshard/create.go
  go/vt/vtctl/workflow/server.go
Owners: @mattlord, @rohit-nayak-ps, @deepthi

Dummy commit
  .github/workflows/unit_test_mysql80.yml
Owners: @frouioui

wip
  go/vt/vtgate/engine/record.go
  go/vt/vtgate/engine/replan.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/record.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[release-17.0] Bumps deps and use proper Go version in upgrade tests (#15408)
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  go.mod
  go.sum
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogservice/binlogservice.pb.go
  go/vt/proto/logutil/logutil.pb.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/queryservice/queryservice.pb.go
  go/vt/proto/replicationdata/replicationdata.pb.go
  go/vt/proto/tableacl/tableacl.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/throttlerdata/throttlerdata.pb.go
  go/vt/proto/throttlerservice/throttlerservice.pb.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgateservice/vtgateservice.pb.go
  go/vt/proto/vtrpc/vtrpc.pb.go
  go/vt/proto/vttest/vttest.pb.go
  go/vt/proto/vttime/vttime.pb.go
  misc/git/hooks/golangci-lint
  test/config.json
Owners: @frouioui, @planetscale/eng-vitess, @deepthi, @harshit-gangal, @mattlord, @ajm188, @notfelineit, @GuptaManan100, @rohit-nayak-ps

cherry pick of 15458 (#4684) (#4686)
  go/vt/graph/graph.go
  go/vt/graph/graph_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vterrors/code.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @GuptaManan100, @frouioui

cherry pick of 15458 (#4684) (#4686)
  go/vt/graph/graph.go
  go/vt/graph/graph_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vterrors/code.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @GuptaManan100, @frouioui

[release-17.0] Code Freeze for `v17.0.6` (#15478)
  .github/workflows/code_freeze.yml
Owners: @frouioui

[release-19.0] Code Freeze for `v19.0.1` (#15481)
  .github/workflows/code_freeze.yml
Owners: @frouioui

[release-18.0] Code Freeze for `v18.0.3` (#15480)
  .github/workflows/code_freeze.yml
Owners: @frouioui

[release-17.0] Release of `v17.0.6` (#15479)
  .github/workflows/code_freeze.yml
  changelog/17.0/17.0.6/changelog.md
  changelog/17.0/17.0.6/release_notes.md
  changelog/17.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @shlomi-noach, @GuptaManan100, @deepthi, @ajm188, @harshit-gangal

[release-17.0] Bump to `v17.0.7-SNAPSHOT` after the `v17.0.6` release (#15487)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

[release-18.0] Release of `v18.0.3` (#15483)
  .github/workflows/code_freeze.yml
  changelog/18.0/18.0.3/changelog.md
  changelog/18.0/18.0.3/release_notes.md
  changelog/18.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @shlomi-noach, @GuptaManan100, @deepthi, @ajm188, @harshit-gangal

[release-19.0] Release of `v19.0.1` (#15482)
  .github/workflows/code_freeze.yml
  changelog/19.0/19.0.1/changelog.md
  changelog/19.0/19.0.1/release_notes.md
  changelog/19.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @shlomi-noach, @GuptaManan100, @deepthi, @ajm188, @harshit-gangal

[release-19.0] Bump to `v19.0.2-SNAPSHOT` after the `v19.0.1` release (#15491)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

[release-18.0] Bump to `v18.0.4-SNAPSHOT` after the `v18.0.3` release (#15489)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

backport of 4702 (#4704)
  go/sqltypes/value.go
  go/sqltypes/value_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-whitespace/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-whitespace/create.sql
  go/vt/schema/parser.go
  go/vt/schema/parser_test.go
  go/vt/vttablet/onlineddl/vrepl/columns_test.go
Owners: @harshit-gangal, @shlomi-noach, @mattlord, @rohit-nayak-ps

backport of 4702 (#4704)
  go/sqltypes/value.go
  go/sqltypes/value_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-whitespace/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-whitespace/create.sql
  go/vt/schema/parser.go
  go/vt/schema/parser_test.go
  go/vt/vttablet/onlineddl/vrepl/columns_test.go
Owners: @harshit-gangal, @shlomi-noach, @mattlord, @rohit-nayak-ps

backport of 4702 (#4705)
  go/sqltypes/value.go
  go/sqltypes/value_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-whitespace/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-whitespace/create.sql
  go/vt/schema/parser.go
  go/vt/schema/parser_test.go
  go/vt/vttablet/onlineddl/vrepl/columns_test.go
Owners: @harshit-gangal, @shlomi-noach, @mattlord, @rohit-nayak-ps

backport of 4702 (#4705)
  go/sqltypes/value.go
  go/sqltypes/value_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-whitespace/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-whitespace/create.sql
  go/vt/schema/parser.go
  go/vt/schema/parser_test.go
  go/vt/vttablet/onlineddl/vrepl/columns_test.go
Owners: @harshit-gangal, @shlomi-noach, @mattlord, @rohit-nayak-ps

backport of 4707 (#4709)
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Owners: @planetscale/eng-vitess

backport of 4707 (#4709)
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Owners: @planetscale/eng-vitess

tm client dialer's rpcClientMap is now based on an expiring map
  go/vt/vttablet/grpctmclient/client.go
Owners: @ajm188, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

tm client dialer's rpcClientMap is now based on an expiring map
  go/vt/vttablet/grpctmclient/client.go
Owners: @ajm188, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

cherry pick of 15514 (#4716) (#4718)
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 15514 (#4716) (#4718)
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

proto: upgrade vtprotobuf
  go.mod
  go.sum
  go/mysql/conn.go
  go/mysql/query.go
  go/mysql/result.go
  go/mysql/streaming_query.go
  go/sqltypes/proto3.go
  go/sqltypes/result.go
  go/vt/dbconnpool/connection.go
  go/vt/proto/binlogdata/binlogdata_vtproto.pb.go
  go/vt/proto/logutil/logutil_vtproto.pb.go
  go/vt/proto/mysqlctl/mysqlctl_vtproto.pb.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/query/query_cached.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/proto/replicationdata/replicationdata_vtproto.pb.go
  go/vt/proto/tableacl/tableacl_vtproto.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/throttlerdata/throttlerdata_vtproto.pb.go
  go/vt/proto/topodata/topodata_vtproto.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/proto/vtrpc/vtrpc_vtproto.pb.go
  go/vt/proto/vttest/vttest_vtproto.pb.go
  go/vt/proto/vttime/vttime_vtproto.pb.go
  go/vt/servenv/grpc_codec.go
  go/vt/vttablet/grpcqueryservice/server.go
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/stateful_connection.go
  proto/query.proto
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @mattlord, @deepthi, @ajm188, @notfelineit, @rohit-nayak-ps, @shlomi-noach

fix protobuf gen
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
Owners: @deepthi, @harshit-gangal, @mattlord

size hinting
  go/mathstats/ewma.go
  go/mysql/query.go
  go/mysql/result.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_executor.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @mattlord, @shlomi-noach, @rohit-nayak-ps

backport of 4723 (#4726)
  go/vt/vtgate/evalengine/api_type_aggregation.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber
