Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit

backport of 4723 (#4726)
  go/vt/vtgate/evalengine/api_type_aggregation.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

lol
  go/mysql/conn.go
  go/test/endtoend/vtgate/queries/benchmark/oltp_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui

Solve throttler starvation issue, vitess-private 18 (#4738)
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Solve throttler starvation issue, vitess-private 18 (#4738)
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Solve throttler starvation issue, vitess-private 17 (#4739)
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Solve throttler starvation issue, vitess-private 17 (#4739)
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

feat: added simple-concatenate
  go/vt/vtgate/engine/simple_concatenate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

feat: add coerce primitive
  go/vt/vtgate/engine/coerce.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

feat: add planner support for simpler concatenate code when possible
  go/vt/vtgate/engine/coerce.go
  go/vt/vtgate/planbuilder/concatenate.go
  go/vt/vtgate/planbuilder/filter.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

chore: clean up and make fast
  go/vt/vtgate/engine/coerce.go
  go/vt/vtgate/engine/simple_concatenate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

feat: simplify the code for parallel execution
  go/vt/vtgate/engine/concatenate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

test: add benchmarks for concatenate and simple-concatenate
  go/vt/vtgate/engine/concatenate_test.go
  go/vt/vtgate/engine/simple_concatenate_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

chore: small fixes
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/simple_concatenate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

refactor: extract helper method
  go/vt/vtgate/engine/coerce.go
  go/vt/vtgate/evalengine/compiler.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

chore: sizegen
  go/vt/vtgate/engine/cached_size.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4731 (#4751)
  .github/actions/_planetscale_slack-notify/package-lock.json
  .github/actions/_planetscale_slack-notify/package.json
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4731 (#4751)
  .github/actions/_planetscale_slack-notify/package-lock.json
  .github/actions/_planetscale_slack-notify/package.json
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4731 (#4750)
  .github/actions/_planetscale_slack-notify/package-lock.json
  .github/actions/_planetscale_slack-notify/package.json
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4731 (#4750)
  .github/actions/_planetscale_slack-notify/package-lock.json
  .github/actions/_planetscale_slack-notify/package.json
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4753 (#4756)
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/mysqld.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
Owners: @deepthi, @mattlord, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

backport of 4753 (#4756)
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/mysqld.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
Owners: @deepthi, @mattlord, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

backport of 4753 (#4757)
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/mysqld.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
Owners: @deepthi, @mattlord, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

backport of 4753 (#4757)
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/mysqld.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
Owners: @deepthi, @mattlord, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

endtoend: add a cpu/memory test suite
  go/test/endtoend/vtbench/main.go
  go/test/endtoend/vtbench/oltp.go
  go/test/endtoend/vtbench/sharded_schema.sql
  go/test/endtoend/vtbench/vschema.json
  go/vt/servenv/metrics.go
Owners: @planetscale/eng-vitess, @deepthi, @ajm188

endtoend: add a cpu/memory test suite
  go/test/endtoend/vtbench/main.go
  go/test/endtoend/vtbench/oltp.go
  go/test/endtoend/vtbench/sharded_schema.sql
  go/test/endtoend/vtbench/vschema.json
  go/vt/servenv/metrics.go
Owners: @planetscale/eng-vitess, @deepthi, @ajm188

cherry pick of 15550 (#4766) (#4768)
  go/test/endtoend/vtgate/queries/reference/reference_test.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/reference_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/semantic_state.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 15550 (#4766) (#4768)
  go/test/endtoend/vtgate/queries/reference/reference_test.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/reference_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/semantic_state.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 4766 (#4767)
  go/test/endtoend/vtgate/queries/reference/reference_test.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/reference_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 4766 (#4767)
  go/test/endtoend/vtgate/queries/reference/reference_test.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/reference_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 4777 (#4778)
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 4777 (#4778)
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

Update internal KeyspaceSchema object and add unit test for it
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

Add multi_tenant attribute to keyspace
  doc/mt.md
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  proto/vschema.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @deepthi, @frouioui, @GuptaManan100, @harshit-gangal, @mattlord, @ajm188, @notfelineit

Change multi tenant attribute to use an object with column name/type. Update tests
  doc/mt.md
  go/cmd/vtctldclient/command/vreplication/movetables/create.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
  proto/vschema.proto
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @deepthi, @frouioui, @GuptaManan100, @mattlord, @rohit-nayak-ps, @harshit-gangal, @systay, @ajm188, @notfelineit

Fix json serialization/deserialization adding a test for it
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

Add tenant id to Create. Pass it to the server
  go/cmd/vtctldclient/command/vreplication/movetables/create.go
  go/cmd/vtctldclient/command/vreplication/movetables/movetables.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/workflow/server.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @mattlord, @rohit-nayak-ps, @deepthi, @harshit-gangal, @ajm188, @notfelineit

Create json/struct for vrep options and update related sql/func. Update create options and also add source alias.
  go/cmd/vtctldclient/command/vreplication/movetables/create.go
  go/cmd/vtctldclient/command/vreplication/movetables/movetables.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/sidecardb/schema/vreplication/vreplication.sql
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletmanager/rpc_vreplication.go
  proto/tabletmanagerdata.proto
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @mattlord, @rohit-nayak-ps, @planetscale/eng-vitess, @deepthi, @harshit-gangal, @GuptaManan100, @shlomi-noach, @ajm188, @notfelineit

Initial e2e test
  go/test/endtoend/vreplication/multi_tenant_test.go
Owners: @planetscale/eng-vitess

Add logic to append tenant clause filter to forward workflow
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/utils.go
Owners: @deepthi

Add e2e test to CI
  doc/mt.md
  go/vt/vttablet/tabletmanager/rpc_vreplication.go
  test/ci_workflow_gen.go
  test/config.json
Owners: @deepthi, @frouioui, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach
