Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

backport of 4093 (#4094)
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/consistent_lookup_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4093 (#4094)
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/consistent_lookup_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4093 (#4095)
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/consistent_lookup_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4093 (#4095)
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/consistent_lookup_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4096 (#4100)
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/test/endtoend/vtgate/queries/informationschema/schema.sql
  go/test/endtoend/vtgate/queries/informationschema/vschema.json
  go/vt/vtgate/evalengine/api_arithmetic_test.go
  go/vt/vtgate/evalengine/eval.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4096 (#4100)
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/test/endtoend/vtgate/queries/informationschema/schema.sql
  go/test/endtoend/vtgate/queries/informationschema/vschema.json
  go/vt/vtgate/evalengine/api_arithmetic_test.go
  go/vt/vtgate/evalengine/eval.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

[latest-17.0](#4096): CherryPick(#14906): evalengine bugfix: handle nil evals correctly when coercing values (#4098)
  go/vt/vtgate/evalengine/api_arithmetic_test.go
  go/vt/vtgate/evalengine/eval.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

[latest-17.0](#4096): CherryPick(#14906): evalengine bugfix: handle nil evals correctly when coercing values (#4098)
  go/vt/vtgate/evalengine/api_arithmetic_test.go
  go/vt/vtgate/evalengine/eval.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

[release-18]: Vindexes: Pass context in consistent lookup handleDup (#14653) (#14911)
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/consistent_lookup_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

[release-17]: Vindexes: Pass context in consistent lookup handleDup (#14653) (#14912)
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/consistent_lookup_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4105 (#4107)
  go/vt/vtgate/vtgate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4105 (#4107)
  go/vt/vtgate/vtgate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4105 (#4108)
  go/vt/vtgate/vtgate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4105 (#4108)
  go/vt/vtgate/vtgate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4097 (#4113)
  go/vt/vttablet/tabletmanager/rpc_query.go
  go/vt/vttablet/tabletmanager/rpc_query_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal, @systay

backport of 4097 (#4113)
  go/vt/vttablet/tabletmanager/rpc_query.go
  go/vt/vttablet/tabletmanager/rpc_query_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal, @systay

Block replication and query RPC calls until wait for dba grants has completed (#14836) (#4097) (#4112)
  go/vt/vttablet/tabletmanager/rpc_query.go
  go/vt/vttablet/tabletmanager/rpc_query_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal, @systay

Block replication and query RPC calls until wait for dba grants has completed (#14836) (#4097) (#4112)
  go/vt/vttablet/tabletmanager/rpc_query.go
  go/vt/vttablet/tabletmanager/rpc_query_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal, @systay

normalize tuple value as list argument
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100

normalize tuple value as list argument
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100

[latest-18.0](#4115): CherryPick(#14916): VReplication: send unique key name to `rowstreamer`, which can then use with `FORCE INDEX` (#4116)
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogdata/binlogdata_vtproto.pb.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer_test.go
  proto/binlogdata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @deepthi, @harshit-gangal, @mattlord, @rohit-nayak-ps, @shlomi-noach, @systay, @ajm188, @notfelineit

[latest-18.0](#4115): CherryPick(#14916): VReplication: send unique key name to `rowstreamer`, which can then use with `FORCE INDEX` (#4116)
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogdata/binlogdata_vtproto.pb.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer_test.go
  proto/binlogdata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @deepthi, @harshit-gangal, @mattlord, @rohit-nayak-ps, @shlomi-noach, @systay, @ajm188, @notfelineit

[latest-18.0](#4121): CherryPick(#14848): vtgate: record warning for partially successful cross-shard commits (#4122)
  go/mysql/sqlerror/constants.go
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/tx_conn_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

[latest-18.0](#4121): CherryPick(#14848): vtgate: record warning for partially successful cross-shard commits (#4122)
  go/mysql/sqlerror/constants.go
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/tx_conn_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

[latest-17.0](#4121): CherryPick(#14848): vtgate: record warning for partially successful cross-shard commits (#4123)
  go/mysql/sqlerror/constants.go
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/tx_conn_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

[latest-17.0](#4121): CherryPick(#14848): vtgate: record warning for partially successful cross-shard commits (#4123)
  go/mysql/sqlerror/constants.go
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/tx_conn_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 4129 (#4130)
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 4129 (#4130)
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 4129 (#4132)
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 4129 (#4132)
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

ExecuteFetch: error on multiple results
  go/mysql/query.go
Owners: @harshit-gangal, @systay, @mattlord

more suggestive description
  go/mysql/query.go
Owners: @harshit-gangal, @systay, @mattlord

Fix ApplySchema --batch-size
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/sqlparser/utils.go
  go/vt/sqlparser/utils_test.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/tabletmanager/rpc_query.go
  go/vt/vttablet/tabletmanager/rpc_query_test.go
  proto/tabletmanagerdata.proto
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @deepthi, @harshit-gangal, @mattlord, @planetscale/eng-vitess, @systay, @GuptaManan100, @ajm188, @notfelineit, @rohit-nayak-ps, @shlomi-noach

Fix ApplySchema --batch-size
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/sqlparser/utils.go
  go/vt/sqlparser/utils_test.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/tabletmanager/rpc_query.go
  go/vt/vttablet/tabletmanager/rpc_query_test.go
  proto/tabletmanagerdata.proto
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @deepthi, @harshit-gangal, @mattlord, @planetscale/eng-vitess, @systay, @GuptaManan100, @ajm188, @notfelineit, @rohit-nayak-ps, @shlomi-noach

[latest-18.0](#4155): CherryPick(#14971): Throttler: fix race conditions in Operate() termination and in tests (#4156)
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

[latest-18.0](#4155): CherryPick(#14971): Throttler: fix race conditions in Operate() termination and in tests (#4156)
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 4158 (#4159)
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/vttablet/grpctmclient/client.go
Owners: @planetscale/eng-vitess, @ajm188, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

backport of 4158 (#4159)
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/vttablet/grpctmclient/client.go
Owners: @planetscale/eng-vitess, @ajm188, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

[latest-18.0](#4154): CherryPick(#14900): `schemadiff`: formalize `InstantDDLCapability` (#4157)
  go/mysql/capabilities/capability.go
  go/mysql/capabilities/capability_test.go
  go/mysql/flavor.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysql_test.go
  go/mysql/flavor_mysqlgr.go
  go/mysql/flavor_mysqlgr_test.go
  go/mysql/flavor_test.go
  go/vt/schemadiff/capability.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/types.go
  go/vt/schemadiff/view.go
Owners: @harshit-gangal, @systay, @mattlord, @planetscale/eng-vitess

[latest-18.0](#4154): CherryPick(#14900): `schemadiff`: formalize `InstantDDLCapability` (#4157)
  go/mysql/capabilities/capability.go
  go/mysql/capabilities/capability_test.go
  go/mysql/flavor.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysql_test.go
  go/mysql/flavor_mysqlgr.go
  go/mysql/flavor_mysqlgr_test.go
  go/mysql/flavor_test.go
  go/vt/schemadiff/capability.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/types.go
  go/vt/schemadiff/view.go
Owners: @harshit-gangal, @systay, @mattlord, @planetscale/eng-vitess

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
