Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit

Cleanup more from the vendored code
  go/mysql/collations/vindex/gen.go
  go/mysql/collations/vindex/internal/gen/bitfield/bitfield.go
  go/mysql/collations/vindex/internal/gen/code.go
  go/mysql/collations/vindex/internal/gen/gen.go
  go/mysql/collations/vindex/internal/triegen/compact.go
  go/mysql/collations/vindex/internal/triegen/print.go
  go/mysql/collations/vindex/internal/triegen/triegen.go
  go/mysql/collations/vindex/internal/ucd/ucd.go
  go/mysql/collations/vindex/unicode/cldr/base.go
  go/mysql/collations/vindex/unicode/cldr/cldr.go
  go/mysql/collations/vindex/unicode/cldr/collate.go
  go/mysql/collations/vindex/unicode/cldr/decode.go
  go/mysql/collations/vindex/unicode/cldr/makexml.go
  go/mysql/collations/vindex/unicode/cldr/resolve.go
  go/mysql/collations/vindex/unicode/cldr/slice.go
  go/mysql/collations/vindex/unicode/cldr/xml.go
  go/mysql/collations/vindex/unicode/norm/maketables.go
  go/mysql/collations/vindex/unicode/norm/normalize.go
  go/mysql/collations/vindex/unicode/norm/readwriter.go
  go/mysql/collations/vindex/unicode/norm/triegen.go
Owners: @harshit-gangal, @systay, @mattlord

Even more cleanup
  go/mysql/collations/vindex/internal/colltab/iter.go
  go/mysql/collations/vindex/internal/colltab/numeric.go
  go/mysql/collations/vindex/internal/colltab/table.go
  go/mysql/collations/vindex/internal/colltab/weighter.go
Owners: @harshit-gangal, @systay, @mattlord

Even more cleanup
  go/mysql/collations/vindex/internal/colltab/iter.go
  go/mysql/collations/vindex/internal/colltab/numeric.go
  go/mysql/collations/vindex/internal/colltab/table.go
  go/mysql/collations/vindex/internal/colltab/weighter.go
Owners: @harshit-gangal, @systay, @mattlord

backport of 3525 (#3527)
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  test/config.json
Owners: @shlomi-noach, @harshit-gangal, @systay, @frouioui, @mattlord, @rohit-nayak-ps, @GuptaManan100

backport of 3525 (#3527)
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  test/config.json
Owners: @shlomi-noach, @harshit-gangal, @systay, @frouioui, @mattlord, @rohit-nayak-ps, @GuptaManan100

vindexes: new hasher
  go/mysql/collations/vindex/collate/collate.go
  go/mysql/collations/vindex/collate/golden_test.go
  go/vt/vtgate/vindexes/hash_test.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash.go
  go/vt/vtgate/vindexes/unicode.go
  go/vt/vtgate/vindexes/unicode_test.go
  go/vt/vtgate/vindexes/unicodeloosemd5.go
  go/vt/vtgate/vindexes/unicodeloosexxhash.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

vindexes: new hasher
  go/mysql/collations/vindex/collate/collate.go
  go/mysql/collations/vindex/collate/golden_test.go
  go/vt/vtgate/vindexes/hash_test.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash.go
  go/vt/vtgate/vindexes/unicode.go
  go/vt/vtgate/vindexes/unicode_test.go
  go/vt/vtgate/vindexes/unicodeloosemd5.go
  go/vt/vtgate/vindexes/unicodeloosexxhash.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

vindexes: implement tests
  go/mysql/collations/colldata/golden_test.go
  go/mysql/collations/integration/weight_string_test.go
  go/mysql/collations/testutil/golden.go
  go/mysql/collations/testutil/lang.go
  go/mysql/collations/tools/maketestdata/maketestdata.go
  go/vt/vtgate/vindexes/unicode_hash_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

vindexes: implement tests
  go/mysql/collations/colldata/golden_test.go
  go/mysql/collations/integration/weight_string_test.go
  go/mysql/collations/testutil/golden.go
  go/mysql/collations/testutil/lang.go
  go/mysql/collations/tools/maketestdata/maketestdata.go
  go/vt/vtgate/vindexes/unicode_hash_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

cherry pick of 14267 (#3396) (#3516)
  go/test/endtoend/vtgate/queries/no_scatter/main_test.go
  go/test/endtoend/vtgate/queries/no_scatter/queries_test.go
  go/test/endtoend/vtgate/queries/no_scatter/schema.sql
  go/test/endtoend/vtgate/queries/no_scatter/vschema.json
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/comments.go
  go/vt/sqlparser/comments_test.go
  go/vt/vtgate/executor_ddl_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/vexplain.go
  go/vt/vttablet/tabletserver/query_engine.go
  test/config.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber, @shlomi-noach, @rohit-nayak-ps

cherry pick of 14267 (#3396) (#3516)
  go/test/endtoend/vtgate/queries/no_scatter/main_test.go
  go/test/endtoend/vtgate/queries/no_scatter/queries_test.go
  go/test/endtoend/vtgate/queries/no_scatter/schema.sql
  go/test/endtoend/vtgate/queries/no_scatter/vschema.json
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/comments.go
  go/vt/sqlparser/comments_test.go
  go/vt/vtgate/executor_ddl_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/vexplain.go
  go/vt/vttablet/tabletserver/query_engine.go
  test/config.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber, @shlomi-noach, @rohit-nayak-ps

unicode: fix endianness
  go/vt/vtgate/vindexes/unicode.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

unicode: fix endianness
  go/vt/vtgate/vindexes/unicode.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

wip
  go/mysql/collations/vindex/collate/collate.go
  go/vt/vtgate/vindexes/unicode_hash_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

wip
  go/mysql/collations/vindex/collate/collate.go
  go/vt/vtgate/vindexes/unicode_hash_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 3529 (#3530)
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/materializer_env_test.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/materializer_env_test.go
  go/vt/wrangler/materializer_test.go
Owners: @deepthi, @mattlord, @rohit-nayak-ps

backport of 3529 (#3530)
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/materializer_env_test.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/materializer_env_test.go
  go/vt/wrangler/materializer_test.go
Owners: @deepthi, @mattlord, @rohit-nayak-ps

cherry pick of 14383 (#3523) (#3524)
  go/vt/vtgate/endtoend/main_test.go
  go/vt/vtgate/endtoend/oltp_test.go
  go/vt/vtgate/endtoend/schema.sql
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/evalengine/api_compare.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @planetscale/eng-vitess

cherry pick of 14383 (#3523) (#3524)
  go/vt/vtgate/endtoend/main_test.go
  go/vt/vtgate/endtoend/oltp_test.go
  go/vt/vtgate/endtoend/schema.sql
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/evalengine/api_compare.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @planetscale/eng-vitess

[latest-17.0](#3494): CherryPick(#14366): feat: support invisible columns (#3497)
  go/mysql/schema.go
  go/vt/sidecardb/schema/schematracker/schemacopy.sql
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/vindexes/vschema.go
Owners: @harshit-gangal, @systay, @mattlord, @planetscale/eng-vitess, @frouioui, @GuptaManan100, @arthurschreiber

[latest-17.0](#3494): CherryPick(#14366): feat: support invisible columns (#3497)
  go/mysql/schema.go
  go/vt/sidecardb/schema/schematracker/schemacopy.sql
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/vindexes/vschema.go
Owners: @harshit-gangal, @systay, @mattlord, @planetscale/eng-vitess, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3507 (#3534)
  go/vt/sidecardb/schema/vdiff/vdiff.sql
  go/vt/vttablet/tabletmanager/vdiff/engine_test.go
  go/vt/vttablet/tabletmanager/vdiff/framework_test.go
  go/vt/vttablet/tabletmanager/vdiff/schema.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
Owners: @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

backport of 3507 (#3534)
  go/vt/sidecardb/schema/vdiff/vdiff.sql
  go/vt/vttablet/tabletmanager/vdiff/engine_test.go
  go/vt/vttablet/tabletmanager/vdiff/framework_test.go
  go/vt/vttablet/tabletmanager/vdiff/schema.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
Owners: @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

backport of 3508 (#3533)
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
Owners: @deepthi

backport of 3508 (#3533)
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
Owners: @deepthi

backport of 3535 (#3537)
  go/sqltypes/bind_variables.go
  go/sqltypes/bind_variables_test.go
  go/sqltypes/cached_size.go
  go/sqltypes/testing.go
  go/sqltypes/value.go
  go/vt/proto/query/cached_size.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fk_cascade.go
  go/vt/vtgate/engine/fk_cascade_test.go
  go/vt/vttablet/endtoend/misc_test.go
  proto/query.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @harshit-gangal, @deepthi, @mattlord, @systay, @frouioui, @GuptaManan100, @rohit-nayak-ps, @ajm188, @notfelineit

backport of 3535 (#3537)
  go/sqltypes/bind_variables.go
  go/sqltypes/bind_variables_test.go
  go/sqltypes/cached_size.go
  go/sqltypes/testing.go
  go/sqltypes/value.go
  go/vt/proto/query/cached_size.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fk_cascade.go
  go/vt/vtgate/engine/fk_cascade_test.go
  go/vt/vttablet/endtoend/misc_test.go
  proto/query.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @harshit-gangal, @deepthi, @mattlord, @systay, @frouioui, @GuptaManan100, @rohit-nayak-ps, @ajm188, @notfelineit

[latest-17.0](#3529): CherryPick(#14384): VStream: Skip vindex keyrange filtering when we can (#3532)
  go/vt/vttablet/tabletmanager/vreplication/external_connector_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/journal_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/materializer_env_test.go
  go/vt/wrangler/materializer_test.go
Owners: @rohit-nayak-ps, @mattlord, @deepthi

[latest-17.0](#3529): CherryPick(#14384): VStream: Skip vindex keyrange filtering when we can (#3532)
  go/vt/vttablet/tabletmanager/vreplication/external_connector_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/journal_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/materializer_env_test.go
  go/vt/wrangler/materializer_test.go
Owners: @rohit-nayak-ps, @mattlord, @deepthi

backport of 3545 (#3551)
  go.mod
  go/mysql/collations/colldata/golden_test.go
  go/mysql/collations/integration/collations_test.go
  go/mysql/collations/integration/weight_string_test.go
  go/mysql/collations/internal/testutil/golden.go
  go/mysql/collations/internal/testutil/lang.go
  go/mysql/collations/testutil/golden.go
  go/mysql/collations/testutil/lang.go
  go/mysql/collations/tools/maketestdata/maketestdata.go
  go/mysql/collations/vindex/.gitignore
  go/mysql/collations/vindex/LICENSE
  go/mysql/collations/vindex/PATENTS
  go/mysql/collations/vindex/collate/collate.go
  go/mysql/collations/vindex/collate/index.go
  go/mysql/collations/vindex/doc.go
  go/mysql/collations/vindex/internal/colltab/collelem.go
  go/mysql/collations/vindex/internal/colltab/contract.go
  go/mysql/collations/vindex/internal/colltab/iter.go
  go/mysql/collations/vindex/internal/colltab/table.go
  go/mysql/collations/vindex/internal/colltab/trie.go
  go/mysql/collations/vindex/unicode/doc.go
  go/mysql/collations/vindex/unicode/norm/composition.go
  go/mysql/collations/vindex/unicode/norm/forminfo.go
  go/mysql/collations/vindex/unicode/norm/input.go
  go/mysql/collations/vindex/unicode/norm/normalize.go
  go/mysql/collations/vindex/unicode/norm/tables15.0.0.go
  go/mysql/collations/vindex/unicode/norm/trie.go
  go/mysql/json/json_path.go
  go/textutil/strings.go
  go/tools/asthelpergen/asthelpergen.go
  go/unicode2/unicode.go
  go/vt/mysqlctl/backup.go
  go/vt/vtgate/vindexes/hash_test.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash.go
  go/vt/vtgate/vindexes/testdata/unicode_hash_golden.json
  go/vt/vtgate/vindexes/unicode.go
  go/vt/vtgate/vindexes/unicode_hash_test.go
  go/vt/vtgate/vindexes/unicode_test.go
  go/vt/vtgate/vindexes/unicodeloosemd5.go
  go/vt/vtgate/vindexes/unicodeloosexxhash.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @mattlord, @frouioui, @deepthi, @GuptaManan100

backport of 3545 (#3551)
  go.mod
  go/mysql/collations/colldata/golden_test.go
  go/mysql/collations/integration/collations_test.go
  go/mysql/collations/integration/weight_string_test.go
  go/mysql/collations/internal/testutil/golden.go
  go/mysql/collations/internal/testutil/lang.go
  go/mysql/collations/testutil/golden.go
  go/mysql/collations/testutil/lang.go
  go/mysql/collations/tools/maketestdata/maketestdata.go
  go/mysql/collations/vindex/.gitignore
  go/mysql/collations/vindex/LICENSE
  go/mysql/collations/vindex/PATENTS
  go/mysql/collations/vindex/collate/collate.go
  go/mysql/collations/vindex/collate/index.go
  go/mysql/collations/vindex/doc.go
  go/mysql/collations/vindex/internal/colltab/collelem.go
  go/mysql/collations/vindex/internal/colltab/contract.go
  go/mysql/collations/vindex/internal/colltab/iter.go
  go/mysql/collations/vindex/internal/colltab/table.go
  go/mysql/collations/vindex/internal/colltab/trie.go
  go/mysql/collations/vindex/unicode/doc.go
  go/mysql/collations/vindex/unicode/norm/composition.go
  go/mysql/collations/vindex/unicode/norm/forminfo.go
  go/mysql/collations/vindex/unicode/norm/input.go
  go/mysql/collations/vindex/unicode/norm/normalize.go
  go/mysql/collations/vindex/unicode/norm/tables15.0.0.go
  go/mysql/collations/vindex/unicode/norm/trie.go
  go/mysql/json/json_path.go
  go/textutil/strings.go
  go/tools/asthelpergen/asthelpergen.go
  go/unicode2/unicode.go
  go/vt/mysqlctl/backup.go
  go/vt/vtgate/vindexes/hash_test.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash.go
  go/vt/vtgate/vindexes/testdata/unicode_hash_golden.json
  go/vt/vtgate/vindexes/unicode.go
  go/vt/vtgate/vindexes/unicode_hash_test.go
  go/vt/vtgate/vindexes/unicode_test.go
  go/vt/vtgate/vindexes/unicodeloosemd5.go
  go/vt/vtgate/vindexes/unicodeloosexxhash.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @mattlord, @frouioui, @deepthi, @GuptaManan100

backport of 3545 (#3548)
  go.mod
  go/mysql/collations/colldata/golden_test.go
  go/mysql/collations/integration/collations_test.go
  go/mysql/collations/integration/weight_string_test.go
  go/mysql/collations/internal/testutil/golden.go
  go/mysql/collations/internal/testutil/lang.go
  go/mysql/collations/testutil/golden.go
  go/mysql/collations/testutil/lang.go
  go/mysql/collations/tools/maketestdata/maketestdata.go
  go/mysql/collations/vindex/.gitignore
  go/mysql/collations/vindex/LICENSE
  go/mysql/collations/vindex/PATENTS
  go/mysql/collations/vindex/collate/collate.go
  go/mysql/collations/vindex/collate/index.go
  go/mysql/collations/vindex/doc.go
  go/mysql/collations/vindex/internal/colltab/collelem.go
  go/mysql/collations/vindex/internal/colltab/contract.go
  go/mysql/collations/vindex/internal/colltab/iter.go
  go/mysql/collations/vindex/internal/colltab/table.go
  go/mysql/collations/vindex/internal/colltab/trie.go
  go/mysql/collations/vindex/unicode/doc.go
  go/mysql/collations/vindex/unicode/norm/composition.go
  go/mysql/collations/vindex/unicode/norm/forminfo.go
  go/mysql/collations/vindex/unicode/norm/input.go
  go/mysql/collations/vindex/unicode/norm/normalize.go
  go/mysql/collations/vindex/unicode/norm/tables15.0.0.go
  go/mysql/collations/vindex/unicode/norm/trie.go
  go/mysql/json/json_path.go
  go/textutil/strings.go
  go/tools/asthelpergen/asthelpergen.go
  go/unicode2/unicode.go
  go/vt/mysqlctl/backup.go
  go/vt/vtgate/vindexes/hash_test.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash.go
  go/vt/vtgate/vindexes/testdata/unicode_hash_golden.json
  go/vt/vtgate/vindexes/unicode.go
  go/vt/vtgate/vindexes/unicode_hash_test.go
  go/vt/vtgate/vindexes/unicode_test.go
  go/vt/vtgate/vindexes/unicodeloosemd5.go
  go/vt/vtgate/vindexes/unicodeloosexxhash.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @mattlord, @frouioui, @deepthi, @GuptaManan100

backport of 3545 (#3548)
  go.mod
  go/mysql/collations/colldata/golden_test.go
  go/mysql/collations/integration/collations_test.go
  go/mysql/collations/integration/weight_string_test.go
  go/mysql/collations/internal/testutil/golden.go
  go/mysql/collations/internal/testutil/lang.go
  go/mysql/collations/testutil/golden.go
  go/mysql/collations/testutil/lang.go
  go/mysql/collations/tools/maketestdata/maketestdata.go
  go/mysql/collations/vindex/.gitignore
  go/mysql/collations/vindex/LICENSE
  go/mysql/collations/vindex/PATENTS
  go/mysql/collations/vindex/collate/collate.go
  go/mysql/collations/vindex/collate/index.go
  go/mysql/collations/vindex/doc.go
  go/mysql/collations/vindex/internal/colltab/collelem.go
  go/mysql/collations/vindex/internal/colltab/contract.go
  go/mysql/collations/vindex/internal/colltab/iter.go
  go/mysql/collations/vindex/internal/colltab/table.go
  go/mysql/collations/vindex/internal/colltab/trie.go
  go/mysql/collations/vindex/unicode/doc.go
  go/mysql/collations/vindex/unicode/norm/composition.go
  go/mysql/collations/vindex/unicode/norm/forminfo.go
  go/mysql/collations/vindex/unicode/norm/input.go
  go/mysql/collations/vindex/unicode/norm/normalize.go
  go/mysql/collations/vindex/unicode/norm/tables15.0.0.go
  go/mysql/collations/vindex/unicode/norm/trie.go
  go/mysql/json/json_path.go
  go/textutil/strings.go
  go/tools/asthelpergen/asthelpergen.go
  go/unicode2/unicode.go
  go/vt/mysqlctl/backup.go
  go/vt/vtgate/vindexes/hash_test.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash.go
  go/vt/vtgate/vindexes/testdata/unicode_hash_golden.json
  go/vt/vtgate/vindexes/unicode.go
  go/vt/vtgate/vindexes/unicode_hash_test.go
  go/vt/vtgate/vindexes/unicode_test.go
  go/vt/vtgate/vindexes/unicodeloosemd5.go
  go/vt/vtgate/vindexes/unicodeloosexxhash.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @mattlord, @frouioui, @deepthi, @GuptaManan100

backport of 3547 (#3550)
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
Owners: @shlomi-noach

backport of 3547 (#3550)
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
Owners: @shlomi-noach

Code freeze of release-18.0 (#14405)
  .github/workflows/code_freeze.yml
Owners: @frouioui

backport of 3547 (#3552)
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
Owners: @shlomi-noach

backport of 3547 (#3552)
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
Owners: @shlomi-noach

Code freeze of release-17.0 (#14407)
  .github/workflows/code_freeze.yml
Owners: @frouioui

Code freeze of release-16.0 (#14409)
  .github/workflows/code_freeze.yml
Owners: @frouioui
