Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

WIP
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/movetables_all_test.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/wrangler/traffic_switcher.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @planetscale/eng-vitess, @deepthi, @harshit-gangal, @mattlord, @rohit-nayak-ps, @ajm188, @notfelineit

backport of 4775 (#4790)
  .github/workflows/_planetscale_pr_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4775 (#4790)
  .github/workflows/_planetscale_pr_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4775 (#4791)
  .github/workflows/_planetscale_pr_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4775 (#4791)
  .github/workflows/_planetscale_pr_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

[latest-18.0](#4746): CherryPick(#15528): Respect Straight Join in Vitess query planning (#4796)
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/early_rewriter.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#4746): CherryPick(#15528): Respect Straight Join in Vitess query planning (#4796)
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/early_rewriter.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 4786 (#4797)
  go/logstats/logger.go
  go/vt/vtgate/logstats/logstats.go
  go/vt/vtgate/logstats/logstats_test.go
  go/vt/vttablet/filelogger/filelogger_test.go
  go/vt/vttablet/sysloglogger/sysloglogger_test.go
  go/vt/vttablet/tabletserver/tabletenv/logstats.go
  go/vt/vttablet/tabletserver/tabletenv/logstats_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @shlomi-noach, @rohit-nayak-ps

backport of 4786 (#4797)
  go/logstats/logger.go
  go/vt/vtgate/logstats/logstats.go
  go/vt/vtgate/logstats/logstats_test.go
  go/vt/vttablet/filelogger/filelogger_test.go
  go/vt/vttablet/sysloglogger/sysloglogger_test.go
  go/vt/vttablet/tabletserver/tabletenv/logstats.go
  go/vt/vttablet/tabletserver/tabletenv/logstats_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @shlomi-noach, @rohit-nayak-ps

backport of 4799 (#4801)
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmclient/client_test.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100, @ajm188, @rohit-nayak-ps

backport of 4799 (#4801)
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmclient/client_test.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100, @ajm188, @rohit-nayak-ps

[latest-17.0](#4799): CherryPick(#15562): Dedicated poolDialer logic for VTOrc, throttler (#4802)
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmclient/client_test.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100, @ajm188, @rohit-nayak-ps

[latest-17.0](#4799): CherryPick(#15562): Dedicated poolDialer logic for VTOrc, throttler (#4802)
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmclient/client_test.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100, @ajm188, @rohit-nayak-ps

wip - add weight string column by offset
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/comments.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/hash_join.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/plan_query.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_container.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/utils_test.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/testdata/onecase.json
  go/vt/vtgate/semantics/semantic_state.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

wip - handle weightstrings on grouping columns we have not projected
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

wip - add weightstring to join and don't duplicate them
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/projection.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

wip - aggregator reuses weightstrings
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/comments.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/hash_join.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/plan_query.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/querygraph.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_container.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/utils_test.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/testdata/onecase.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

wip - weightstring grouping at the end
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[release-19.0] Fail insert when primary vindex cannot be mapped to a shard (#15500) (#15573)
  go/vt/vterrors/code.go
  go/vt/vtgate/engine/insert_common.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/executor_dml_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

Re-gen workflows
  .github/workflows/cluster_endtoend_vreplication_multicell.yml
  .github/workflows/cluster_endtoend_vreplication_partial_movetables_basic.yml
  .github/workflows/cluster_endtoend_vreplication_partial_movetables_sequences.yml
  .github/workflows/cluster_endtoend_vstream_failover.yml
  .github/workflows/cluster_endtoend_vstream_stoponreshard_false.yml
  .github/workflows/cluster_endtoend_vstream_stoponreshard_true.yml
  .github/workflows/cluster_endtoend_vstream_with_keyspaces_to_watch.yml
Owners: @frouioui

Re-gen workflows
  .github/workflows/cluster_endtoend_vreplication_multicell.yml
  .github/workflows/cluster_endtoend_vreplication_partial_movetables_basic.yml
  .github/workflows/cluster_endtoend_vreplication_partial_movetables_sequences.yml
  .github/workflows/cluster_endtoend_vstream_failover.yml
  .github/workflows/cluster_endtoend_vstream_stoponreshard_false.yml
  .github/workflows/cluster_endtoend_vstream_stoponreshard_true.yml
  .github/workflows/cluster_endtoend_vstream_with_keyspaces_to_watch.yml
Owners: @frouioui

backport of 4810 (#4814)
  go/cmd/mysqlctld/mysqlctld.go
  go/cmd/vtbackup/vtbackup.go
  go/cmd/vtcombo/main.go
  go/flags/endtoend/mysqlctld.txt
  go/vt/mysqlctl/grpcmysqlctlserver/server.go
  go/vt/mysqlctl/mycnf.go
  go/vt/servenv/run.go
  go/vt/servenv/servenv.go
  go/vt/vttablet/tabletmanager/tm_init.go
Owners: @ajm188, @planetscale/eng-vitess, @deepthi, @mattlord, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

backport of 4810 (#4814)
  go/cmd/mysqlctld/mysqlctld.go
  go/cmd/vtbackup/vtbackup.go
  go/cmd/vtcombo/main.go
  go/flags/endtoend/mysqlctld.txt
  go/vt/mysqlctl/grpcmysqlctlserver/server.go
  go/vt/mysqlctl/mycnf.go
  go/vt/servenv/run.go
  go/vt/servenv/servenv.go
  go/vt/vttablet/tabletmanager/tm_init.go
Owners: @ajm188, @planetscale/eng-vitess, @deepthi, @mattlord, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

backport of 4818 (#4823)
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/topology_recovery_test.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100

backport of 4818 (#4823)
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/topology_recovery_test.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100

cherry pick of 15485 (#4821) (#4825)
  go/test/endtoend/vtorc/api/api_test.go
  go/vt/external/golib/sqlutils/sqlutils.go
  go/vt/vtorc/db/generate_base.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_dao_test.go
  go/vt/vtorc/server/api.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100, @planetscale/eng-vitess

cherry pick of 15485 (#4821) (#4825)
  go/test/endtoend/vtorc/api/api_test.go
  go/vt/external/golib/sqlutils/sqlutils.go
  go/vt/vtorc/db/generate_base.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_dao_test.go
  go/vt/vtorc/server/api.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100, @planetscale/eng-vitess

Update cluster getTablets to fetch from vtctld
  go/vt/vtadmin/cluster/cluster.go
Owners: @ajm188, @notfelineit, @rohit-nayak-ps

Add stub for GetTablets in fakevtctldclient
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
Owners: @ajm188, @notfelineit, @rohit-nayak-ps

Update authztestgen file
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/testutil/authztestgen/config.json
Owners: @ajm188, @notfelineit, @rohit-nayak-ps

Add cluster_internal_test
  go/vt/vtadmin/cluster/cluster_internal_test.go
Owners: @ajm188, @notfelineit, @rohit-nayak-ps

TestFindSchema all pass
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtadmin/testutil/authztestgen/config.json
Owners: @ajm188, @notfelineit, @rohit-nayak-ps

backport of 4741 (#4835)
  .github/workflows/codeql_analysis.yml
Owners: @frouioui

backport of 4741 (#4835)
  .github/workflows/codeql_analysis.yml
Owners: @frouioui

cherry pick of 15591 (#4851) (#4854)
  go/cmd/vtorc/status.go
  go/flags/endtoend/vtorc.txt
  go/vt/vtorc/config/config.go
  go/vt/vtorc/db/generate_base.go
  go/vt/vtorc/inst/analysis.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_dao_test.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/topology_recovery_dao.go
  go/vt/vtorc/logic/topology_recovery_dao_test.go
  go/vt/vtorc/logic/topology_recovery_test.go
  go/vt/vtorc/logic/vtorc.go
  go/vt/vtorc/util/token.go
Owners: @ajm188, @planetscale/eng-vitess, @deepthi, @shlomi-noach, @GuptaManan100

cherry pick of 15591 (#4851) (#4854)
  go/cmd/vtorc/status.go
  go/flags/endtoend/vtorc.txt
  go/vt/vtorc/config/config.go
  go/vt/vtorc/db/generate_base.go
  go/vt/vtorc/inst/analysis.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_dao_test.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/topology_recovery_dao.go
  go/vt/vtorc/logic/topology_recovery_dao_test.go
  go/vt/vtorc/logic/topology_recovery_test.go
  go/vt/vtorc/logic/vtorc.go
  go/vt/vtorc/util/token.go
Owners: @ajm188, @planetscale/eng-vitess, @deepthi, @shlomi-noach, @GuptaManan100

CI: Upgrade/Downgrade use N+1 version of vtctld when testing with N+1 of vttablet (#15631)
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
Owners: @frouioui

Skip workflow if we are below version 20
  .github/workflows/docker_build_images.yml
Owners: @frouioui

Re-add old base/lite actions for previous releases
  .github/workflows/docker_build_old_base.yml
  .github/workflows/docker_build_old_lite.yml
Owners: @frouioui

Rename old base action
  .github/workflows/docker_build_old_base.yml
Owners: @frouioui

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
