Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

[latest-18.0](#3437): Clean up jobs for building (#3442)
  .github/workflows/_planetscale_copy_to_main.yml
  .github/workflows/_planetscale_nightly_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

[latest-18.0](#3437): Clean up jobs for building (#3442)
  .github/workflows/_planetscale_copy_to_main.yml
  .github/workflows/_planetscale_nightly_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

refactor: rework SingleUnshardedKeyspace to not use the AliasedTableExpr
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
  go/vt/vtgate/semantics/vindex_table.go
  go/vt/vtgate/semantics/vtable.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

refactor: rework SingleUnshardedKeyspace to not use the AliasedTableExpr
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
  go/vt/vtgate/semantics/vindex_table.go
  go/vt/vtgate/semantics/vtable.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

wip
  go/vt/vtgate/planbuilder/testdata/onecase.json
  go/vt/vtgate/semantics/analyzer_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

wip
  go/vt/vtgate/planbuilder/testdata/onecase.json
  go/vt/vtgate/semantics/analyzer_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3452 (#3455)
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

backport of 3452 (#3455)
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

backport of 3452 (#3454)
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

backport of 3452 (#3454)
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

Migrating GetTablets
  go/vt/vtadmin/cluster/cluster.go
Owners: @ajm188, @notfelineit, @rohit-nayak-ps

Refactoring to use healthcheck
  go/vt/vtadmin/cluster/cluster.go
Owners: @ajm188, @notfelineit, @rohit-nayak-ps

Fix TestGetSchema
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
Owners: @ajm188, @notfelineit, @rohit-nayak-ps

backport of 3463 (#3465)
  go/cmd/vtctldclient/command/vreplication/common/utils.go
  go/cmd/vtctldclient/command/vreplication/common/utils_test.go
Owners: @mattlord, @rohit-nayak-ps

backport of 3463 (#3465)
  go/cmd/vtctldclient/command/vreplication/common/utils.go
  go/cmd/vtctldclient/command/vreplication/common/utils_test.go
Owners: @mattlord, @rohit-nayak-ps

Fix TestFindSchema
  go/vt/vtadmin/api_test.go
Owners: @ajm188, @notfelineit, @rohit-nayak-ps

Fix Test_reloadTabletSchemas
  go/vt/vtadmin/cluster/cluster_internal_test.go
Owners: @ajm188, @notfelineit, @rohit-nayak-ps

backport of 3457 (#3458)
  go/vt/vtgate/engine/concatenate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3457 (#3458)
  go/vt/vtgate/engine/concatenate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3466 (#3468)
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
Owners: @shlomi-noach

backport of 3466 (#3468)
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
Owners: @shlomi-noach

backport of 3466 (#3467)
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
Owners: @shlomi-noach

backport of 3466 (#3467)
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
Owners: @shlomi-noach

latest-17.0: Drop building main (#3471)
  .github/workflows/_planetscale_nightly_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

latest-17.0: Drop building main (#3471)
  .github/workflows/_planetscale_nightly_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 3473 (#3476)
  go/mysql/datetime/datetime.go
  go/mysql/datetime/time_zone_test.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/fn_numeric.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 3473 (#3476)
  go/mysql/datetime/datetime.go
  go/mysql/datetime/time_zone_test.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/fn_numeric.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 3475 (#3480)
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Owners: @shlomi-noach, @mattlord, @rohit-nayak-ps

backport of 3475 (#3480)
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Owners: @shlomi-noach, @mattlord, @rohit-nayak-ps

backport of 3473 (#3478)
  go/mysql/datetime/datetime.go
  go/mysql/datetime/time_zone_test.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/fn_numeric.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 3473 (#3478)
  go/mysql/datetime/datetime.go
  go/mysql/datetime/time_zone_test.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/fn_numeric.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 3475 (#3479)
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Owners: @shlomi-noach, @mattlord, @rohit-nayak-ps

backport of 3475 (#3479)
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Owners: @shlomi-noach, @mattlord, @rohit-nayak-ps

backport of 3481 (#3482)
  go/boost/dataflow/flownode/internal_grouped_extremum.go
  go/mysql/datetime/datetime.go
  go/mysql/json/parser.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/expr_env.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/testcases/helpers.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 3481 (#3482)
  go/boost/dataflow/flownode/internal_grouped_extremum.go
  go/mysql/datetime/datetime.go
  go/mysql/json/parser.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/expr_env.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/testcases/helpers.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 3481 (#3483)
  go/boost/dataflow/flownode/internal_grouped_extremum.go
  go/mysql/datetime/datetime.go
  go/mysql/json/parser.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/expr_env.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/testcases/helpers.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 3481 (#3483)
  go/boost/dataflow/flownode/internal_grouped_extremum.go
  go/mysql/datetime/datetime.go
  go/mysql/json/parser.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/expr_env.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/testcases/helpers.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 3485 (#3486)
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/oltp_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3485 (#3486)
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/oltp_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 13873 (#3136) (#3487)
  changelog/18.0/18.0.0/summary.md
  go/flags/endtoend/vtorc.txt
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtorc/config/config.go
  go/vt/vtorc/inst/analysis.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/analysis_dao_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/topology_recovery_test.go
  go/vt/vtorc/test/recovery_analysis.go
Owners: @planetscale/eng-vitess, @deepthi, @shlomi-noach, @GuptaManan100

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
