Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit

cherry pick of 14417 (#3712) (#3717)
  go/vt/vtgate/planbuilder/operators/ast2op.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 14417 (#3712) (#3717)
  go/vt/vtgate/planbuilder/operators/ast2op.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

Fix nullability checks in evalengine (#14556)
  go/mysql/collations/integration/main_test.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_arithmetic.go
  go/vt/vtgate/evalengine/expr_bit.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_bit.go
  go/vt/vtgate/evalengine/fn_compare.go
  go/vt/vtgate/evalengine/fn_crypto.go
  go/vt/vtgate/evalengine/fn_hex.go
  go/vt/vtgate/evalengine/fn_json.go
  go/vt/vtgate/evalengine/fn_misc.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/executor_select_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

Release of v18.0.1 (#14550)
  .github/workflows/code_freeze.yml
  changelog/18.0/18.0.1/changelog.md
  changelog/18.0/18.0.1/release_notes.md
  changelog/18.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @shlomi-noach, @GuptaManan100, @deepthi, @ajm188, @harshit-gangal

Back to dev mode after v18.0.1 (#14580)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

fix: take lock on critical section on engine primitive stream execute apis
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/fake_primitive_test.go
  go/vt/vtgate/engine/filter.go
  go/vt/vtgate/engine/limit.go
  go/vt/vtgate/engine/limit_test.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/projection.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3723 (#3725)
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3723 (#3725)
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3723 (#3726)
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3723 (#3726)
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

test: added filter and memory sort aynsc call test
  go/vt/vtgate/engine/filter_test.go
  go/vt/vtgate/engine/memory_sort_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

fix: projection to check for results field before evaluating, added projectio and distinct streaming async test
  go/vt/vtgate/engine/distinct_test.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/projection_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

Fix the test primitive and locking
  go/vt/vtgate/engine/fake_primitive_test.go
  go/vt/vtgate/engine/limit.go
  go/vt/vtgate/engine/projection.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

Move the lock up
  go/vt/vtgate/engine/memory_sort.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

make fields as part of first callback
  go/vt/vtgate/engine/fake_primitive_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

make fields as part of first callback
  go/vt/vtgate/engine/fake_primitive_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3729 (#3730)
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/distinct_test.go
  go/vt/vtgate/engine/fake_primitive_test.go
  go/vt/vtgate/engine/filter.go
  go/vt/vtgate/engine/filter_test.go
  go/vt/vtgate/engine/limit.go
  go/vt/vtgate/engine/limit_test.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/projection_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3729 (#3730)
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/distinct_test.go
  go/vt/vtgate/engine/fake_primitive_test.go
  go/vt/vtgate/engine/filter.go
  go/vt/vtgate/engine/filter_test.go
  go/vt/vtgate/engine/limit.go
  go/vt/vtgate/engine/limit_test.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/projection_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3729 (#3732)
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/distinct_test.go
  go/vt/vtgate/engine/fake_primitive_test.go
  go/vt/vtgate/engine/filter.go
  go/vt/vtgate/engine/filter_test.go
  go/vt/vtgate/engine/limit.go
  go/vt/vtgate/engine/limit_test.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/projection_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3729 (#3732)
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/distinct_test.go
  go/vt/vtgate/engine/fake_primitive_test.go
  go/vt/vtgate/engine/filter.go
  go/vt/vtgate/engine/filter_test.go
  go/vt/vtgate/engine/limit.go
  go/vt/vtgate/engine/limit_test.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/projection_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3714 (#3735)
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui, @arthurschreiber

backport of 3714 (#3735)
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui, @arthurschreiber

backport of 3714 (#3734)
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui, @arthurschreiber

backport of 3714 (#3734)
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui, @arthurschreiber

[18.0] bug fix: stop all kinds of expressions from cnf-exploding (#14593)
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100

[16.0] bug fix: stop all kinds of expressions from cnf-exploding (#14595)
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100

[17.0] bug fix: stop all kinds of expressions from cnf-exploding (#14594)
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100

backport of 3738 (#3739)
  go/vt/vttablet/tabletserver/vstreamer/snapshot_conn.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3738 (#3739)
  go/vt/vttablet/tabletserver/vstreamer/snapshot_conn.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3741 (#3744)
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

backport of 3741 (#3744)
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

backport of 3741 (#3742)
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

backport of 3741 (#3742)
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

Add --shards to the VReplication Workflow command. Only partial movetables supported, for safety and since that is the main use case of --shards.
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/workflow/utils.go
  go/vt/wrangler/testdata/show-80minus.json
  go/vt/wrangler/testdata/show-all-shards.json
  go/vt/wrangler/testdata/show-minus80.json
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/vexec.go
  go/vt/wrangler/vexec_plan.go
  go/vt/wrangler/vexec_test.go
  go/vt/wrangler/workflow.go
  go/vt/wrangler/workflow_test.go
  go/vt/wrangler/wrangler.go
Owners: @ajm188, @notfelineit, @deepthi, @mattlord, @rohit-nayak-ps

Initial changes for vtctldclient
  go/cmd/vtctldclient/command/vreplication/common/show.go
  go/cmd/vtctldclient/command/vreplication/common/status.go
  go/cmd/vtctldclient/command/vreplication/common/switchtraffic.go
  go/cmd/vtctldclient/command/vreplication/common/update.go
  go/cmd/vtctldclient/command/vreplication/common/utils.go
  go/cmd/vtctldclient/command/vreplication/movetables/movetables.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  proto/tabletmanagerdata.proto
  proto/vtctldata.proto
Owners: @mattlord, @rohit-nayak-ps, @deepthi, @harshit-gangal, @ajm188, @notfelineit

Fix vtadmin protos
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @notfelineit

make proto
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
Owners: @deepthi, @harshit-gangal, @mattlord

backport of 3745 (#3747)
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/update_test.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3745 (#3747)
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/update_test.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3749 (#3750)
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/main_test.go
  go/test/endtoend/vtgate/foreignkey/unsharded_unmanaged_vschema.json
  go/test/endtoend/vtgate/foreignkey/utils_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui
