Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

cherry pick of 13873 (#3136) (#3487)
  changelog/18.0/18.0.0/summary.md
  go/flags/endtoend/vtorc.txt
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtorc/config/config.go
  go/vt/vtorc/inst/analysis.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/analysis_dao_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/topology_recovery_test.go
  go/vt/vtorc/test/recovery_analysis.go
Owners: @planetscale/eng-vitess, @deepthi, @shlomi-noach, @GuptaManan100

backport of 3488 (#3492)
  go/vt/mysqlctl/s3backupstorage/s3.go
Owners: @deepthi, @mattlord

backport of 3488 (#3492)
  go/vt/mysqlctl/s3backupstorage/s3.go
Owners: @deepthi, @mattlord

backport of 3490 (#3491)
  go/tools/astfmtgen/main.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/tracked_buffer.go
Owners: @frouioui, @systay, @harshit-gangal, @GuptaManan100

backport of 3490 (#3491)
  go/tools/astfmtgen/main.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/tracked_buffer.go
Owners: @frouioui, @systay, @harshit-gangal, @GuptaManan100

backport of 3493 (#3495)
  Makefile
  go/tools/sizegen/sizegen.go
Owners: @planetscale/eng-vitess, @frouioui, @systay

backport of 3493 (#3495)
  Makefile
  go/tools/sizegen/sizegen.go
Owners: @planetscale/eng-vitess, @frouioui, @systay

update all expected flag outpout files
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/topo2topo.txt
  go/flags/endtoend/vtaclcheck.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctlclient.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtctldclient.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgateclienttest.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/flags/endtoend/zkctl.txt
Owners: @planetscale/eng-vitess

update all expected flag outpout files
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/topo2topo.txt
  go/flags/endtoend/vtaclcheck.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctlclient.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtctldclient.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgateclienttest.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/flags/endtoend/zkctl.txt
Owners: @planetscale/eng-vitess

wip
  test/config.json
Owners: @GuptaManan100, @frouioui, @rohit-nayak-ps

wip
  test/config.json
Owners: @GuptaManan100, @frouioui, @rohit-nayak-ps

[latest-18.0](#3401): CherryPick(#14286): Refactor: New operator InsertionSelection to adhere to the operator model (#3502)
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/insert_selection.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#3401): CherryPick(#14286): Refactor: New operator InsertionSelection to adhere to the operator model (#3502)
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/insert_selection.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#3351): CherryPick(#14085): Use panic instead of errors inside the operator package (#3501)
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/comments.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/fk_verify.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/info_schema_planning.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/joins.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/ops/op.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/querygraph.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/sharded_routing.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_container.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/vindex.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#3351): CherryPick(#14085): Use panic instead of errors inside the operator package (#3501)
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/comments.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/fk_verify.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/info_schema_planning.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/joins.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/ops/op.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/querygraph.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/sharded_routing.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_container.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/vindex.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3509 (#3510)
  go/cmd/vtbackup/cli/plugin_gcsbackup.go
  go/cmd/vtbackup/cli/plugin_kmsbackup.go
  go/flags/endtoend/vtbackup.txt
Owners: @ajm188, @planetscale/eng-vitess

backport of 3509 (#3510)
  go/cmd/vtbackup/cli/plugin_gcsbackup.go
  go/cmd/vtbackup/cli/plugin_kmsbackup.go
  go/flags/endtoend/vtbackup.txt
Owners: @ajm188, @planetscale/eng-vitess

cherry pick of 14287 (#3425) (#3500)
  go/vt/vtgate/planbuilder/concatenate.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/distinct.go
  go/vt/vtgate/planbuilder/dml_planner.go
  go/vt/vtgate/planbuilder/fk_cascade.go
  go/vt/vtgate/planbuilder/fk_verify.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/join.go
  go/vt/vtgate/planbuilder/logical_plan.go
  go/vt/vtgate/planbuilder/memory_sort.go
  go/vt/vtgate/planbuilder/merge_sort.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/insert_selection.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/subquery_builder.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/planner.go
  go/vt/vtgate/planbuilder/postprocess.go
  go/vt/vtgate/planbuilder/primitive_wrapper.go
  go/vt/vtgate/planbuilder/projection.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/semi_join.go
  go/vt/vtgate/planbuilder/simple_projection.go
  go/vt/vtgate/planbuilder/sql_calc_found_rows.go
  go/vt/vtgate/planbuilder/uncorrelated_subquery.go
  go/vt/vtgate/planbuilder/update.go
  go/vt/vtgate/planbuilder/vindex_func.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 14287 (#3425) (#3500)
  go/vt/vtgate/planbuilder/concatenate.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/distinct.go
  go/vt/vtgate/planbuilder/dml_planner.go
  go/vt/vtgate/planbuilder/fk_cascade.go
  go/vt/vtgate/planbuilder/fk_verify.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/join.go
  go/vt/vtgate/planbuilder/logical_plan.go
  go/vt/vtgate/planbuilder/memory_sort.go
  go/vt/vtgate/planbuilder/merge_sort.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/insert_selection.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/subquery_builder.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/planner.go
  go/vt/vtgate/planbuilder/postprocess.go
  go/vt/vtgate/planbuilder/primitive_wrapper.go
  go/vt/vtgate/planbuilder/projection.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/semi_join.go
  go/vt/vtgate/planbuilder/simple_projection.go
  go/vt/vtgate/planbuilder/sql_calc_found_rows.go
  go/vt/vtgate/planbuilder/uncorrelated_subquery.go
  go/vt/vtgate/planbuilder/update.go
  go/vt/vtgate/planbuilder/vindex_func.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3496 (#3503)
  go/mysql/collations/local.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/normalize/normalize_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/literal.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtgate/evalengine/api_literal.go
  go/vt/vtgate/evalengine/api_type_aggregation.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_asm_push.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_bytes.go
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/evalengine/expr_arithmetic.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/expr_literal.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/executor_select_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 3496 (#3503)
  go/mysql/collations/local.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/normalize/normalize_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/literal.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtgate/evalengine/api_literal.go
  go/vt/vtgate/evalengine/api_type_aggregation.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_asm_push.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_bytes.go
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/evalengine/expr_arithmetic.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/expr_literal.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/executor_select_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

[latest-18.0](#3440): CherryPick(#14292): refactor: introduce evalengine type and use it (#3499)
  go/boost/server/controller/boostplan/operators/ast_to_op.go
  go/boost/server/controller/boostplan/operators/offset_binding.go
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/comparer.go
  go/vt/vtgate/engine/delete_test.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/distinct_test.go
  go/vt/vtgate/engine/limit_test.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/merge_sort_test.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/engine/set_test.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/evalengine/api_compare_test.go
  go/vt/vtgate/evalengine/api_literal.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/planbuilder/collations_test.go
  go/vt/vtgate/planbuilder/expression_converter.go
  go/vt/vtgate/planbuilder/expression_converter_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
  go/vt/vtgate/semantics/typer.go
  go/vt/vttablet/tabletmanager/vdiff/utils.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber, @deepthi, @rohit-nayak-ps, @shlomi-noach, @mattlord

[latest-18.0](#3440): CherryPick(#14292): refactor: introduce evalengine type and use it (#3499)
  go/boost/server/controller/boostplan/operators/ast_to_op.go
  go/boost/server/controller/boostplan/operators/offset_binding.go
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/comparer.go
  go/vt/vtgate/engine/delete_test.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/distinct_test.go
  go/vt/vtgate/engine/limit_test.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/merge_sort_test.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/engine/set_test.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/evalengine/api_compare_test.go
  go/vt/vtgate/evalengine/api_literal.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/planbuilder/collations_test.go
  go/vt/vtgate/planbuilder/expression_converter.go
  go/vt/vtgate/planbuilder/expression_converter_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
  go/vt/vtgate/semantics/typer.go
  go/vt/vttablet/tabletmanager/vdiff/utils.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber, @deepthi, @rohit-nayak-ps, @shlomi-noach, @mattlord

cherry pick of 14366 (#3494) (#3498)
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/vindexes/vschema.go
  proto/vschema.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @deepthi, @harshit-gangal, @mattlord, @systay, @GuptaManan100, @frouioui, @arthurschreiber, @ajm188, @notfelineit

cherry pick of 14366 (#3494) (#3498)
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/vindexes/vschema.go
  proto/vschema.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @deepthi, @harshit-gangal, @mattlord, @systay, @GuptaManan100, @frouioui, @arthurschreiber, @ajm188, @notfelineit

backport of 3345 (#3514)
  go/vt/vterrors/code.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/unknown_schema_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3345 (#3514)
  go/vt/vterrors/code.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/unknown_schema_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3517 (#3518)
  go/vt/schemadiff/names.go
  go/vt/schemadiff/names_test.go
  go/vt/vttablet/onlineddl/executor_test.go
Owners: @planetscale/eng-vitess, @mattlord, @rohit-nayak-ps, @shlomi-noach

backport of 3517 (#3518)
  go/vt/schemadiff/names.go
  go/vt/schemadiff/names_test.go
  go/vt/vttablet/onlineddl/executor_test.go
Owners: @planetscale/eng-vitess, @mattlord, @rohit-nayak-ps, @shlomi-noach

backport of 3519 (#3520)
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Owners: @planetscale/eng-vitess

backport of 3519 (#3520)
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Owners: @planetscale/eng-vitess

backport of 3306 (#3521)
  go/boost/server/controller/boostplan/operators/convert.go
  go/test/endtoend/vreplication/helper_test.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/tracked_buffer_test.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
  go/vt/wrangler/materializer_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @GuptaManan100, @deepthi, @mattlord, @rohit-nayak-ps, @shlomi-noach

backport of 3306 (#3521)
  go/boost/server/controller/boostplan/operators/convert.go
  go/test/endtoend/vreplication/helper_test.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/tracked_buffer_test.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
  go/vt/wrangler/materializer_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @GuptaManan100, @deepthi, @mattlord, @rohit-nayak-ps, @shlomi-noach

More cleanup
  go/mysql/collations/vindex/encoding/encoding.go
  go/mysql/collations/vindex/encoding/internal/enctest/enctest.go
  go/mysql/collations/vindex/encoding/internal/identifier/gen.go
  go/mysql/collations/vindex/encoding/internal/identifier/identifier.go
  go/mysql/collations/vindex/encoding/internal/identifier/mib.go
  go/mysql/collations/vindex/encoding/internal/internal.go
  go/mysql/collations/vindex/encoding/testdata/candide-gb18030.txt
  go/mysql/collations/vindex/encoding/testdata/candide-utf-16le.txt
  go/mysql/collations/vindex/encoding/testdata/candide-utf-32be.txt
  go/mysql/collations/vindex/encoding/testdata/candide-utf-8.txt
  go/mysql/collations/vindex/encoding/testdata/candide-windows-1252.txt
  go/mysql/collations/vindex/encoding/testdata/rashomon-euc-jp.txt
  go/mysql/collations/vindex/encoding/testdata/rashomon-iso-2022-jp.txt
  go/mysql/collations/vindex/encoding/testdata/rashomon-shift-jis.txt
  go/mysql/collations/vindex/encoding/testdata/rashomon-utf-8.txt
  go/mysql/collations/vindex/encoding/testdata/sunzi-bingfa-gb-levels-1-and-2-hz-gb2312.txt
  go/mysql/collations/vindex/encoding/testdata/sunzi-bingfa-gb-levels-1-and-2-utf-8.txt
  go/mysql/collations/vindex/encoding/testdata/sunzi-bingfa-simplified-gbk.txt
  go/mysql/collations/vindex/encoding/testdata/sunzi-bingfa-simplified-utf-8.txt
  go/mysql/collations/vindex/encoding/testdata/sunzi-bingfa-traditional-big5.txt
  go/mysql/collations/vindex/encoding/testdata/sunzi-bingfa-traditional-utf-8.txt
  go/mysql/collations/vindex/encoding/testdata/unsu-joh-eun-nal-euc-kr.txt
  go/mysql/collations/vindex/encoding/testdata/unsu-joh-eun-nal-utf-8.txt
  go/mysql/collations/vindex/encoding/unicode/utf32/utf32.go
  go/mysql/collations/vindex/encoding/unicode/utf32/utf32_test.go
  go/mysql/collations/vindex/unicode/norm/normalize.go
Owners: @harshit-gangal, @systay, @mattlord

More cleanup
  go/mysql/collations/vindex/encoding/encoding.go
  go/mysql/collations/vindex/encoding/internal/enctest/enctest.go
  go/mysql/collations/vindex/encoding/internal/identifier/gen.go
  go/mysql/collations/vindex/encoding/internal/identifier/identifier.go
  go/mysql/collations/vindex/encoding/internal/identifier/mib.go
  go/mysql/collations/vindex/encoding/internal/internal.go
  go/mysql/collations/vindex/encoding/testdata/candide-gb18030.txt
  go/mysql/collations/vindex/encoding/testdata/candide-utf-16le.txt
  go/mysql/collations/vindex/encoding/testdata/candide-utf-32be.txt
  go/mysql/collations/vindex/encoding/testdata/candide-utf-8.txt
  go/mysql/collations/vindex/encoding/testdata/candide-windows-1252.txt
  go/mysql/collations/vindex/encoding/testdata/rashomon-euc-jp.txt
  go/mysql/collations/vindex/encoding/testdata/rashomon-iso-2022-jp.txt
  go/mysql/collations/vindex/encoding/testdata/rashomon-shift-jis.txt
  go/mysql/collations/vindex/encoding/testdata/rashomon-utf-8.txt
  go/mysql/collations/vindex/encoding/testdata/sunzi-bingfa-gb-levels-1-and-2-hz-gb2312.txt
  go/mysql/collations/vindex/encoding/testdata/sunzi-bingfa-gb-levels-1-and-2-utf-8.txt
  go/mysql/collations/vindex/encoding/testdata/sunzi-bingfa-simplified-gbk.txt
  go/mysql/collations/vindex/encoding/testdata/sunzi-bingfa-simplified-utf-8.txt
  go/mysql/collations/vindex/encoding/testdata/sunzi-bingfa-traditional-big5.txt
  go/mysql/collations/vindex/encoding/testdata/sunzi-bingfa-traditional-utf-8.txt
  go/mysql/collations/vindex/encoding/testdata/unsu-joh-eun-nal-euc-kr.txt
  go/mysql/collations/vindex/encoding/testdata/unsu-joh-eun-nal-utf-8.txt
  go/mysql/collations/vindex/encoding/unicode/utf32/utf32.go
  go/mysql/collations/vindex/encoding/unicode/utf32/utf32_test.go
  go/mysql/collations/vindex/unicode/norm/normalize.go
Owners: @harshit-gangal, @systay, @mattlord

backport of 3313 (#3522)
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/planbuilder/plan_test.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3313 (#3522)
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/planbuilder/plan_test.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Clean up more code
  go/mysql/collations/integration/collations_test.go
  go/mysql/collations/vindex/collate/collate.go
  go/mysql/collations/vindex/collate/index.go
  go/mysql/collations/vindex/collate/maketables.go
  go/mysql/collations/vindex/encoding/encoding.go
  go/mysql/collations/vindex/encoding/internal/identifier/identifier.go
  go/mysql/collations/vindex/encoding/unicode/utf32/utf32.go
  go/mysql/collations/vindex/internal/gen/bitfield/bitfield_test.go
  go/mysql/collations/vindex/internal/gen/bitfield/gen1_test.go
  go/mysql/collations/vindex/internal/gen/bitfield/gen2_test.go
  go/mysql/collations/vindex/internal/triegen/data_test.go
  go/mysql/collations/vindex/internal/triegen/example_compact_test.go
  go/mysql/collations/vindex/internal/triegen/example_test.go
  go/mysql/collations/vindex/internal/triegen/gen_test.go
  go/mysql/collations/vindex/internal/ucd/example_test.go
  go/mysql/collations/vindex/internal/ucd/ucd_test.go
  go/mysql/collations/vindex/transform/transform.go
  go/mysql/collations/vindex/unicode/cldr/cldr_test.go
  go/mysql/collations/vindex/unicode/cldr/collate_test.go
  go/mysql/collations/vindex/unicode/cldr/data_test.go
  go/mysql/collations/vindex/unicode/cldr/examples_test.go
  go/mysql/collations/vindex/unicode/cldr/resolve_test.go
  go/mysql/collations/vindex/unicode/cldr/slice_test.go
  go/mysql/collations/vindex/unicode/norm/transform.go
  go/vt/vtgate/vindexes/unicode_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

Clean up more code
  go/mysql/collations/integration/collations_test.go
  go/mysql/collations/vindex/collate/collate.go
  go/mysql/collations/vindex/collate/index.go
  go/mysql/collations/vindex/collate/maketables.go
  go/mysql/collations/vindex/encoding/encoding.go
  go/mysql/collations/vindex/encoding/internal/identifier/identifier.go
  go/mysql/collations/vindex/encoding/unicode/utf32/utf32.go
  go/mysql/collations/vindex/internal/gen/bitfield/bitfield_test.go
  go/mysql/collations/vindex/internal/gen/bitfield/gen1_test.go
  go/mysql/collations/vindex/internal/gen/bitfield/gen2_test.go
  go/mysql/collations/vindex/internal/triegen/data_test.go
  go/mysql/collations/vindex/internal/triegen/example_compact_test.go
  go/mysql/collations/vindex/internal/triegen/example_test.go
  go/mysql/collations/vindex/internal/triegen/gen_test.go
  go/mysql/collations/vindex/internal/ucd/example_test.go
  go/mysql/collations/vindex/internal/ucd/ucd_test.go
  go/mysql/collations/vindex/transform/transform.go
  go/mysql/collations/vindex/unicode/cldr/cldr_test.go
  go/mysql/collations/vindex/unicode/cldr/collate_test.go
  go/mysql/collations/vindex/unicode/cldr/data_test.go
  go/mysql/collations/vindex/unicode/cldr/examples_test.go
  go/mysql/collations/vindex/unicode/cldr/resolve_test.go
  go/mysql/collations/vindex/unicode/cldr/slice_test.go
  go/mysql/collations/vindex/unicode/norm/transform.go
  go/vt/vtgate/vindexes/unicode_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

Cleanup more from the vendored code
  go/mysql/collations/vindex/gen.go
  go/mysql/collations/vindex/internal/gen/bitfield/bitfield.go
  go/mysql/collations/vindex/internal/gen/code.go
  go/mysql/collations/vindex/internal/gen/gen.go
  go/mysql/collations/vindex/internal/triegen/compact.go
  go/mysql/collations/vindex/internal/triegen/print.go
  go/mysql/collations/vindex/internal/triegen/triegen.go
  go/mysql/collations/vindex/internal/ucd/ucd.go
  go/mysql/collations/vindex/unicode/cldr/base.go
  go/mysql/collations/vindex/unicode/cldr/cldr.go
  go/mysql/collations/vindex/unicode/cldr/collate.go
  go/mysql/collations/vindex/unicode/cldr/decode.go
  go/mysql/collations/vindex/unicode/cldr/makexml.go
  go/mysql/collations/vindex/unicode/cldr/resolve.go
  go/mysql/collations/vindex/unicode/cldr/slice.go
  go/mysql/collations/vindex/unicode/cldr/xml.go
  go/mysql/collations/vindex/unicode/norm/maketables.go
  go/mysql/collations/vindex/unicode/norm/normalize.go
  go/mysql/collations/vindex/unicode/norm/readwriter.go
  go/mysql/collations/vindex/unicode/norm/triegen.go
Owners: @harshit-gangal, @systay, @mattlord

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
