Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit

Update options and filter on reverse streams
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vttablet/tabletmanager/rpc_vreplication.go
Owners: @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

Add KeyspaceRoutingRules to the vschema and related topo/vschema files, vtctld and a unit test
  doc/mt.md
  go/cmd/vtctldclient/command/vreplication/keyspace_routing_rules.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtctlservice/vtctlservice_grpc.pb.go
  go/vt/topo/server.go
  go/vt/topo/srv_vschema.go
  go/vt/topo/vschema.go
  go/vt/topotools/routing_rules.go
  go/vt/topotools/routing_rules_test.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/localvtctldclient/client_gen.go
  proto/vschema.proto
  proto/vtctldata.proto
  proto/vtctlservice.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @deepthi, @frouioui, @GuptaManan100, @mattlord, @rohit-nayak-ps, @harshit-gangal, @ajm188, @notfelineit

Add keyspace routing rules for a multi-tenant migration
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/topotools/routing_rules.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vtgate/vindexes/vschema.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord, @harshit-gangal, @systay, @frouioui, @GuptaManan100

Don't point target keyspace in routing rules since we can't have targets pointing to a single tenant. Running tests without Reverse
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/topo/shard.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

Remove reverse switching tests since we cannot really do it in multi-tenant migrations
  go/test/endtoend/vreplication/multi_tenant_test.go
Owners: @planetscale/eng-vitess

Add default to options column in VReplicationExec insert generator
  go/vt/vttablet/tabletmanager/vreplication/insert_generator.go
Owners: @rohit-nayak-ps, @mattlord

Fix unit tests in go/vt/binlog
  go/test/endtoend/cluster/vtctldclient_process.go
  go/vt/binlog/binlogplayer/binlog_player_test.go
Owners: @planetscale/eng-vitess

Fix failing unit tests in go/vt/vtctl/workflow
  go/vt/vtctl/workflow/materializer_env_test.go
  go/vt/vtctl/workflow/materializer_test.go
Owners: @deepthi

Fix TestInsertGenerator
  go/vt/vttablet/tabletmanager/vreplication/insert_generator_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
Owners: @rohit-nayak-ps, @mattlord

Fix Materializer tests
  go/viperutil/config.go
  go/vt/vttablet/tabletmanager/vdiff/action.go
  go/vt/vttablet/tabletmanager/vdiff/engine.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
  go/vt/wrangler/materializer_env_test.go
  go/vt/wrangler/materializer_test.go
  go/vt/wrangler/resharder_test.go
  go/vt/wrangler/workflow_test.go
Owners: @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @mattlord

Revert temporary hacks
  go/vt/topo/shard.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletmanager/vdiff/action.go
  go/vt/vttablet/tabletmanager/vdiff/engine.go
Owners: @deepthi, @mattlord, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

Fix failing tests in tabletmanager/vreplication
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Owners: @rohit-nayak-ps, @mattlord

Fix Reshard unit tests
  go/vt/wrangler/resharder_test.go
Owners: @deepthi, @mattlord, @rohit-nayak-ps

Fix unit tests in /go/vt/vttablet/tabletmanager
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
Owners: @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

Revert to warn on no config
  go/viperutil/config.go
Owners: @planetscale/eng-vitess

Use latest versions of vtctld/vtctl in Query Serving (Queries) - Upgrade Downgrade Testing
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  go/vt/vtctl/workflow/materializer.go
Owners: @frouioui, @deepthi

Fix TestUpdateVSchema
  go/vt/vttablet/tabletserver/vstreamer/engine_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Start a simple multi tenant test. To be expanded
  go/test/endtoend/vreplication/multi_tenant_test.go
Owners: @planetscale/eng-vitess

Fix static code check failures. Attempt to fix upgrade/downgrade test
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  go/test/endtoend/vreplication/cluster_test.go
  go/vt/wrangler/materializer_env_test.go
Owners: @frouioui, @planetscale/eng-vitess, @deepthi, @mattlord, @rohit-nayak-ps

Add multi tenant ci workflow
  .github/workflows/cluster_endtoend_vreplication_multi_tenant.yml
Owners: @frouioui

Add Get/ApplyKeyspaceRoutingRules to vtctldclient
  doc/mt.md
  go/cmd/vtctldclient/command/keyspace_routing_rules.go
  go/vt/vtctl/grpcvtctldserver/server.go
Owners: @deepthi, @frouioui, @GuptaManan100, @ajm188, @mattlord, @notfelineit

Fix keyspace routing rules duplicate and modify help text
  go/cmd/vtctldclient/command/keyspace_routing_rules.go
  go/cmd/vtctldclient/command/vreplication/keyspace_routing_rules.go
Owners: @ajm188, @mattlord, @rohit-nayak-ps

Change attribute from VReplicationWorkflowOptions to WorkflowOptions
  go/cmd/vtctldclient/command/vreplication/movetables/create.go
  go/cmd/vtctldclient/command/vreplication/movetables/movetables.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @mattlord, @rohit-nayak-ps, @deepthi, @harshit-gangal, @ajm188, @notfelineit

Minor refactors
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/topo/vschema.go
  go/vt/topotools/routing_rules.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/server.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

Enhance simple multi tenant test to validate routing better. Remove routing rules on complete
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/topotools/routing_rules.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/switcher.go
  go/vt/vtctl/workflow/switcher_dry_run.go
  go/vt/vtctl/workflow/switcher_interface.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtgate/vindexes/vschema.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord, @harshit-gangal, @systay, @frouioui, @GuptaManan100

Fix incorrect insert into target keyspace before switching traffic
  go/test/endtoend/vreplication/multi_tenant_test.go
Owners: @planetscale/eng-vitess

Fix failing tests
  go/flags/endtoend/vtctldclient.txt
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/vtctl/workflow/server.go
Owners: @planetscale/eng-vitess, @deepthi

Validate tenant id provided matches specified type in vschema
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/utils.go
Owners: @deepthi

Address more review comments
  go/cmd/vtctldclient/command/keyspace_routing_rules.go
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/vtctl/grpcvtctldserver/server.go
Owners: @ajm188, @mattlord, @planetscale/eng-vitess, @notfelineit

Minor refactor. Cleanup comments/commented code
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vtgate/vindexes/vschema.go
Owners: @deepthi, @harshit-gangal, @systay, @frouioui, @GuptaManan100

Address review comments
  go/cmd/vtctldclient/command/keyspace_routing_rules.go
  go/vt/topotools/routing_rules.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtgate/vindexes/vschema_test.go
  test/config.json
Owners: @ajm188, @mattlord, @deepthi, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @rohit-nayak-ps

Rebase and make ci workflows again
  .github/workflows/cluster_endtoend_vreplication_multi_tenant.yml
Owners: @frouioui

Remove timeout for workflow to see if it will fix static check error which is not reproduced locally
  test/config.json
Owners: @GuptaManan100, @frouioui, @rohit-nayak-ps

Add mise config file to .gitignore
  .gitignore
Owners: @planetscale/eng-vitess

Fix regression in reverse workflow validation.
  go/vt/vtctl/workflow/server.go
  proto/vtctldata.proto
Owners: @deepthi, @ajm188, @notfelineit

Make Proto
  go/vt/proto/vtctldata/vtctldata.pb.go
Owners: @deepthi, @harshit-gangal, @mattlord

Add test matching all tables, with one created as part of the test
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Add test matching all tables, with one created as part of the test
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Update framework to support dynamic table creation
  go/vt/vttablet/tabletserver/vstreamer/helper_event_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Update framework to support dynamic table creation
  go/vt/vttablet/tabletserver/vstreamer/helper_event_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps
