Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit

backport of 3594 (#3595)
  go/boost/cmd/vtboost/cli/cli.go
  go/cmd/mysqlctld/cli/mysqlctld.go
  go/cmd/vtaclcheck/cli/vtactlcheck.go
  go/cmd/vtbackup/cli/vtbackup.go
  go/cmd/vtbench/cli/vtbench.go
  go/cmd/vtctld/cli/cli.go
  go/cmd/vtgate/cli/cli.go
  go/cmd/vttablet/cli/cli.go
  go/vt/servenv/run.go
Owners: @planetscale/eng-vitess, @ajm188, @deepthi

[release-18.0] TestStreamMigrateMainflow: fix panic in test (#14425)
  go/vt/wrangler/fake_tablet_test.go
Owners: @deepthi, @mattlord, @rohit-nayak-ps

backport of 3596 (#3598)
  go/test/endtoend/vtgate/errors_as_warnings/main_test.go
Owners: @harshit-gangal, @systay, @frouioui

backport of 3596 (#3598)
  go/test/endtoend/vtgate/errors_as_warnings/main_test.go
Owners: @harshit-gangal, @systay, @frouioui

backport of 3596 (#3599)
  go/test/endtoend/vtgate/errors_as_warnings/main_test.go
Owners: @harshit-gangal, @systay, @frouioui

backport of 3596 (#3599)
  go/test/endtoend/vtgate/errors_as_warnings/main_test.go
Owners: @harshit-gangal, @systay, @frouioui

backport of 3597 (#3602)
  go/test/endtoend/vreplication/vdiff_multiple_movetables_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletmanager/vdiff/action.go
  go/vt/vttablet/tabletmanager/vdiff/action_test.go
  go/vt/vttablet/tabletmanager/vdiff/schema.go
  test/config.json
Owners: @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @frouioui

backport of 3597 (#3602)
  go/test/endtoend/vreplication/vdiff_multiple_movetables_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletmanager/vdiff/action.go
  go/vt/vttablet/tabletmanager/vdiff/action_test.go
  go/vt/vttablet/tabletmanager/vdiff/schema.go
  test/config.json
Owners: @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @frouioui

[latest-18.0](#3561): CherryPick(#14413): VDiff tablet selection: pick non-serving tablets in Reshard workflows (#3603)
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/tablet_picker_test.go
  go/vt/vttablet/tabletmanager/vdiff/controller.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/wrangler/vdiff.go
Owners: @rohit-nayak-ps, @mattlord, @deepthi, @GuptaManan100, @shlomi-noach

[latest-18.0](#3561): CherryPick(#14413): VDiff tablet selection: pick non-serving tablets in Reshard workflows (#3603)
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/tablet_picker_test.go
  go/vt/vttablet/tabletmanager/vdiff/controller.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/wrangler/vdiff.go
Owners: @rohit-nayak-ps, @mattlord, @deepthi, @GuptaManan100, @shlomi-noach

[latest-18.0](#3588): CherryPick(#14445): tx_throttler: delete topo watcher metric instead of deprecating (#3601)
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

[latest-18.0](#3588): CherryPick(#14445): tx_throttler: delete topo watcher metric instead of deprecating (#3601)
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3604 (#3605)
  go/test/endtoend/vreplication/vreplication_test.go
  go/textutil/strings.go
  go/vt/vttablet/tabletmanager/rpc_vreplication.go
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
Owners: @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

backport of 3604 (#3605)
  go/test/endtoend/vreplication/vreplication_test.go
  go/textutil/strings.go
  go/vt/vttablet/tabletmanager/rpc_vreplication.go
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
Owners: @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

backport of 3606 (#3607)
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
Owners: @ajm188, @notfelineit

backport of 3606 (#3607)
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
Owners: @ajm188, @notfelineit

Release of v18.0.0 (#14406)
  .github/workflows/code_freeze.yml
  changelog/18.0/18.0.0/changelog.md
  changelog/18.0/18.0.0/release_notes.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @deepthi, @mattlord, @GuptaManan100, @shlomi-noach, @ajm188, @harshit-gangal

Back to dev mode after v18.0.0 (#14475)
  docker/release.sh
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @mattlord, @GuptaManan100, @frouioui, @ajm188, @harshit-gangal

backport of 3609 (#3610)
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100

backport of 3609 (#3610)
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100

backport of 3609 (#3611)
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100

backport of 3609 (#3611)
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100

backport of 3613 (#3614)
  go/sqltypes/type.go
  go/test/endtoend/vtgate/queries/random/random_test.go
  go/vt/vtgate/engine/opcode/constants.go
  go/vt/vtgate/evalengine/api_literal.go
  go/vt/vtgate/evalengine/collation.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/expr_collate.go
  go/vt/vtgate/evalengine/expr_column.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_crypto.go
  go/vt/vtgate/evalengine/fn_hex.go
  go/vt/vtgate/evalengine/fn_misc.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/planbuilder/operators/dml_planning.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/typer.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3613 (#3614)
  go/sqltypes/type.go
  go/test/endtoend/vtgate/queries/random/random_test.go
  go/vt/vtgate/engine/opcode/constants.go
  go/vt/vtgate/evalengine/api_literal.go
  go/vt/vtgate/evalengine/collation.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/expr_collate.go
  go/vt/vtgate/evalengine/expr_column.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_crypto.go
  go/vt/vtgate/evalengine/fn_hex.go
  go/vt/vtgate/evalengine/fn_misc.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/planbuilder/operators/dml_planning.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/typer.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3618 (#3619)
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/schemadiff/table_test.go
  go/vt/sidecardb/schema/onlineddl/schema_migrations.sql
  go/vt/vtctl/grpcvtctldserver/query.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/onlineddl/vrepl/foreign_key.go
  go/vt/vttablet/onlineddl/vrepl/foreign_key_test.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @shlomi-noach, @deepthi, @harshit-gangal, @mattlord, @planetscale/eng-vitess, @ajm188, @notfelineit, @rohit-nayak-ps

backport of 3618 (#3619)
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/schemadiff/table_test.go
  go/vt/sidecardb/schema/onlineddl/schema_migrations.sql
  go/vt/vtctl/grpcvtctldserver/query.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/onlineddl/vrepl/foreign_key.go
  go/vt/vttablet/onlineddl/vrepl/foreign_key_test.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @shlomi-noach, @deepthi, @harshit-gangal, @mattlord, @planetscale/eng-vitess, @ajm188, @notfelineit, @rohit-nayak-ps

backport of 3621 (#3624)
  go/mysql/conn.go
Owners: @harshit-gangal, @systay, @mattlord

backport of 3621 (#3624)
  go/mysql/conn.go
Owners: @harshit-gangal, @systay, @mattlord

backport of 3621 (#3622)
  go/mysql/conn.go
Owners: @harshit-gangal, @systay, @mattlord

backport of 3621 (#3622)
  go/mysql/conn.go
Owners: @harshit-gangal, @systay, @mattlord

backport of 3620 (#3623)
  go/hack/runtime.go
  go/mysql/collations/colldata/8bit.go
  go/mysql/collations/colldata/collation.go
  go/mysql/collations/colldata/uca.go
  go/mysql/collations/colldata/uca_test.go
  go/mysql/fastparse/fastparse.go
  go/sqltypes/bind_variables.go
  go/sqltypes/parse_rows.go
  go/sqltypes/result.go
  go/sqltypes/testing.go
  go/sqltypes/value.go
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/comparer.go
  go/vt/vtgate/engine/comparer_test.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/merge_sort.go
  go/vt/vtgate/engine/merge_sort_test.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/evalengine/api_compare.go
  go/vt/vtgate/evalengine/api_compare_test.go
  go/vt/vtgate/evalengine/weights.go
  go/vt/vtgate/evalengine/weights_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vttablet/tabletmanager/vdiff/utils.go
  go/vt/wrangler/vdiff.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100, @arthurschreiber, @deepthi, @rohit-nayak-ps, @shlomi-noach

backport of 3620 (#3623)
  go/hack/runtime.go
  go/mysql/collations/colldata/8bit.go
  go/mysql/collations/colldata/collation.go
  go/mysql/collations/colldata/uca.go
  go/mysql/collations/colldata/uca_test.go
  go/mysql/fastparse/fastparse.go
  go/sqltypes/bind_variables.go
  go/sqltypes/parse_rows.go
  go/sqltypes/result.go
  go/sqltypes/testing.go
  go/sqltypes/value.go
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/comparer.go
  go/vt/vtgate/engine/comparer_test.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/merge_sort.go
  go/vt/vtgate/engine/merge_sort_test.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/evalengine/api_compare.go
  go/vt/vtgate/evalengine/api_compare_test.go
  go/vt/vtgate/evalengine/weights.go
  go/vt/vtgate/evalengine/weights_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vttablet/tabletmanager/vdiff/utils.go
  go/vt/wrangler/vdiff.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100, @arthurschreiber, @deepthi, @rohit-nayak-ps, @shlomi-noach

CI: specify zk.myid when running zk2
  go/test/endtoend/cluster/topo_process.go
Owners: @planetscale/eng-vitess

CI: specify zk.myid when running zk2
  go/test/endtoend/cluster/topo_process.go
Owners: @planetscale/eng-vitess

backport of 3632 (#3633)
  go.mod
  go.sum
  go/test/endtoend/cluster/mysqlctld_process.go
  go/test/endtoend/cluster/topo_process.go
  go/test/endtoend/cluster/vtctld_process.go
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/cluster/vtorc_process.go
  go/test/endtoend/recovery/pitr/binlog_server.go
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogservice/binlogservice.pb.go
  go/vt/proto/logutil/logutil.pb.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/queryservice/queryservice.pb.go
  go/vt/proto/replicationdata/replicationdata.pb.go
  go/vt/proto/tableacl/tableacl.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/throttlerdata/throttlerdata.pb.go
  go/vt/proto/throttlerservice/throttlerservice.pb.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgateservice/vtgateservice.pb.go
  go/vt/proto/vtrpc/vtrpc.pb.go
  go/vt/proto/vttest/vttest.pb.go
  go/vt/proto/vttime/vttime.pb.go
Owners: @planetscale/eng-vitess, @deepthi, @harshit-gangal, @mattlord, @ajm188, @notfelineit

backport of 3632 (#3633)
  go.mod
  go.sum
  go/test/endtoend/cluster/mysqlctld_process.go
  go/test/endtoend/cluster/topo_process.go
  go/test/endtoend/cluster/vtctld_process.go
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/cluster/vtorc_process.go
  go/test/endtoend/recovery/pitr/binlog_server.go
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogservice/binlogservice.pb.go
  go/vt/proto/logutil/logutil.pb.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/queryservice/queryservice.pb.go
  go/vt/proto/replicationdata/replicationdata.pb.go
  go/vt/proto/tableacl/tableacl.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/throttlerdata/throttlerdata.pb.go
  go/vt/proto/throttlerservice/throttlerservice.pb.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgateservice/vtgateservice.pb.go
  go/vt/proto/vtrpc/vtrpc.pb.go
  go/vt/proto/vttest/vttest.pb.go
  go/vt/proto/vttime/vttime.pb.go
Owners: @planetscale/eng-vitess, @deepthi, @harshit-gangal, @mattlord, @ajm188, @notfelineit

backport of 3632 (#3635)
  go.mod
  go.sum
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/cluster/mysqlctld_process.go
  go/test/endtoend/cluster/topo_process.go
  go/test/endtoend/cluster/vtctld_process.go
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/cluster/vtorc_process.go
  go/test/endtoend/recovery/pitr/binlog_server.go
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogservice/binlogservice.pb.go
  go/vt/proto/logutil/logutil.pb.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/queryservice/queryservice.pb.go
  go/vt/proto/replicationdata/replicationdata.pb.go
  go/vt/proto/tableacl/tableacl.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/throttlerdata/throttlerdata.pb.go
  go/vt/proto/throttlerservice/throttlerservice.pb.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgateservice/vtgateservice.pb.go
  go/vt/proto/vtrpc/vtrpc.pb.go
  go/vt/proto/vttest/vttest.pb.go
  go/vt/proto/vttime/vttime.pb.go
Owners: @planetscale/eng-vitess, @deepthi, @harshit-gangal, @mattlord, @ajm188, @notfelineit

backport of 3632 (#3635)
  go.mod
  go.sum
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/cluster/mysqlctld_process.go
  go/test/endtoend/cluster/topo_process.go
  go/test/endtoend/cluster/vtctld_process.go
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/cluster/vtorc_process.go
  go/test/endtoend/recovery/pitr/binlog_server.go
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogservice/binlogservice.pb.go
  go/vt/proto/logutil/logutil.pb.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/queryservice/queryservice.pb.go
  go/vt/proto/replicationdata/replicationdata.pb.go
  go/vt/proto/tableacl/tableacl.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/throttlerdata/throttlerdata.pb.go
  go/vt/proto/throttlerservice/throttlerservice.pb.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgateservice/vtgateservice.pb.go
  go/vt/proto/vtrpc/vtrpc.pb.go
  go/vt/proto/vttest/vttest.pb.go
  go/vt/proto/vttime/vttime.pb.go
Owners: @planetscale/eng-vitess, @deepthi, @harshit-gangal, @mattlord, @ajm188, @notfelineit

fix merge conflict
  .github/workflows/local_example.yml
Owners: @frouioui

vtgate: Allow additional errors in warnings test (#14461)
  go/test/endtoend/vtgate/errors_as_warnings/main_test.go
Owners: @harshit-gangal, @systay, @frouioui
