Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

backport of 3989 (#3994)
  go.mod
  go.sum
Owners: @planetscale/eng-vitess

backport of 3989 (#3992)
  go.mod
  go.sum
Owners: @planetscale/eng-vitess

backport of 3989 (#3992)
  go.mod
  go.sum
Owners: @planetscale/eng-vitess

[release-16.0] build(deps): bump golang.org/x/crypto from 0.16.0 to 0.17.0 (#14814) (#14818)
  go.mod
  go.sum
Owners: @planetscale/eng-vitess

backport of 3995 (#3996)
  go/vt/wrangler/traffic_switcher.go
Owners: @deepthi, @mattlord, @rohit-nayak-ps

backport of 3995 (#3996)
  go/vt/wrangler/traffic_switcher.go
Owners: @deepthi, @mattlord, @rohit-nayak-ps

[release-18.0] Backport: VReplication SwitchWrites: Properly return errors in SwitchWrites #14800 (#14824)
  go/vt/wrangler/traffic_switcher.go
Owners: @deepthi, @mattlord, @rohit-nayak-ps

[release-16.0] Backup flaky test (#14819)
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/cluster/mysqlctl_process.go
  go/test/endtoend/cluster/mysqlctld_process.go
  go/test/endtoend/mysqlctld/mysqlctld_test.go
Owners: @planetscale/eng-vitess

fix: build on delete operator
  go/vt/vtgate/planbuilder/operators/delete.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

feat: reorder WaitForDBAGrants so that it is called before we start trying to restore
  go/vt/vttablet/tabletmanager/tm_init.go
Owners: @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

backport of 4002 (#4005)
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/traffic_switcher_test.go
Owners: @deepthi, @mattlord, @rohit-nayak-ps

backport of 4002 (#4005)
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/traffic_switcher_test.go
Owners: @deepthi, @mattlord, @rohit-nayak-ps

[release-16.0] Release of `v16.0.7` (#14809)
  .github/workflows/code_freeze.yml
  changelog/16.0/16.0.7/changelog.md
  changelog/16.0/16.0.7/release_notes.md
  changelog/16.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @shlomi-noach, @GuptaManan100, @deepthi, @ajm188, @harshit-gangal

[release-17.0] Release of `v17.0.5` (#14807)
  .github/workflows/code_freeze.yml
  changelog/17.0/17.0.5/changelog.md
  changelog/17.0/17.0.5/release_notes.md
  changelog/17.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @shlomi-noach, @GuptaManan100, @deepthi, @ajm188, @harshit-gangal

[release-18.0] Release of `v18.0.2` (#14810)
  .github/workflows/code_freeze.yml
  changelog/18.0/18.0.2/changelog.md
  changelog/18.0/18.0.2/release_notes.md
  changelog/18.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @shlomi-noach, @GuptaManan100, @deepthi, @ajm188, @harshit-gangal

[latest-17.0](#4002): CherryPick(#14826): VReplication: Update singular workflow in traffic switcher (#4004)
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/traffic_switcher_test.go
Owners: @deepthi, @mattlord, @rohit-nayak-ps

[latest-17.0](#4002): CherryPick(#14826): VReplication: Update singular workflow in traffic switcher (#4004)
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/traffic_switcher_test.go
Owners: @deepthi, @mattlord, @rohit-nayak-ps

Back to dev mode after v16.0.7 (#14837)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

Back to dev mode after v18.0.2 (#14839)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

Back to dev mode after v17.0.5 (#14838)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

backport of 4010 (#4011)
  go/vt/vtgate/engine/set.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @shlomi-noach, @rohit-nayak-ps

backport of 4010 (#4011)
  go/vt/vtgate/engine/set.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @shlomi-noach, @rohit-nayak-ps

backport of 4010 (#4012)
  go/vt/vtgate/engine/set.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @shlomi-noach, @rohit-nayak-ps

backport of 4010 (#4012)
  go/vt/vtgate/engine/set.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @shlomi-noach, @rohit-nayak-ps

Don't error out if vtgate shutdown fails. ErrorLog attribute appears to have been uninitialized
  go/test/endtoend/cluster/vtgate_process.go
Owners: @planetscale/eng-vitess

Don't error out if vtgate shutdown fails. ErrorLog attribute appears to have been uninitialized
  go/test/endtoend/cluster/vtgate_process.go
Owners: @planetscale/eng-vitess

backport of 4016 (#4018)
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Owners: @shlomi-noach, @harshit-gangal, @systay, @frouioui, @mattlord, @rohit-nayak-ps

backport of 4016 (#4018)
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Owners: @shlomi-noach, @harshit-gangal, @systay, @frouioui, @mattlord, @rohit-nayak-ps

cherry pick of 14844 (#4022) (#4023)
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 14844 (#4022) (#4023)
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

vtgate: record warning for partially successful cross-shard commits
  go/mysql/sqlerror/constants.go
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/tx_conn_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

add note to changelog
  changelog/19.0/19.0.0/summary.md
Owners: @planetscale/eng-vitess

backport of 4024 (#4026)
  go/vt/topo/tablet.go
Owners: @deepthi, @mattlord

backport of 4024 (#4026)
  go/vt/topo/tablet.go
Owners: @deepthi, @mattlord

backport of 4024 (#4025)
  go/vt/topo/tablet.go
Owners: @deepthi, @mattlord

backport of 4024 (#4025)
  go/vt/topo/tablet.go
Owners: @deepthi, @mattlord

backport of 4028 (#4029)
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Owners: @planetscale/eng-vitess

backport of 4028 (#4029)
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Owners: @planetscale/eng-vitess

[latest-17.0](#4017): CherryPick(#14672): vtctldclient,grpcvtctldserver ApplySchema: return unknown params from grpcvtctldserver.ApplySchema, log them in vtctldclient.ApplySchema (#4021)
  go/cmd/vtctldclient/command/vschemas.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/vtctl_test.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @mattlord, @deepthi, @harshit-gangal, @notfelineit

[latest-17.0](#4017): CherryPick(#14672): vtctldclient,grpcvtctldserver ApplySchema: return unknown params from grpcvtctldserver.ApplySchema, log them in vtctldclient.ApplySchema (#4021)
  go/cmd/vtctldclient/command/vschemas.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/vtctl_test.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @mattlord, @deepthi, @harshit-gangal, @notfelineit

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
