Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

fix apply join
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

refactor: remove the Predicate field from ApplyJoin
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/semantics/semantic_state.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

minor edits
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/operators/projection.go
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui, @arthurschreiber

Update short description of applyjoin
  go/vt/vtgate/planbuilder/operators/apply_join.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

refactor: extract common helper method
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

refactor: move projection pushing to it's own file
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

update ApplyJoin.ShortDesription again
  go/vt/vtgate/planbuilder/operators/apply_join.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

feat: update how we expose columns from derived tables
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/large_union_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

Update go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

minor edits after self-review
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

planner fix: only expose columns being returned from the RHS
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 15090 (#4290) (#4300)
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
Owners: @ajm188, @GuptaManan100, @deepthi

cherry pick of 15090 (#4290) (#4300)
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
Owners: @ajm188, @GuptaManan100, @deepthi

test: fix tests
  go/vt/vtexplain/vtexplain_test.go
  go/vt/vtgate/semantics/typer_test.go
Owners: @systay, @harshit-gangal, @frouioui, @GuptaManan100

bugfix: stop replacing unaliased literals
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100

test: update end-to-end test
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

test: add end to end test for UNION collation handling
  go/test/endtoend/vtgate/queries/collations/collations_test.go
  go/test/endtoend/vtgate/queries/collations/main_test.go
  go/test/endtoend/vtgate/queries/collations/schema.sql
  go/test/endtoend/vtgate/queries/collations/vschema.json
  test/config.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @rohit-nayak-ps

refactor: FuncExpr should not take AliasedExpr
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/stream_migrator.go
  go/vt/vtgate/evalengine/translate_builtin.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/simplifier/expression_simplifier.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/vdiff.go
Owners: @harshit-gangal, @systay, @GuptaManan100, @deepthi, @frouioui, @arthurschreiber, @rohit-nayak-ps, @shlomi-noach, @mattlord

test: update test expectations
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/sqlparser/normalizer.go
  go/vt/vtgate/executor_select_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

test: remove outdated tests
  go/vt/vttablet/tabletserver/vstreamer/planbuilder_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 4309 (#4311)
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
  go/vt/vttablet/endtoend/rpc_test.go
  go/vt/vttablet/tabletserver/query_executor.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @mattlord, @rohit-nayak-ps, @shlomi-noach

backport of 4309 (#4311)
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
  go/vt/vttablet/endtoend/rpc_test.go
  go/vt/vttablet/tabletserver/query_executor.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @mattlord, @rohit-nayak-ps, @shlomi-noach

backport of 4313 (#4315)
  go/vt/vttest/vtprocess.go
Owners: @planetscale/eng-vitess

backport of 4313 (#4315)
  go/vt/vttest/vtprocess.go
Owners: @planetscale/eng-vitess

Add release-19.0 to the auto go upgrade
  .github/workflows/update_golang_version.yml
Owners: @frouioui

vtadmin onlineddl endpoints (#15114)
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtadmin/vtadmin_grpc.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  go/vt/proto/vtctlservice/vtctlservice_grpc.pb.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/http/schema_migrations.go
  go/vt/vtadmin/rbac/rbac.go
  go/vt/vtadmin/testutil/authztestgen/config.json
  go/vt/vtadmin/testutil/authztestgen/template.go
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
  proto/vtadmin.proto
  proto/vtctlservice.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @notfelineit, @deepthi, @harshit-gangal, @mattlord, @rohit-nayak-ps

Revert unwanted logging change to `vttestserver` (#15148)
  go/vt/vttest/vtprocess.go
Owners: @planetscale/eng-vitess

Bump to `v20.0.0-SNAPSHOT` after the `v19.0.0-RC1` release (#15138)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

fix: ignore internal tables in schema tracking (#15141)
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
  go/vt/vttablet/endtoend/rpc_test.go
  go/vt/vttablet/tabletserver/query_executor.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @mattlord, @rohit-nayak-ps, @shlomi-noach

mysql/datetime: Improve TIME parsing logic (#15135)
  go/mysql/datetime/datetime.go
  go/mysql/datetime/parse.go
  go/mysql/datetime/parse_test.go
  go/mysql/json/parser.go
  go/vt/sqlparser/literal.go
  go/vt/sqlparser/normalizer.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/helpers.go
Owners: @harshit-gangal, @systay, @mattlord, @GuptaManan100, @frouioui

make sure to handle unsupported collations well (#15134)
  go/mysql/collations/env.go
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/collations_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/typer_test.go
  go/vt/vtgate/vindexes/vschema.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100, @arthurschreiber

wip - stop columns from inside subqueries from leaking out
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/subquery.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 4278 (#4320)
  test/templates/cluster_endtoend_test_docker.tpl
  test/templates/cluster_endtoend_test_mysql57.tpl
  test/templates/cluster_endtoend_test_self_hosted.tpl
Owners: @GuptaManan100, @frouioui, @rohit-nayak-ps

backport of 4278 (#4320)
  test/templates/cluster_endtoend_test_docker.tpl
  test/templates/cluster_endtoend_test_mysql57.tpl
  test/templates/cluster_endtoend_test_self_hosted.tpl
Owners: @GuptaManan100, @frouioui, @rohit-nayak-ps

backport of 4278 (#4319)
  test/templates/cluster_endtoend_test_docker.tpl
  test/templates/cluster_endtoend_test_mysql57.tpl
  test/templates/cluster_endtoend_test_self_hosted.tpl
Owners: @GuptaManan100, @frouioui, @rohit-nayak-ps

backport of 4278 (#4319)
  test/templates/cluster_endtoend_test_docker.tpl
  test/templates/cluster_endtoend_test_mysql57.tpl
  test/templates/cluster_endtoend_test_self_hosted.tpl
Owners: @GuptaManan100, @frouioui, @rohit-nayak-ps

bugfix: push down the correct subquery expression from derived tables
  go/test/endtoend/vtgate/queries/subquery/schema.sql
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/test/endtoend/vtgate/schematracker/sharded_prs/st_sharded_test.go
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

test: clean up
  go/test/endtoend/vtgate/queries/subquery/schema.sql
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
Owners: @harshit-gangal, @systay, @frouioui

[release-17.0] Bump upgrade tests to `go1.21.7` (#15160)
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
Owners: @frouioui

[release-19.0] Release of `v19.0.0-RC1` (#15139)
  .github/workflows/code_freeze.yml
  changelog/19.0/19.0.0/changelog.md
  changelog/19.0/19.0.0/release_notes.md
  changelog/19.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @shlomi-noach, @GuptaManan100, @deepthi, @ajm188, @harshit-gangal

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
