Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit

backport of 3749 (#3750)
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/main_test.go
  go/test/endtoend/vtgate/foreignkey/unsharded_unmanaged_vschema.json
  go/test/endtoend/vtgate/foreignkey/utils_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui

[wip] generate weight strings with AVX2
  go.mod
  go.sum
  go/mysql/collations/colldata/uca_test.go
  go/mysql/collations/internal/uca/asm/generate.go
  go/mysql/collations/internal/uca/fasttables.go
  go/mysql/collations/internal/uca/iter_fast_900.go
  go/mysql/collations/internal/uca/iter_fast_900_amd64.go
  go/mysql/collations/internal/uca/iter_fast_900_test.go
  go/mysql/collations/tools/makecolldata/codegen/tablegen.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @mattlord

[wip] generate weight strings with AVX2
  go.mod
  go.sum
  go/mysql/collations/colldata/uca_test.go
  go/mysql/collations/internal/uca/asm/generate.go
  go/mysql/collations/internal/uca/fasttables.go
  go/mysql/collations/internal/uca/iter_fast_900.go
  go/mysql/collations/internal/uca/iter_fast_900_amd64.go
  go/mysql/collations/internal/uca/iter_fast_900_test.go
  go/mysql/collations/tools/makecolldata/codegen/tablegen.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @mattlord

uca: add asm
  go/mysql/collations/internal/uca/iter_fast_900.s
  go/mysql/collations/internal/uca/iter_fast_900_stub.go
Owners: @harshit-gangal, @systay, @mattlord

uca: add asm
  go/mysql/collations/internal/uca/iter_fast_900.s
  go/mysql/collations/internal/uca/iter_fast_900_stub.go
Owners: @harshit-gangal, @systay, @mattlord

vindexes: fix pooled collator buffer memory leak (#14621)
  go/vt/vtgate/vindexes/unicode.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3753 (#3758)
  go/vt/vtgate/evalengine/api_aggregation.go
  go/vt/vtgate/evalengine/api_aggregation_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3753 (#3758)
  go/vt/vtgate/evalengine/api_aggregation.go
  go/vt/vtgate/evalengine/api_aggregation_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3756 (#3759)
  go/mysql/flavor_mysql.go
Owners: @harshit-gangal, @systay, @mattlord

backport of 3756 (#3759)
  go/mysql/flavor_mysql.go
Owners: @harshit-gangal, @systay, @mattlord

begin viperizing tabletserver - max/warn result size, cache memory
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

[release-17.0] Replace use of `WAIT_UNTIL_SQL_THREAD_AFTER_GTIDS` with `WAIT_FOR_EXECUTED_GTID_SET` (#14612) (#14619)
  go/mysql/flavor_mysql.go
Owners: @harshit-gangal, @systay, @mattlord

[release-16.0] Replace use of `WAIT_UNTIL_SQL_THREAD_AFTER_GTIDS` with `WAIT_FOR_EXECUTED_GTID_SET` (#14612) (#14620)
  go/mysql/flavor_mysql.go
Owners: @harshit-gangal, @systay, @mattlord

backport of 3756 (#3761)
  go/mysql/flavor_mysql.go
Owners: @harshit-gangal, @systay, @mattlord

backport of 3756 (#3761)
  go/mysql/flavor_mysql.go
Owners: @harshit-gangal, @systay, @mattlord

[latest-17.0](#3580): CherryPick(#14426): Make column resolution closer to MySQL (#3755)
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-17.0](#3580): CherryPick(#14426): Make column resolution closer to MySQL (#3755)
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3757 (#3765)
  config/mycnf/test-suite.cnf
  go/boost/sql/row.go
  go/mysql/config/config.go
  go/mysql/endtoend/replication_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/schemadiff/vrepl/schemadiff_vrepl_suite_test.go
  go/vt/sidecardb/sidecardb.go
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/hash_join.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/evalengine/api_coerce.go
  go/vt/vtgate/evalengine/api_hash.go
  go/vt/vtgate/evalengine/api_hash_test.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/expr_env.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/weights.go
  go/vt/vtgate/evalengine/weights_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
Owners: @deepthi, @shlomi-noach, @mattlord, @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @rohit-nayak-ps

backport of 3757 (#3765)
  config/mycnf/test-suite.cnf
  go/boost/sql/row.go
  go/mysql/config/config.go
  go/mysql/endtoend/replication_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/schemadiff/vrepl/schemadiff_vrepl_suite_test.go
  go/vt/sidecardb/sidecardb.go
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/hash_join.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/evalengine/api_coerce.go
  go/vt/vtgate/evalengine/api_hash.go
  go/vt/vtgate/evalengine/api_hash_test.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/expr_env.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/weights.go
  go/vt/vtgate/evalengine/weights_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
Owners: @deepthi, @shlomi-noach, @mattlord, @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @rohit-nayak-ps

backport of 3766 (#3773)
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100

backport of 3766 (#3773)
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100

backport of 3757 (#3764)
  config/mycnf/test-suite.cnf
  go/boost/sql/row.go
  go/mysql/config/config.go
  go/mysql/endtoend/replication_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/schemadiff/vrepl/schemadiff_vrepl_suite_test.go
  go/vt/sidecardb/sidecardb.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/hash_join.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/evalengine/api_hash.go
  go/vt/vtgate/evalengine/api_hash_test.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/expr_env.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/weights.go
  go/vt/vtgate/evalengine/weights_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
Owners: @deepthi, @shlomi-noach, @mattlord, @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @rohit-nayak-ps

backport of 3757 (#3764)
  config/mycnf/test-suite.cnf
  go/boost/sql/row.go
  go/mysql/config/config.go
  go/mysql/endtoend/replication_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/schemadiff/vrepl/schemadiff_vrepl_suite_test.go
  go/vt/sidecardb/sidecardb.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/hash_join.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/evalengine/api_hash.go
  go/vt/vtgate/evalengine/api_hash_test.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/expr_env.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/weights.go
  go/vt/vtgate/evalengine/weights_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
Owners: @deepthi, @shlomi-noach, @mattlord, @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @rohit-nayak-ps

backport of 3774 (#3775)
  go/cmd/vttablet/vttablet.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @ajm188, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3774 (#3775)
  go/cmd/vttablet/vttablet.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @ajm188, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3740 (#3768)
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff.go
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff_test.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/vdiff2.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletmanager/vdiff/report.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
  proto/tabletmanagerdata.proto
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @mattlord, @rohit-nayak-ps, @deepthi, @harshit-gangal, @GuptaManan100, @shlomi-noach, @ajm188, @notfelineit

backport of 3740 (#3768)
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff.go
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff_test.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/vdiff2.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletmanager/vdiff/report.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
  proto/tabletmanagerdata.proto
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @mattlord, @rohit-nayak-ps, @deepthi, @harshit-gangal, @GuptaManan100, @shlomi-noach, @ajm188, @notfelineit

backport of 3774 (#3777)
  go/cmd/vttablet/cli/cli.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @ajm188, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3774 (#3777)
  go/cmd/vttablet/cli/cli.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @ajm188, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3778 (#3781)
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3778 (#3781)
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3778 (#3782)
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3778 (#3782)
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

[latest-17.0](#3740): CherryPick(#14437): implement `--max-report-sample-rows` for VDiff (#3767)
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/vtboost/vtboost.pb.go
  go/vt/vtctl/vdiff2.go
  go/vt/vttablet/tabletmanager/vdiff/report.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
  proto/tabletmanagerdata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @deepthi, @harshit-gangal, @mattlord, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @ajm188, @notfelineit

[latest-17.0](#3740): CherryPick(#14437): implement `--max-report-sample-rows` for VDiff (#3767)
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/vtboost/vtboost.pb.go
  go/vt/vtctl/vdiff2.go
  go/vt/vttablet/tabletmanager/vdiff/report.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
  proto/tabletmanagerdata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @deepthi, @harshit-gangal, @mattlord, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @ajm188, @notfelineit

backport of 3783 (#3784)
  go/test/endtoend/vreplication/fk_test.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/wrangler/materializer.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord, @rohit-nayak-ps

backport of 3783 (#3784)
  go/test/endtoend/vreplication/fk_test.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/wrangler/materializer.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord, @rohit-nayak-ps

backport of 3787 (#3788)
  go/vt/vttablet/tabletserver/tabletserver.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3787 (#3788)
  go/vt/vttablet/tabletserver/tabletserver.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3787 (#3789)
  go/vt/vttablet/tabletserver/tabletserver.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps
