Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit

Bugfix: GROUP BY/HAVING alias resolution (#15344) (#4566)
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/oltp_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/errors.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/vtable.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

This is a backport of vitessio#15344 (#15377)
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/orderby/orderby_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/oltp_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/errors.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/vtable.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#3950): CherryPick(#14693): Use GetTabletsByCell in healthcheck (#4573)
  .github/workflows/_planetscale_pr_build.yml
  go/stats/counters.go
  go/vt/discovery/healthcheck.go
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/topology_watcher.go
  go/vt/discovery/topology_watcher_test.go
  go/vt/topo/consultopo/error.go
  go/vt/topo/errors.go
  go/vt/topo/etcd2topo/error.go
  go/vt/topo/shard.go
  go/vt/topo/tablet.go
  go/vt/topo/tablet_test.go
  go/vt/topo/zk2topo/error.go
  go/vt/topotools/tablet.go
  go/vt/topotools/utils.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/topo.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/wrangler/shard.go
  go/vt/wrangler/split.go
Owners: @Sinjo, @dctrwatson, @Verolop, @planetscale/eng-vitess, @deepthi, @frouioui, @rohit-nayak-ps, @mattlord, @ajm188, @notfelineit, @harshit-gangal, @systay, @shlomi-noach

[latest-18.0](#3950): CherryPick(#14693): Use GetTabletsByCell in healthcheck (#4573)
  .github/workflows/_planetscale_pr_build.yml
  go/stats/counters.go
  go/vt/discovery/healthcheck.go
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/topology_watcher.go
  go/vt/discovery/topology_watcher_test.go
  go/vt/topo/consultopo/error.go
  go/vt/topo/errors.go
  go/vt/topo/etcd2topo/error.go
  go/vt/topo/shard.go
  go/vt/topo/tablet.go
  go/vt/topo/tablet_test.go
  go/vt/topo/zk2topo/error.go
  go/vt/topotools/tablet.go
  go/vt/topotools/utils.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/topo.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/wrangler/shard.go
  go/vt/wrangler/split.go
Owners: @Sinjo, @dctrwatson, @Verolop, @planetscale/eng-vitess, @deepthi, @frouioui, @rohit-nayak-ps, @mattlord, @ajm188, @notfelineit, @harshit-gangal, @systay, @shlomi-noach

[latest-17.0](#3950): CherryPick(#14693): Use GetTabletsByCell in healthcheck (#4572)
  .github/workflows/_planetscale_pr_build.yml
  go/vt/discovery/healthcheck.go
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/topology_watcher.go
  go/vt/discovery/topology_watcher_test.go
  go/vt/topo/consultopo/error.go
  go/vt/topo/errors.go
  go/vt/topo/etcd2topo/error.go
  go/vt/topo/shard.go
  go/vt/topo/tablet.go
  go/vt/topo/tablet_test.go
  go/vt/topo/zk2topo/error.go
  go/vt/topotools/tablet.go
  go/vt/topotools/utils.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/topo.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/wrangler/shard.go
  go/vt/wrangler/split.go
Owners: @Sinjo, @dctrwatson, @Verolop, @deepthi, @frouioui, @rohit-nayak-ps, @mattlord, @ajm188, @notfelineit, @harshit-gangal, @systay, @shlomi-noach

[latest-17.0](#3950): CherryPick(#14693): Use GetTabletsByCell in healthcheck (#4572)
  .github/workflows/_planetscale_pr_build.yml
  go/vt/discovery/healthcheck.go
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/topology_watcher.go
  go/vt/discovery/topology_watcher_test.go
  go/vt/topo/consultopo/error.go
  go/vt/topo/errors.go
  go/vt/topo/etcd2topo/error.go
  go/vt/topo/shard.go
  go/vt/topo/tablet.go
  go/vt/topo/tablet_test.go
  go/vt/topo/zk2topo/error.go
  go/vt/topotools/tablet.go
  go/vt/topotools/utils.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/topo.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/wrangler/shard.go
  go/vt/wrangler/split.go
Owners: @Sinjo, @dctrwatson, @Verolop, @deepthi, @frouioui, @rohit-nayak-ps, @mattlord, @ajm188, @notfelineit, @harshit-gangal, @systay, @shlomi-noach

backport of 4574 (#4576)
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
Owners: @shlomi-noach

backport of 4574 (#4576)
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
Owners: @shlomi-noach

Initial commit for adding filter clause to MoveTables. Working e2e test.
  go/cmd/vtctldclient/command/vreplication/movetables/create.go
  go/cmd/vtctldclient/command/vreplication/movetables/movetables.go
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/sidecardb/schema/vreplication/vreplication.sql
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vttablet/tabletmanager/rpc_vreplication.go
  proto/tabletmanagerdata.proto
  proto/vtctldata.proto
  test/config.json
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @mattlord, @rohit-nayak-ps, @planetscale/eng-vitess, @deepthi, @harshit-gangal, @GuptaManan100, @shlomi-noach, @ajm188, @notfelineit, @frouioui

Fix failing unit tests
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
  go/vt/wrangler/workflow_test.go
Owners: @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @mattlord

Fix failing unit and e2e tests
  go/vt/vtctl/workflow/utils_test.go
  go/vt/vttablet/tabletmanager/vreplication/insert_generator.go
  go/vt/vttablet/tabletmanager/vreplication/insert_generator_test.go
Owners: @deepthi, @rohit-nayak-ps, @mattlord

fix failing unit tests
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/wrangler/materializer_test.go
  go/vt/wrangler/resharder_test.go
Owners: @deepthi, @mattlord, @rohit-nayak-ps

Fix logic for adding additional filter in reverse workflows
  go/vt/vtctl/workflow/traffic_switcher.go
Owners: @deepthi

Fix incorrect logic for getting reverse replication filter
  go/vt/vtctl/workflow/traffic_switcher.go
Owners: @deepthi

Fix vreplication unit tests
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/vttablet/tabletmanager/vreplication/insert_generator_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
Owners: @planetscale/eng-vitess, @rohit-nayak-ps, @mattlord

Use keyspace routing rules in vtgate
  go/vt/topo/vschema.go
  go/vt/topotools/routing_rules.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vindexes/vschema.go
Owners: @deepthi, @mattlord, @harshit-gangal, @systay, @frouioui, @GuptaManan100

Add Keyspace Routing Rules to proto and functions to get/put the rules
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/topo/server.go
  go/vt/topo/srv_vschema.go
  go/vt/topo/vschema.go
  go/vt/topotools/routing_rules.go
  go/vt/topotools/routing_rules_test.go
  proto/vschema.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @deepthi, @harshit-gangal, @mattlord, @ajm188, @notfelineit

Fix a bunch of failing unit tests
  go/vt/binlog/binlogplayer/binlog_player_test.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletmanager/rpc_vreplication.go
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
Owners: @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

Remove compressed rules for now, until we come up with a better abstraction for them. Add vtctldclient cli commands for Apply/Get KeyspaceRoutingRules
  go/cmd/vtctldclient/command/keyspace_routing_rules.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtctlservice/vtctlservice_grpc.pb.go
  go/vt/topo/srv_vschema.go
  go/vt/topo/vschema.go
  go/vt/topotools/routing_rules.go
  go/vt/topotools/routing_rules_test.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/localvtctldclient/client_gen.go
  go/vt/vtgate/vindexes/vschema.go
  proto/vschema.proto
  proto/vtctldata.proto
  proto/vtctlservice.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @mattlord, @deepthi, @harshit-gangal, @notfelineit, @systay, @frouioui, @GuptaManan100

Add flags for keyspace routing rules in MoveTables. Add rules when creating the workflow and switching traffic.
  go/cmd/vtctldclient/command/vreplication/movetables/create.go
  go/cmd/vtctldclient/command/vreplication/movetables/movetables.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @mattlord, @rohit-nayak-ps, @deepthi, @harshit-gangal, @ajm188, @notfelineit

Make proto
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @deepthi, @harshit-gangal, @mattlord, @ajm188, @notfelineit

Working e2e test for single tenant migration with keyspace routing rules.
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vindexes/vschema.go
  proto/vschema.proto
Owners: @planetscale/eng-vitess, @deepthi, @harshit-gangal, @systay, @frouioui, @GuptaManan100

Protect map access with mutexes in e2e test. Make function scope private to tests.
  go/test/endtoend/vreplication/multi_tenant_test.go
Owners: @planetscale/eng-vitess

Fix failing unit tests
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletserver/vstreamer/engine_test.go
Owners: @rohit-nayak-ps, @mattlord, @harshit-gangal, @systay, @shlomi-noach

Generate flags help text
  go/flags/endtoend/vtctldclient.txt
Owners: @planetscale/eng-vitess

Fix failing unit tests
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
Owners: @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

Improve e2e test by creating more tenants and randomize the workflow steps
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/vtctl/workflow/utils.go
Owners: @planetscale/eng-vitess, @deepthi

Compression tests
  go.mod
  go.sum
  go/vt/topotools/routing_rules_test.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

backport of 4578 (#4582)
  .github/workflows/_planetscale_pr_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4578 (#4582)
  .github/workflows/_planetscale_pr_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4578 (#4583)
  .github/workflows/_planetscale_pr_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4578 (#4583)
  .github/workflows/_planetscale_pr_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

Add end-to-end test
  go/test/endtoend/vreplication/vreplication_test.go
Owners: @planetscale/eng-vitess

Revert compression test. For now we are going to assume keyspace routing rules will not be large
  go.mod
  go.sum
  go/vt/topotools/routing_rules_test.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

Address a couple of review comments
  go/cmd/vtctldclient/command/vreplication/movetables/movetables.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/multi_tenant_test.go
Owners: @mattlord, @rohit-nayak-ps, @planetscale/eng-vitess

cherry pick of 15384 (#4587) (#4588)
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/misc/schema.sql
  go/test/endtoend/vtgate/queries/misc/vschema.json
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/simple_projection.go
  go/vt/vtgate/engine/simple_projection_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/rails_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 15384 (#4587) (#4588)
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/misc/schema.sql
  go/test/endtoend/vtgate/queries/misc/vschema.json
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/simple_projection.go
  go/vt/vtgate/engine/simple_projection_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/rails_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 15384 (#4587) (#4589)
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/misc/schema.sql
  go/test/endtoend/vtgate/queries/misc/vschema.json
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/simple_projection.go
  go/vt/vtgate/engine/simple_projection_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/rails_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 15384 (#4587) (#4589)
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/misc/schema.sql
  go/test/endtoend/vtgate/queries/misc/vschema.json
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/simple_projection.go
  go/vt/vtgate/engine/simple_projection_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/rails_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 4585 (#4595)
  .github/workflows/_planetscale_nightly_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop
