Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

update license year
  go/test/endtoend/vtgate/queries/collations/collations_test.go
  go/test/endtoend/vtgate/queries/collations/main_test.go
Owners: @harshit-gangal, @systay, @frouioui

Add `release-19.0` to the auto go upgrade (#15157)
  .github/workflows/update_golang_version.yml
Owners: @frouioui

[release-19.0] make sure to handle unsupported collations well (#15143)
  go/mysql/collations/env.go
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/collations_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/typer_test.go
  go/vt/vtgate/vindexes/vschema.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100, @arthurschreiber

[release-19.0] Bump to `v19.0.0-SNAPSHOT` after the `v19.0.0-RC1` release (#15165)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

[release-18.0] Use `go1.22.0` in upgrade tests (#15170)
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
Owners: @frouioui

Bump upgrade tests to 1.21.7 (#4341)
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
Owners: @frouioui

Bump upgrade tests to 1.21.7 (#4341)
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
Owners: @frouioui

test: clean out debug code
  go/test/endtoend/vtgate/queries/collations/collations_test.go
Owners: @harshit-gangal, @systay, @frouioui

cherry pick of 15163 (#4336) (#4347)
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 15163 (#4336) (#4347)
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 4350 (#4357)
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgateclienttest.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/servenv/grpc_server.go
Owners: @planetscale/eng-vitess, @deepthi, @ajm188

backport of 4350 (#4357)
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgateclienttest.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/servenv/grpc_server.go
Owners: @planetscale/eng-vitess, @deepthi, @ajm188

cherry pick of 14939 (#4350) (#4356)
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/servenv/grpc_server.go
Owners: @planetscale/eng-vitess, @deepthi, @ajm188

cherry pick of 14939 (#4350) (#4356)
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/servenv/grpc_server.go
Owners: @planetscale/eng-vitess, @deepthi, @ajm188

backport of 4316 (#4378)
  go/cmd/vtcombo/cli/main.go
Owners: @ajm188

backport of 4316 (#4378)
  go/cmd/vtcombo/cli/main.go
Owners: @ajm188

backport of 4343 (#4377)
  go/event/syslogger/syslogger.go
Owners: @planetscale/eng-vitess

backport of 4343 (#4377)
  go/event/syslogger/syslogger.go
Owners: @planetscale/eng-vitess

feat: add columns to group by to make it work in MySQL
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

[latest-18.0](#4362): CherryPick(#15192): bugfix: wrong field type returned for SUM (#4366)
  go/test/endtoend/utils/mysql.go
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/engine/opcode/constants.go
  go/vt/vtgate/engine/opcode/constants_test.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/evalengine/expr_arithmetic.go
  go/vt/vtgate/semantics/typer.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100

[latest-18.0](#4362): CherryPick(#15192): bugfix: wrong field type returned for SUM (#4366)
  go/test/endtoend/utils/mysql.go
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/engine/opcode/constants.go
  go/vt/vtgate/engine/opcode/constants_test.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/evalengine/expr_arithmetic.go
  go/vt/vtgate/semantics/typer.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4345 (#4385)
  go/vt/throttler/throttler.go
  go/vt/vttablet/tabletserver/txthrottler/mock_throttler_test.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 4345 (#4385)
  go/vt/throttler/throttler.go
  go/vt/vttablet/tabletserver/txthrottler/mock_throttler_test.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

wip
  go/test/endtoend/vtgate/queries/routed/main_test.go
  go/test/endtoend/vtgate/queries/routed/routed_test.go
  go/test/endtoend/vtgate/queries/routed/schema.sql
  go/test/endtoend/vtgate/queries/routed/uschema.sql
  go/test/endtoend/vtgate/queries/routed/vschema.json
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/routing.go
  go/vt/vtgate/planbuilder/testdata/onecase.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vtgate/vschema_manager.go
Owners: @harshit-gangal, @systay, @frouioui, @planetscale/eng-vitess, @GuptaManan100, @arthurschreiber

[latest-18.0](#4288): CherryPick(#15069): Copy expression types to avoid weight_strings and derived tables (#4379)
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vtgate/planbuilder/operators/union_merging.go
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#4288): CherryPick(#15069): Copy expression types to avoid weight_strings and derived tables (#4379)
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vtgate/planbuilder/operators/union_merging.go
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#4304): CherryPick(#15134): make sure to handle unsupported collations well (#4380)
  go/mysql/collations/env.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/collations_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/typer_test.go
  go/vt/vtgate/vindexes/vschema.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#4304): CherryPick(#15134): make sure to handle unsupported collations well (#4380)
  go/mysql/collations/env.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/collations_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/typer_test.go
  go/vt/vtgate/vindexes/vschema.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100, @arthurschreiber

backport of 4330 (#4404)
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vttablet.txt
  go/vt/mysqlctl/kmsbackup/storage.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

backport of 4330 (#4404)
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vttablet.txt
  go/vt/mysqlctl/kmsbackup/storage.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

backport of 4330 (#4405)
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vttablet.txt
  go/vt/mysqlctl/kmsbackup/storage.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

backport of 4330 (#4405)
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vttablet.txt
  go/vt/mysqlctl/kmsbackup/storage.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

[latest-18.0](#4413): CherryPick(#15224): Tablet throttler: adding more stats (#4414)
  go/vt/vttablet/tabletmanager/rpc_throttler.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal, @systay

[latest-18.0](#4413): CherryPick(#15224): Tablet throttler: adding more stats (#4414)
  go/vt/vttablet/tabletmanager/rpc_throttler.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal, @systay

Fix failing test
  go/test/endtoend/vreplication/fk_test.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
Owners: @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

[latest-18.0](#4390): CherryPick(#15217): Avoid rewriting unsharded queries and split semantic analysis in two (#4407)
  go/boost/server/controller/boostplan/operators/plan.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/derived_test.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#4390): CherryPick(#15217): Avoid rewriting unsharded queries and split semantic analysis in two (#4407)
  go/boost/server/controller/boostplan/operators/plan.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/derived_test.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#4425): CherryPick(#15261): VReplication: disable foreign_key_checks for bulk data cleanup (#4427)
  go/test/endtoend/vreplication/fk_config_test.go
  go/test/endtoend/vreplication/fk_test.go
  go/test/endtoend/vreplication/wrappers_test.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/tabletmanager/rpc_query.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_test.go
  go/vt/wrangler/workflow_test.go
  proto/tabletmanagerdata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @planetscale/eng-vitess, @deepthi, @harshit-gangal, @mattlord, @ajm188, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @notfelineit

[latest-18.0](#4425): CherryPick(#15261): VReplication: disable foreign_key_checks for bulk data cleanup (#4427)
  go/test/endtoend/vreplication/fk_config_test.go
  go/test/endtoend/vreplication/fk_test.go
  go/test/endtoend/vreplication/wrappers_test.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/tabletmanager/rpc_query.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_test.go
  go/vt/wrangler/workflow_test.go
  proto/tabletmanagerdata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @planetscale/eng-vitess, @deepthi, @harshit-gangal, @mattlord, @ajm188, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @notfelineit

feat: ensure we send all messages in a stream in a single go routine
  go/vt/vtgate/grpcvtgateservice/server.go
  go/vt/vtgate/grpcvtgateservice/server_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
