Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

backport of 4158 (#4160)
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/vttablet/grpctmclient/client.go
Owners: @planetscale/eng-vitess, @ajm188, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

backport of 4158 (#4160)
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/vttablet/grpctmclient/client.go
Owners: @planetscale/eng-vitess, @ajm188, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

[latest-18.0](#4161): CherryPick(#14954): Protect `ExecuteFetchAsDBA` against multi-statements, excluding a sequence of `CREATE TABLE|VIEW`. (#4163)
  go/test/endtoend/backup/vtbackup/backup_only_test.go
  go/test/endtoend/clustertest/vtctld_test.go
  go/test/endtoend/mysqlserver/main_test.go
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/vt/sqlparser/ast_test.go
  go/vt/sqlparser/utils.go
  go/vt/sqlparser/utils_test.go
  go/vt/vttablet/tabletmanager/rpc_query.go
  go/vt/vttablet/tabletmanager/rpc_query_test.go
Owners: @planetscale/eng-vitess, @deepthi, @shlomi-noach, @GuptaManan100, @harshit-gangal, @systay, @rohit-nayak-ps

[latest-18.0](#4161): CherryPick(#14954): Protect `ExecuteFetchAsDBA` against multi-statements, excluding a sequence of `CREATE TABLE|VIEW`. (#4163)
  go/test/endtoend/backup/vtbackup/backup_only_test.go
  go/test/endtoend/clustertest/vtctld_test.go
  go/test/endtoend/mysqlserver/main_test.go
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/vt/sqlparser/ast_test.go
  go/vt/sqlparser/utils.go
  go/vt/sqlparser/utils_test.go
  go/vt/vttablet/tabletmanager/rpc_query.go
  go/vt/vttablet/tabletmanager/rpc_query_test.go
Owners: @planetscale/eng-vitess, @deepthi, @shlomi-noach, @GuptaManan100, @harshit-gangal, @systay, @rohit-nayak-ps

[latest-17.0](#4161): CherryPick(#14954): Protect `ExecuteFetchAsDBA` against multi-statements, excluding a sequence of `CREATE TABLE|VIEW`. (#4166)
  go/test/endtoend/backup/vtbackup/backup_only_test.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/clustertest/vtctld_test.go
  go/test/endtoend/mysqlserver/main_test.go
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/vt/sqlparser/ast_test.go
  go/vt/sqlparser/utils.go
  go/vt/sqlparser/utils_test.go
  go/vt/vttablet/tabletmanager/rpc_query.go
  go/vt/vttablet/tabletmanager/rpc_query_test.go
Owners: @planetscale/eng-vitess, @deepthi, @shlomi-noach, @GuptaManan100, @harshit-gangal, @systay, @rohit-nayak-ps

[latest-17.0](#4161): CherryPick(#14954): Protect `ExecuteFetchAsDBA` against multi-statements, excluding a sequence of `CREATE TABLE|VIEW`. (#4166)
  go/test/endtoend/backup/vtbackup/backup_only_test.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/clustertest/vtctld_test.go
  go/test/endtoend/mysqlserver/main_test.go
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/vt/sqlparser/ast_test.go
  go/vt/sqlparser/utils.go
  go/vt/sqlparser/utils_test.go
  go/vt/vttablet/tabletmanager/rpc_query.go
  go/vt/vttablet/tabletmanager/rpc_query_test.go
Owners: @planetscale/eng-vitess, @deepthi, @shlomi-noach, @GuptaManan100, @harshit-gangal, @systay, @rohit-nayak-ps

[latest-18.0](#4140): CherryPick(#14935): bugfix: Columns alias expanding (#4162)
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/queryprojection_test.go
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/planbuilder/testdata/unknown_schema_cases.json
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui, @arthurschreiber

[latest-18.0](#4140): CherryPick(#14935): bugfix: Columns alias expanding (#4162)
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/queryprojection_test.go
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/planbuilder/testdata/unknown_schema_cases.json
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui, @arthurschreiber

[latest-17.0](#4180): ExecuteFetchAsDBA: allow multi-statement query (vitess-private only) (#4183)
  go/vt/vttablet/tabletmanager/rpc_query.go
Owners: @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

[latest-17.0](#4180): ExecuteFetchAsDBA: allow multi-statement query (vitess-private only) (#4183)
  go/vt/vttablet/tabletmanager/rpc_query.go
Owners: @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

[latest-18.0](#4180): ExecuteFetchAsDBA: allow multi-statement query (vitess-private only) (#4182)
  go/vt/vttablet/tabletmanager/rpc_query.go
Owners: @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

[latest-18.0](#4180): ExecuteFetchAsDBA: allow multi-statement query (vitess-private only) (#4182)
  go/vt/vttablet/tabletmanager/rpc_query.go
Owners: @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

Initial commit. Adds tenant id to both forward and reverse workflows and option to vtctldclient MoveTables
  go/cmd/vtctldclient/command/vreplication/movetables/create.go
  go/cmd/vtctldclient/command/vreplication/movetables/movetables.go
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/sidecardb/schema/vreplication/vreplication.sql
  go/vt/sidecardb/sidecardb.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vttablet/tabletmanager/rpc_vreplication.go
  proto/tabletmanagerdata.proto
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @mattlord, @rohit-nayak-ps, @planetscale/eng-vitess, @deepthi, @harshit-gangal, @GuptaManan100, @shlomi-noach, @ajm188, @notfelineit

Initial commit. Adds tenant id to both forward and reverse workflows and option to vtctldclient MoveTables
  go/cmd/vtctldclient/command/vreplication/movetables/create.go
  go/cmd/vtctldclient/command/vreplication/movetables/movetables.go
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/sidecardb/schema/vreplication/vreplication.sql
  go/vt/sidecardb/sidecardb.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vttablet/tabletmanager/rpc_vreplication.go
  proto/tabletmanagerdata.proto
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @mattlord, @rohit-nayak-ps, @planetscale/eng-vitess, @deepthi, @harshit-gangal, @GuptaManan100, @shlomi-noach, @ajm188, @notfelineit

[release-16.0] 16.0.8 release notes: ExecuteFetchAsDBA breaking change (#15012)
  changelog/16.0/16.0.8/summary.md
  changelog/16.0/README.md
Owners: @planetscale/eng-vitess

[release-18.0] 18.0.3 release notes: ExecuteFetchAsDBA breaking change (#15013)
  changelog/18.0/18.0.3/summary.md
  changelog/18.0/README.md
Owners: @planetscale/eng-vitess

[release-17.0] 17.0.6 release notes: ExecuteFetchAsDBA breaking change (#15011)
  changelog/17.0/17.0.6/summary.md
  changelog/17.0/README.md
Owners: @planetscale/eng-vitess

Failed Vindex experiment, committing to keep history, in case we decide to use part of it
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/topo/server.go
  go/vt/topo/srv_vschema.go
  go/vt/topo/tenant_migration_status.go
  go/vt/topo/vschema.go
  go/vt/topotools/tenant_migration_status.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vtgate/engine/routing.go
  go/vt/vtgate/vindexes/multicol.go
  go/vt/vtgate/vindexes/multitenant.go
  go/vt/vtgate/vindexes/vindex.go
  go/vt/vtgate/vschema_manager.go
  proto/vschema.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @planetscale/eng-vitess, @deepthi, @harshit-gangal, @mattlord, @systay, @frouioui, @GuptaManan100, @ajm188, @notfelineit

Failed Vindex experiment, committing to keep history, in case we decide to use part of it
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/topo/server.go
  go/vt/topo/srv_vschema.go
  go/vt/topo/tenant_migration_status.go
  go/vt/topo/vschema.go
  go/vt/topotools/tenant_migration_status.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vtgate/engine/routing.go
  go/vt/vtgate/vindexes/multicol.go
  go/vt/vtgate/vindexes/multitenant.go
  go/vt/vtgate/vindexes/vindex.go
  go/vt/vtgate/vschema_manager.go
  proto/vschema.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @planetscale/eng-vitess, @deepthi, @harshit-gangal, @mattlord, @systay, @frouioui, @GuptaManan100, @ajm188, @notfelineit

[latest-18.0](#4198): CherryPick(#14798): ApplySchema: log selected flags (#4199)
  go/vt/vtctl/grpcvtctldserver/server.go
Owners: @ajm188, @notfelineit

[latest-18.0](#4198): CherryPick(#14798): ApplySchema: log selected flags (#4199)
  go/vt/vtctl/grpcvtctldserver/server.go
Owners: @ajm188, @notfelineit

backport of 4196 (#4197)
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_fk_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 4196 (#4197)
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_fk_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 14851 (#4035) (#4193)
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 14851 (#4035) (#4193)
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 4213 (#4215)
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/tx_conn_test.go
  go/vt/vtgate/vtgate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4213 (#4215)
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/tx_conn_test.go
  go/vt/vtgate/vtgate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4213 (#4214)
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/tx_conn_test.go
  go/vt/vtgate/vtgate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4213 (#4214)
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/tx_conn_test.go
  go/vt/vtgate/vtgate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4200 (#4216)
  go/vt/vttablet/tabletserver/txserializer/tx_serializer.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 4200 (#4216)
  go/vt/vttablet/tabletserver/txserializer/tx_serializer.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Copy the dependencies of the subquery properly during clonning
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/subquery_builder.go
  go/vt/vtgate/semantics/semantic_state.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

feat: make sure to handle subqueries correctly planning ORDER BY
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 4230 (#4241)
  go/cmd/vtbackup/cli/vtbackup.go
  go/cmd/vtctldclient/command/backups.go
  go/flags/endtoend/vtbackup.txt
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/backup/vtctlbackup/pitr_test_framework.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/xtrabackupengine.go
  go/vt/vtctl/backup.go
Owners: @ajm188, @mattlord, @planetscale/eng-vitess, @deepthi

backport of 4230 (#4241)
  go/cmd/vtbackup/cli/vtbackup.go
  go/cmd/vtctldclient/command/backups.go
  go/flags/endtoend/vtbackup.txt
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/backup/vtctlbackup/pitr_test_framework.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/xtrabackupengine.go
  go/vt/vtctl/backup.go
Owners: @ajm188, @mattlord, @planetscale/eng-vitess, @deepthi

backport of 4245 (#4246)
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/backup/vtctlbackup/pitr_test_framework.go
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/backup_blackbox_test.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/binlogs_gtid.go
  go/vt/mysqlctl/binlogs_gtid_test.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/fakebackupengine.go
  go/vt/mysqlctl/xtrabackupengine.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

backport of 4245 (#4246)
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/backup/vtctlbackup/pitr_test_framework.go
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/backup_blackbox_test.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/binlogs_gtid.go
  go/vt/mysqlctl/binlogs_gtid_test.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/fakebackupengine.go
  go/vt/mysqlctl/xtrabackupengine.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

backport of 4248 (#4249)
  go/mysql/datetime/datetime.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/fn_time.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 4248 (#4249)
  go/mysql/datetime/datetime.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/fn_time.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 4248 (#4250)
  go/mysql/datetime/datetime.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/fn_time.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
