Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

backport of 3898 (#3903)
  .github/workflows/static_checks_etc.yml
Owners: @frouioui

backport of 3898 (#3903)
  .github/workflows/static_checks_etc.yml
Owners: @frouioui

backport of 3891 (#3902)
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3891 (#3902)
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

[latest-17.0](#3891): CherryPick(#14716): Fix RegisterNotifier to use a copy of the tables to prevent data races (#3900)
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

[latest-17.0](#3891): CherryPick(#14716): Fix RegisterNotifier to use a copy of the tables to prevent data races (#3900)
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3896 (#3897)
  .github/workflows/cluster_endtoend_vreplication_foreign_key_stress.yml
Owners: @frouioui

backport of 3896 (#3897)
  .github/workflows/cluster_endtoend_vreplication_foreign_key_stress.yml
Owners: @frouioui

backport of 3905 (#3908)
  go/pools/smartconnpool/pool_test.go
Owners: @harshit-gangal

backport of 3905 (#3908)
  go/pools/smartconnpool/pool_test.go
Owners: @harshit-gangal

backport of 3894 (#3909)
  go/vt/vtctl/grpcvtctldserver/server_test.go
Owners: @ajm188, @notfelineit

backport of 3894 (#3909)
  go/vt/vtctl/grpcvtctldserver/server_test.go
Owners: @ajm188, @notfelineit

backport of 3894 (#3911)
  go/vt/vtctl/grpcvtctldserver/server_test.go
Owners: @ajm188, @notfelineit

backport of 3894 (#3911)
  go/vt/vtctl/grpcvtctldserver/server_test.go
Owners: @ajm188, @notfelineit

wip
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/unlock.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vindexes/lookup_internal.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

wip
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/unlock.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vindexes/lookup_internal.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3907 (#3914)
  .github/workflows/_planetscale_pr_build.yml
  go.mod
  go.sum
  go/vt/mysqlctl/kmsbackup/kms_read_conn_reset_retryer.go
  go/vt/mysqlctl/kmsbackup/main_test.go
  go/vt/mysqlctl/kmsbackup/retry_read_conn_reset_error_test.go
  go/vt/mysqlctl/kmsbackup/storage.go
Owners: @Sinjo, @dctrwatson, @Verolop, @planetscale/eng-vitess, @deepthi, @mattlord

backport of 3907 (#3914)
  .github/workflows/_planetscale_pr_build.yml
  go.mod
  go.sum
  go/vt/mysqlctl/kmsbackup/kms_read_conn_reset_retryer.go
  go/vt/mysqlctl/kmsbackup/main_test.go
  go/vt/mysqlctl/kmsbackup/retry_read_conn_reset_error_test.go
  go/vt/mysqlctl/kmsbackup/storage.go
Owners: @Sinjo, @dctrwatson, @Verolop, @planetscale/eng-vitess, @deepthi, @mattlord

backport of 3907 (#3913)
  .github/workflows/_planetscale_pr_build.yml
  go.mod
  go.sum
  go/vt/mysqlctl/kmsbackup/kms_read_conn_reset_retryer.go
  go/vt/mysqlctl/kmsbackup/main_test.go
  go/vt/mysqlctl/kmsbackup/retry_read_conn_reset_error_test.go
  go/vt/mysqlctl/kmsbackup/storage.go
Owners: @Sinjo, @dctrwatson, @Verolop, @planetscale/eng-vitess, @deepthi, @mattlord

backport of 3907 (#3913)
  .github/workflows/_planetscale_pr_build.yml
  go.mod
  go.sum
  go/vt/mysqlctl/kmsbackup/kms_read_conn_reset_retryer.go
  go/vt/mysqlctl/kmsbackup/main_test.go
  go/vt/mysqlctl/kmsbackup/retry_read_conn_reset_error_test.go
  go/vt/mysqlctl/kmsbackup/storage.go
Owners: @Sinjo, @dctrwatson, @Verolop, @planetscale/eng-vitess, @deepthi, @mattlord

backport of 3920 (#3921)
  go/vt/vttablet/tabletserver/messager/message_manager.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @mattlord, @rohit-nayak-ps, @harshit-gangal, @systay, @shlomi-noach

backport of 3920 (#3921)
  go/vt/vttablet/tabletserver/messager/message_manager.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @mattlord, @rohit-nayak-ps, @harshit-gangal, @systay, @shlomi-noach

Revert "backport of 3756 (#3759)" (#3924)
  go/mysql/flavor_mysql.go
Owners: @harshit-gangal, @systay, @mattlord

Revert "backport of 3756 (#3759)" (#3924)
  go/mysql/flavor_mysql.go
Owners: @harshit-gangal, @systay, @mattlord

Revert "backport of 3756 (#3761)" (#3923)
  go/mysql/flavor_mysql.go
Owners: @harshit-gangal, @systay, @mattlord

Revert "backport of 3756 (#3761)" (#3923)
  go/mysql/flavor_mysql.go
Owners: @harshit-gangal, @systay, @mattlord

backport of 3915 (#3925)
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/engine/send.go
  go/vt/vtgate/engine/unlock.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/locktables.go
  go/vt/vtgate/planbuilder/testdata/flush_cases.json
  go/vt/vtgate/planbuilder/testdata/flush_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/lock_cases.json
  go/vt/vttablet/endtoend/reserve_test.go
  go/vt/vttablet/tabletserver/planbuilder/builder.go
  go/vt/vttablet/tabletserver/planbuilder/permission.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_executor.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber, @mattlord, @rohit-nayak-ps, @shlomi-noach

backport of 3915 (#3925)
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/engine/send.go
  go/vt/vtgate/engine/unlock.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/locktables.go
  go/vt/vtgate/planbuilder/testdata/flush_cases.json
  go/vt/vtgate/planbuilder/testdata/flush_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/lock_cases.json
  go/vt/vttablet/endtoend/reserve_test.go
  go/vt/vttablet/tabletserver/planbuilder/builder.go
  go/vt/vttablet/tabletserver/planbuilder/permission.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_executor.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber, @mattlord, @rohit-nayak-ps, @shlomi-noach

backport of 3915 (#3926)
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/engine/send.go
  go/vt/vtgate/engine/unlock.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/locktables.go
  go/vt/vtgate/planbuilder/testdata/flush_cases.json
  go/vt/vtgate/planbuilder/testdata/flush_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/lock_cases.json
  go/vt/vttablet/endtoend/reserve_test.go
  go/vt/vttablet/tabletserver/planbuilder/builder.go
  go/vt/vttablet/tabletserver/planbuilder/permission.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_executor.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber, @mattlord, @rohit-nayak-ps, @shlomi-noach

backport of 3915 (#3926)
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/engine/send.go
  go/vt/vtgate/engine/unlock.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/locktables.go
  go/vt/vtgate/planbuilder/testdata/flush_cases.json
  go/vt/vtgate/planbuilder/testdata/flush_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/lock_cases.json
  go/vt/vttablet/endtoend/reserve_test.go
  go/vt/vttablet/tabletserver/planbuilder/builder.go
  go/vt/vttablet/tabletserver/planbuilder/permission.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_executor.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber, @mattlord, @rohit-nayak-ps, @shlomi-noach

[latest-17.0](#3898): CherryPick(#14724): Add step to static check to ensure consistency of GHA workflows (#3901)
  .github/workflows/static_checks_etc.yml
Owners: @frouioui

[latest-17.0](#3898): CherryPick(#14724): Add step to static check to ensure consistency of GHA workflows (#3901)
  .github/workflows/static_checks_etc.yml
Owners: @frouioui

Revert "[release-18.0] Replace use of `WAIT_UNTIL_SQL_THREAD_AFTER_GTIDS` with `WAIT_FOR_EXECUTED_GTID_SET` (#14612)" (#14742)
  go/mysql/flavor_mysql.go
Owners: @harshit-gangal, @systay, @mattlord

Revert "[release-17.0] Replace use of `WAIT_UNTIL_SQL_THREAD_AFTER_GTIDS` with `WAIT_FOR_EXECUTED_GTID_SET` (#14612)" (#14744)
  go/mysql/flavor_mysql.go
Owners: @harshit-gangal, @systay, @mattlord

feat: print error.log file to see what's going on
  go/test/endtoend/cluster/mysqlctld_process.go
  go/test/endtoend/mysqlctld/mysqlctld_test.go
Owners: @planetscale/eng-vitess

Revert "[release-16.0] Replace use of `WAIT_UNTIL_SQL_THREAD_AFTER_GTIDS` with `WAIT_FOR_EXECUTED_GTID_SET` (#14612) (#14620)"
  go/mysql/flavor_mysql.go
Owners: @harshit-gangal, @systay, @mattlord

Revert "[release-16.0] Replace use of `WAIT_UNTIL_SQL_THREAD_AFTER_GTIDS` with `WAIT_FOR_EXECUTED_GTID_SET` (#14612)" (#14743)
  go/mysql/flavor_mysql.go
Owners: @harshit-gangal, @systay, @mattlord

Set vttablet db time zone as UTC on initialize: without that, timestamp columns are failing on e2e tests on Mac
  go/test/endtoend/vreplication/cluster_test.go
Owners: @planetscale/eng-vitess

Set vttablet db time zone as UTC on initialize: without that, timestamp columns are failing on e2e tests on Mac
  go/test/endtoend/vreplication/cluster_test.go
Owners: @planetscale/eng-vitess

backport of 3938 (#3944)
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  examples/backups/stop_tablets.sh
Owners: @frouioui, @planetscale/eng-vitess

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
