Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit

backport of 3556 (#3557)
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_diff_test.go
Owners: @planetscale/eng-vitess

backport of 3556 (#3557)
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_diff_test.go
Owners: @planetscale/eng-vitess

backport of 3554 (#3555)
  go/test/endtoend/vtgate/queries/random/random_test.go
  go/vt/vtgate/evalengine/translate_card.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/semantics/semantic_state.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3554 (#3555)
  go/test/endtoend/vtgate/queries/random/random_test.go
  go/vt/vtgate/evalengine/translate_card.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/semantics/semantic_state.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3560 (#3562)
  go/vt/schema/online_ddl_test.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/table_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/tracked_buffer_test.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.json
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.json
  go/vt/vttablet/onlineddl/executor_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/wrangler/materializer_test.go
Owners: @shlomi-noach, @planetscale/eng-vitess, @harshit-gangal, @systay, @GuptaManan100, @deepthi, @frouioui, @arthurschreiber, @mattlord, @rohit-nayak-ps

backport of 3560 (#3562)
  go/vt/schema/online_ddl_test.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/table_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/tracked_buffer_test.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.json
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.json
  go/vt/vttablet/onlineddl/executor_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/wrangler/materializer_test.go
Owners: @shlomi-noach, @planetscale/eng-vitess, @harshit-gangal, @systay, @GuptaManan100, @deepthi, @frouioui, @arthurschreiber, @mattlord, @rohit-nayak-ps

backport of 3566 (#3568)
  go/test/endtoend/vtgate/errors_as_warnings/main_test.go
Owners: @harshit-gangal, @systay, @frouioui

backport of 3566 (#3568)
  go/test/endtoend/vtgate/errors_as_warnings/main_test.go
Owners: @harshit-gangal, @systay, @frouioui

backport of 3566 (#3569)
  go/test/endtoend/vtgate/errors_as_warnings/main_test.go
Owners: @harshit-gangal, @systay, @frouioui

backport of 3566 (#3569)
  go/test/endtoend/vtgate/errors_as_warnings/main_test.go
Owners: @harshit-gangal, @systay, @frouioui

backport of 3567 (#3577)
  go/boost/server/controller/boostplan/external_schema.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/graph/graph.go
  go/vt/graph/graph_test.go
  go/vt/schemadiff/semantics.go
  go/vt/vterrors/code.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.json
  go/vt/vtgate/semantics/FakeSI.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/info_schema.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3567 (#3577)
  go/boost/server/controller/boostplan/external_schema.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/graph/graph.go
  go/vt/graph/graph_test.go
  go/vt/schemadiff/semantics.go
  go/vt/vterrors/code.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.json
  go/vt/vtgate/semantics/FakeSI.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/info_schema.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3564 (#3574)
  .github/workflows/_planetscale_nightly_build.yml
  .github/workflows/_planetscale_pr_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 3564 (#3574)
  .github/workflows/_planetscale_nightly_build.yml
  .github/workflows/_planetscale_pr_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 3565 (#3572)
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3565 (#3572)
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3571 (#3579)
  go/vt/wrangler/fake_tablet_test.go
Owners: @deepthi, @mattlord, @rohit-nayak-ps

backport of 3571 (#3579)
  go/vt/wrangler/fake_tablet_test.go
Owners: @deepthi, @mattlord, @rohit-nayak-ps

backport of 3564 (#3575)
  .github/workflows/_planetscale_nightly_build.yml
  .github/workflows/_planetscale_pr_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 3564 (#3575)
  .github/workflows/_planetscale_nightly_build.yml
  .github/workflows/_planetscale_pr_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 3563 (#3573)
  go/vt/discovery/replicationlag.go
  go/vt/discovery/topology_watcher.go
  go/vt/vttablet/tabletserver/txthrottler/mock_topology_watcher_test.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Owners: @deepthi, @frouioui, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3563 (#3573)
  go/vt/discovery/replicationlag.go
  go/vt/discovery/topology_watcher.go
  go/vt/vttablet/tabletserver/txthrottler/mock_topology_watcher_test.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Owners: @deepthi, @frouioui, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

[latest-17.0](#3563): CherryPick(#14412): tx throttler: remove unused topology watchers (#3578)
  changelog/19.0/19.0.0/summary.md
  go/vt/discovery/replicationlag.go
  go/vt/discovery/topology_watcher.go
  go/vt/vttablet/tabletserver/txthrottler/mock_topology_watcher_test.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Owners: @planetscale/eng-vitess, @deepthi, @frouioui, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

[latest-17.0](#3563): CherryPick(#14412): tx throttler: remove unused topology watchers (#3578)
  changelog/19.0/19.0.0/summary.md
  go/vt/discovery/replicationlag.go
  go/vt/discovery/topology_watcher.go
  go/vt/vttablet/tabletserver/txthrottler/mock_topology_watcher_test.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Owners: @planetscale/eng-vitess, @deepthi, @frouioui, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

foreign key fuzzer table - add unique columns
  go/test/endtoend/vtgate/foreignkey/unsharded_schema.sql
Owners: @harshit-gangal, @systay, @frouioui

foreign key fuzzer table - add unique columns
  go/test/endtoend/vtgate/foreignkey/unsharded_schema.sql
Owners: @harshit-gangal, @systay, @frouioui

tx_throttler: remove topo watchers metric (#14444)
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3581 (#3584)
  go/vt/vtgate/engine/join.go
  go/vt/vtgate/engine/scalar_aggregation.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3581 (#3584)
  go/vt/vtgate/engine/join.go
  go/vt/vtgate/engine/scalar_aggregation.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

mysql to use unsharded schema
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/main_test.go
  go/test/endtoend/vtgate/foreignkey/unsharded_schema.sql
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui

mysql to use unsharded schema
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/main_test.go
  go/test/endtoend/vtgate/foreignkey/unsharded_schema.sql
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui

backport of 3581 (#3583)
  go/vt/vtgate/engine/join.go
  go/vt/vtgate/engine/scalar_aggregation.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3581 (#3583)
  go/vt/vtgate/engine/join.go
  go/vt/vtgate/engine/scalar_aggregation.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

Fix for viper Dynamic flags and default values (#3587)
  go/viperutil/internal/sync/sync.go
  go/viperutil/internal/sync/sync_test.go
  go/vt/vtgate/planbuilder/builder.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

Fix for viper Dynamic flags and default values (#3587)
  go/viperutil/internal/sync/sync.go
  go/viperutil/internal/sync/sync_test.go
  go/vt/vtgate/planbuilder/builder.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3589 (#3592)
  go/viperutil/internal/sync/sync.go
  go/viperutil/internal/sync/sync_test.go
Owners: @planetscale/eng-vitess

backport of 3589 (#3592)
  go/viperutil/internal/sync/sync.go
  go/viperutil/internal/sync/sync_test.go
Owners: @planetscale/eng-vitess

backport of 3591 (#3593)
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/vt/vtgate/executor.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3591 (#3593)
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/vt/vtgate/executor.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3594 (#3595)
  go/boost/cmd/vtboost/cli/cli.go
  go/cmd/mysqlctld/cli/mysqlctld.go
  go/cmd/vtaclcheck/cli/vtactlcheck.go
  go/cmd/vtbackup/cli/vtbackup.go
  go/cmd/vtbench/cli/vtbench.go
  go/cmd/vtctld/cli/cli.go
  go/cmd/vtgate/cli/cli.go
  go/cmd/vttablet/cli/cli.go
  go/vt/servenv/run.go
Owners: @planetscale/eng-vitess, @ajm188, @deepthi
