Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

backport of 3787 (#3789)
  go/vt/vttablet/tabletserver/tabletserver.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3795 (#3797)
  go/vt/mysqlctl/cmd.go
  go/vt/mysqlctl/mycnf.go
  go/vt/mysqlctl/mycnf_flag.go
  go/vt/mysqlctl/mycnf_test.go
Owners: @deepthi, @mattlord

backport of 3795 (#3797)
  go/vt/mysqlctl/cmd.go
  go/vt/mysqlctl/mycnf.go
  go/vt/mysqlctl/mycnf_flag.go
  go/vt/mysqlctl/mycnf_test.go
Owners: @deepthi, @mattlord

backport of 3795 (#3799)
  go/vt/mysqlctl/cmd.go
  go/vt/mysqlctl/mycnf.go
  go/vt/mysqlctl/mycnf_flag.go
  go/vt/mysqlctl/mycnf_test.go
Owners: @deepthi, @mattlord

backport of 3795 (#3799)
  go/vt/mysqlctl/cmd.go
  go/vt/mysqlctl/mycnf.go
  go/vt/mysqlctl/mycnf_flag.go
  go/vt/mysqlctl/mycnf_test.go
Owners: @deepthi, @mattlord

backport of 3791 (#3801)
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/insert_common.go
  go/vt/vtgate/engine/insert_select.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3791 (#3801)
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/insert_common.go
  go/vt/vtgate/engine/insert_select.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#3802): CherryPick(#14641): bugfix: do not rewrite an expression twice (#3803)
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#3802): CherryPick(#14641): bugfix: do not rewrite an expression twice (#3803)
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3800 (#3804)
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
Owners: @ajm188, @notfelineit, @GuptaManan100, @deepthi

backport of 3800 (#3804)
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
Owners: @ajm188, @notfelineit, @GuptaManan100, @deepthi

[latest-18.0](#3806): CherryPick(#14646): VReplication TableStreamer: Only stream tables in tablestreamer (ignore views) (#3807)
  go/test/endtoend/vreplication/fk_config_test.go
  go/vt/vttablet/tabletserver/vstreamer/tablestreamer.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

[latest-18.0](#3806): CherryPick(#14646): VReplication TableStreamer: Only stream tables in tablestreamer (ignore views) (#3807)
  go/test/endtoend/vreplication/fk_config_test.go
  go/vt/vttablet/tabletserver/vstreamer/tablestreamer.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3812 (#3815)
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

backport of 3812 (#3815)
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

backport of 3812 (#3814)
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

backport of 3812 (#3814)
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

backport of 3811 (#3818)
  go/test/endtoend/backup/vtbackup/backup_only_test.go
Owners: @planetscale/eng-vitess

backport of 3811 (#3818)
  go/test/endtoend/backup/vtbackup/backup_only_test.go
Owners: @planetscale/eng-vitess

backport of 3811 (#3821)
  go/test/endtoend/backup/vtbackup/backup_only_test.go
Owners: @planetscale/eng-vitess

backport of 3811 (#3821)
  go/test/endtoend/backup/vtbackup/backup_only_test.go
Owners: @planetscale/eng-vitess

backport of 3752 (#3826)
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3752 (#3826)
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3810 (#3816)
  go/cmd/mysqlctl/command/shutdown.go
  go/cmd/mysqlctl/command/teardown.go
  go/cmd/mysqlctld/cli/mysqlctld.go
  go/cmd/vtbackup/cli/vtbackup.go
  go/cmd/vtcombo/cli/main.go
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/utils/mysql.go
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/backup_blackbox_test.go
  go/vt/mysqlctl/backup_test.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/grpcmysqlctlserver/server.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/xtrabackupengine.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/mysqlctl/mysqlctl_vtproto.pb.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/rpc_backup.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/wrangler/testlib/backup_test.go
  proto/mysqlctl.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @planetscale/eng-vitess, @deepthi, @mattlord, @harshit-gangal, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @notfelineit

backport of 3810 (#3816)
  go/cmd/mysqlctl/command/shutdown.go
  go/cmd/mysqlctl/command/teardown.go
  go/cmd/mysqlctld/cli/mysqlctld.go
  go/cmd/vtbackup/cli/vtbackup.go
  go/cmd/vtcombo/cli/main.go
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/utils/mysql.go
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/backup_blackbox_test.go
  go/vt/mysqlctl/backup_test.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/grpcmysqlctlserver/server.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/xtrabackupengine.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/mysqlctl/mysqlctl_vtproto.pb.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/rpc_backup.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/wrangler/testlib/backup_test.go
  proto/mysqlctl.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @planetscale/eng-vitess, @deepthi, @mattlord, @harshit-gangal, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @notfelineit

backport of 3810 (#3819)
  go/cmd/mysqlctl/mysqlctl.go
  go/cmd/mysqlctld/mysqlctld.go
  go/cmd/vtbackup/vtbackup.go
  go/cmd/vtcombo/main.go
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/test/endtoend/utils/mysql.go
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/backup_blackbox_test.go
  go/vt/mysqlctl/backup_test.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/grpcmysqlctlserver/server.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/xtrabackupengine.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/mysqlctl/mysqlctl_vtproto.pb.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/rpc_backup.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/wrangler/testlib/backup_test.go
  proto/mysqlctl.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @planetscale/eng-vitess, @deepthi, @mattlord, @harshit-gangal, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @notfelineit

backport of 3810 (#3819)
  go/cmd/mysqlctl/mysqlctl.go
  go/cmd/mysqlctld/mysqlctld.go
  go/cmd/vtbackup/vtbackup.go
  go/cmd/vtcombo/main.go
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/test/endtoend/utils/mysql.go
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/backup_blackbox_test.go
  go/vt/mysqlctl/backup_test.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/grpcmysqlctlserver/server.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/xtrabackupengine.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/mysqlctl/mysqlctl_vtproto.pb.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/rpc_backup.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/wrangler/testlib/backup_test.go
  proto/mysqlctl.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @planetscale/eng-vitess, @deepthi, @mattlord, @harshit-gangal, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @notfelineit

backport of 3828 (#3832)
  go/cmd/vtbackup/cli/vtbackup.go
  go/flags/endtoend/vtbackup.txt
Owners: @ajm188, @planetscale/eng-vitess

backport of 3828 (#3832)
  go/cmd/vtbackup/cli/vtbackup.go
  go/flags/endtoend/vtbackup.txt
Owners: @ajm188, @planetscale/eng-vitess

backport of 3830 (#3833)
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
Owners: @rohit-nayak-ps, @mattlord

backport of 3830 (#3833)
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
Owners: @rohit-nayak-ps, @mattlord

[latest-18.0](#3829): CherryPick(#14431): TableGC: speed up GC process via `RequestChecks()`. Utilized by Online DDL for artifact cleanup (#3831)
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/timer/suspendable_ticker.go
  go/timer/suspendable_ticker_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/vttablet/tabletserver/gc/tablegc_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Owners: @planetscale/eng-vitess, @mattlord, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal, @systay

[latest-18.0](#3829): CherryPick(#14431): TableGC: speed up GC process via `RequestChecks()`. Utilized by Online DDL for artifact cleanup (#3831)
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/timer/suspendable_ticker.go
  go/timer/suspendable_ticker_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/vttablet/tabletserver/gc/tablegc_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Owners: @planetscale/eng-vitess, @mattlord, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal, @systay

query fuzzing: test cleaning and renaming
  go/test/endtoend/vtgate/queries/query_fuzzing/dept_insert.sql
  go/test/endtoend/vtgate/queries/query_fuzzing/emp_insert.sql
  go/test/endtoend/vtgate/queries/query_fuzzing/fuzzing_test.go
  go/test/endtoend/vtgate/queries/query_fuzzing/main_test.go
  go/test/endtoend/vtgate/queries/query_fuzzing/query_gen.go
  go/test/endtoend/vtgate/queries/query_fuzzing/query_gen_test.go
  go/test/endtoend/vtgate/queries/query_fuzzing/random_expr_test.go
  go/test/endtoend/vtgate/queries/query_fuzzing/schema.sql
  go/test/endtoend/vtgate/queries/query_fuzzing/simplifier_test.go
  go/test/endtoend/vtgate/queries/query_fuzzing/svschema.json
  go/test/endtoend/vtgate/queries/query_fuzzing/vschema.json
  test/config.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @rohit-nayak-ps

test: imports and cleanup
  go/test/endtoend/vtgate/queries/aggregation/main_test.go
  go/test/endtoend/vtgate/queries/derived/main_test.go
  go/test/endtoend/vtgate/queries/foundrows/main_test.go
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/test/endtoend/vtgate/queries/informationschema/main_test.go
  go/test/endtoend/vtgate/queries/lookup_queries/main_test.go
  go/test/endtoend/vtgate/queries/misc/main_test.go
  go/test/endtoend/vtgate/queries/normalize/normalize_test.go
  go/test/endtoend/vtgate/queries/orderby/main_test.go
  go/test/endtoend/vtgate/queries/orderby/orderby_test.go
  go/test/endtoend/vtgate/queries/orderby/without_schematracker/main_test.go
  go/test/endtoend/vtgate/queries/orderby/without_schematracker/orderby_test.go
  go/test/endtoend/vtgate/queries/query_fuzzing/fuzzing_test.go
  go/test/endtoend/vtgate/queries/query_fuzzing/main_test.go
  go/test/endtoend/vtgate/queries/query_fuzzing/simplifier_test.go
  go/test/endtoend/vtgate/queries/reference/main_test.go
  go/test/endtoend/vtgate/queries/reference/reference_test.go
  go/test/endtoend/vtgate/queries/subquery/main_test.go
  go/test/endtoend/vtgate/queries/timeout/main_test.go
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/test/endtoend/vtgate/queries/vexplain/main_test.go
  go/test/endtoend/vtgate/queries/vexplain/vexplain_test.go
  go/vt/vtgate/simplifier/expression_simplifier.go
  go/vt/vtgate/simplifier/simplifier.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

test: move test methods around
  go/test/endtoend/vtgate/queries/query_fuzzing/fuzzing_test.go
  go/test/endtoend/vtgate/queries/query_fuzzing/known_test.go
  go/test/endtoend/vtgate/queries/query_fuzzing/main_test.go
Owners: @harshit-gangal, @systay, @frouioui

test: introduce the new query gen
  go/test/endtoend/vtgate/queries/query_fuzzing/fuzzing_test.go
  go/test/endtoend/vtgate/queries/query_fuzzing/query_gen.go
  go/test/endtoend/vtgate/queries/query_fuzzing/query_gen2.go
Owners: @harshit-gangal, @systay, @frouioui

wip
  go/test/endtoend/vtgate/queries/query_fuzzing/query_gen2.go
Owners: @harshit-gangal, @systay, @frouioui

backport of 3840 (#3842)
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
Owners: @ajm188, @notfelineit

backport of 3840 (#3842)
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
Owners: @ajm188, @notfelineit

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
