Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

feat: fix the ordering of tables in plan_test and move cycle detection back to original package
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/utils/foreign_keys.go
  go/vt/vtgate/utils/foreign_keys_test.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

test: fix test expectations
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/vschema_manager_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

wip
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/testdata/onecase.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/tpch_schema.json
  go/vt/vtgate/planbuilder/testdata/vschemas/tpch_schema2.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

wip
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/testdata/onecase.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/tpch_schema.json
  go/vt/vtgate/planbuilder/testdata/vschemas/tpch_schema2.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[VTAdmin] Remove vtctld web link, improve local example (#15607) (#15825)
  examples/common/scripts/vtadmin-up.sh
  web/vtadmin/build.sh
  web/vtadmin/src/components/routes/Vtctlds.tsx
Owners: @planetscale/eng-vitess, @ajm188, @notfelineit

[VTAdmin] Remove vtctld web link, improve local example (#15607) (#15824)
  examples/common/scripts/vtadmin-up.sh
  web/vtadmin/build.sh
  web/vtadmin/src/components/routes/Vtctlds.tsx
Owners: @planetscale/eng-vitess, @ajm188, @notfelineit

More tests. Refactor
  go/vt/topo/keyspace_routing_rules_lock.go
  go/vt/topo/keyspace_routing_rules_lock_test.go
  go/vt/topo/server.go
  go/vt/topo/topo_lock.go
  go/vt/topo/topo_lock_test.go
  go/vt/vtctl/workflow/utils.go
Owners: @deepthi, @mattlord

Add keyspace routing rules lock. Use it while updating rules
  go/vt/topo/keyspace_routing_rules_lock.go
  go/vt/topo/topo_lock.go
  go/vt/topo/topo_lock_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/utils.go
Owners: @deepthi, @mattlord

Fix locking logic and related tests
  go/vt/topo/keyspace_routing_rules_lock.go
  go/vt/topo/keyspace_routing_rules_lock_test.go
  go/vt/topo/server.go
  go/vt/topo/topo_lock_test.go
  go/vt/vtctl/workflow/utils_test.go
Owners: @deepthi, @mattlord

Delete keyspace routing rules on Cancel
  go/vt/vtctl/workflow/server.go
Owners: @deepthi

Refactor topo lock, remove unnecessary stuff
  go/vt/topo/keyspace_routing_rules_lock.go
  go/vt/topo/topo_lock.go
  go/vt/topo/topo_lock_test.go
  go/vt/vtctl/workflow/utils_test.go
Owners: @deepthi, @mattlord

Single entry point for serializing all functionalities updating keyspace routing rules
  go/vt/topo/keyspace_routing_rules_lock.go
  go/vt/topotools/routing_rules.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
Owners: @deepthi, @mattlord, @ajm188, @notfelineit

More cleanup
  go/vt/topo/keyspace_routing_rules_lock.go
  go/vt/topo/keyspace_routing_rules_lock_test.go
  go/vt/topo/server.go
  go/vt/topo/topo_lock.go
Owners: @deepthi, @mattlord

Update reasons for generic locking
  go/vt/topotools/routing_rules.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/switcher.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vtctl/workflow/utils_test.go
Owners: @deepthi, @mattlord

Add test to confirm that concurrent updates don't overwrite each other
  go/vt/topo/keyspace_routing_rules_lock.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vtctl/workflow/utils_test.go
Owners: @deepthi, @mattlord

Add concurrency tests for a specific topo to confirm that it works for a 'real' topo implementation in addition to memtopo
  go/vt/vtctl/workflow/utils_test.go
Owners: @deepthi

Reformat exports
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/vtctl/workflow/utils_test.go
Owners: @planetscale/eng-vitess, @deepthi

Address review comments. Change the key paths where rules and locks are created
  go/vt/topo/keyspace_routing_rules_lock.go
  go/vt/topo/server.go
  go/vt/topo/topo_lock.go
  go/vt/topo/vschema.go
  go/vt/vtctl/workflow/utils_test.go
Owners: @deepthi, @mattlord

Modify comments/logs to reflect the sentinel nomenclature
  go/vt/topo/keyspace_routing_rules_lock.go
Owners: @deepthi, @mattlord

Playing with some ideas
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/topo/keyspace_routing_rules.go
  go/vt/topo/keyspace_routing_rules_lock.go
  go/vt/topo/srv_vschema.go
  go/vt/topo/vschema.go
  go/vt/topotools/routing_rules.go
  go/vt/topotools/routing_rules_test.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vtctl/workflow/utils_test.go
  go/vt/vtgate/vindexes/vschema.go
  proto/vschema.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @deepthi, @harshit-gangal, @mattlord, @ajm188, @notfelineit, @systay, @frouioui, @GuptaManan100

Fix unit tests
  go/test/endtoend/vreplication/multi_tenant_test.go
Owners: @planetscale/eng-vitess

Still working on tests
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/topo/keyspace_routing_rules_lock_test.go
  go/vt/topo/topotests/srv_vschema_test.go
  go/vt/topotools/routing_rules.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

Revert matt's testing / investigation work
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/topo/keyspace_routing_rules.go
  go/vt/topo/keyspace_routing_rules_lock.go
  go/vt/topo/keyspace_routing_rules_lock_test.go
  go/vt/topo/srv_vschema.go
  go/vt/topo/topotests/srv_vschema_test.go
  go/vt/topo/vschema.go
  go/vt/topotools/routing_rules.go
  go/vt/topotools/routing_rules_test.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vtctl/workflow/utils_test.go
  go/vt/vtgate/vindexes/vschema.go
  proto/vschema.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @planetscale/eng-vitess, @deepthi, @harshit-gangal, @mattlord, @ajm188, @notfelineit, @systay, @frouioui, @GuptaManan100

wip
  go/vt/vtgate/executor.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

wip
  go/vt/vtgate/executor.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

[release-18.0] Direct PR. Fix regression where reference tables with a different name on sharded keyspaces were not routed correctly. (#15788)
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/reference_test.go
  go/vt/vtgate/planbuilder/dml_planner.go
  go/vt/vtgate/planbuilder/testdata/reference_cases.json
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[release-19.0] Code Freeze for `v19.0.4` (#15874)
  .github/workflows/code_freeze.yml
Owners: @frouioui

[release-18.0] Code Freeze for `v18.0.5` (#15876)
  .github/workflows/code_freeze.yml
Owners: @frouioui

[release-17.0] Code Freeze for `v17.0.7` (#15878)
  .github/workflows/code_freeze.yml
Owners: @frouioui

Merge pull request from GHSA-649x-hxfx-57j2
  go/mysql/collations/charset/convert.go
  go/mysql/collations/charset/helpers.go
  go/mysql/collations/charset/unicode/utf16.go
  go/mysql/collations/charset/unicode/utf32.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_collate.go
  go/vt/vtgate/evalengine/translate.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

Merge pull request from GHSA-649x-hxfx-57j2
  go/mysql/collations/charset/convert.go
  go/mysql/collations/charset/helpers.go
  go/mysql/collations/charset/unicode/utf16.go
  go/mysql/collations/charset/unicode/utf32.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_collate.go
  go/vt/vtgate/evalengine/translate.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

Merge pull request from GHSA-649x-hxfx-57j2
  go/mysql/collations/charset/convert.go
  go/mysql/collations/charset/helpers.go
  go/mysql/collations/charset/unicode/utf16.go
  go/mysql/collations/charset/unicode/utf32.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_collate.go
  go/vt/vtgate/evalengine/translate.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

[release-19.0] Release of `v19.0.4` (#15882)
  .github/workflows/code_freeze.yml
  changelog/19.0/19.0.4/changelog.md
  changelog/19.0/19.0.4/release_notes.md
  changelog/19.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @shlomi-noach, @GuptaManan100, @deepthi, @ajm188, @harshit-gangal

[release-18.0] Release of `v18.0.5` (#15883)
  .github/workflows/code_freeze.yml
  changelog/18.0/18.0.5/changelog.md
  changelog/18.0/18.0.5/release_notes.md
  changelog/18.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @shlomi-noach, @GuptaManan100, @deepthi, @ajm188, @harshit-gangal

[release-17.0] Release of `v17.0.7` (#15884)
  .github/workflows/code_freeze.yml
  changelog/17.0/17.0.7/changelog.md
  changelog/17.0/17.0.7/release_notes.md
  changelog/17.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @shlomi-noach, @GuptaManan100, @deepthi, @ajm188, @harshit-gangal

[release-18.0] Bump to `v18.0.6-SNAPSHOT` after the `v18.0.5` release (#15888)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

Address review comment: Remove space from name
  go/vt/topo/keyspace_routing_rules_lock.go
Owners: @deepthi, @mattlord

Address review comment: remove export of global cell. Move key creation logic to topo server
  go/vt/topo/keyspace_routing_rules_lock.go
  go/vt/topo/keyspace_routing_rules_lock_test.go
  go/vt/topo/server.go
  go/vt/topo/topo_lock.go
  go/vt/topo/topo_lock_test.go
Owners: @deepthi, @mattlord

Address Review Comment: rename updateKeyspaceRoutingRule to updateKeyspaceRoutingRules
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vtctl/workflow/utils_test.go
Owners: @deepthi

[release-19.0] Bump to `v19.0.5-SNAPSHOT` after the `v19.0.4` release (#15889)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
