Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

[18.x] Fix `schemacopy` collation issues (#15859)
  go/mysql/schema.go
  go/vt/sidecardb/schema/schematracker/schemacopy.sql
Owners: @harshit-gangal, @systay, @mattlord, @planetscale/eng-vitess

[release-17.0] Bump to `v17.0.8-SNAPSHOT` after the `v17.0.7` release (#15891)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

Change the mechanism of updating keyspace routing rules under the lock for MoveTables actions. ApplyKeyspaceRoutingRules has been commented out temporarily
  go/vt/topotools/routing_rules.go
  go/vt/topotools/routing_rules_test.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
Owners: @deepthi, @mattlord, @ajm188, @notfelineit

test: make no error required to find the issue and prevent panics
  go/cmd/vttestserver/cli/main_test.go
Owners: @ajm188

Change topo paths for keyspace routing rules
  go/vt/topo/keyspace_routing_rules_lock_test.go
  go/vt/topo/routing_rules_lock.go
  go/vt/topo/server.go
  go/vt/topo/topo_lock.go
  go/vt/topo/vschema.go
  go/vt/topotools/routing_rules.go
Owners: @deepthi, @mattlord

Change ApplyKeyspaceRoutingRules to return current and new rules. Add e2e test for it
  go/cmd/vtctldclient/command/keyspace_routing_rules.go
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/grpcvtctldserver/server.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @mattlord, @planetscale/eng-vitess, @deepthi, @harshit-gangal, @notfelineit

Minor refactor of cli command
  go/cmd/vtctldclient/command/keyspace_routing_rules.go
Owners: @ajm188, @mattlord

Minor refactor
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/topo/routing_rules_lock.go
  go/vt/topo/server.go
  go/vt/topo/topo_lock.go
  go/vt/topo/topo_lock_test.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

Add tests for krr
  go/vt/topo/routing_rules_lock_test.go
Owners: @deepthi, @mattlord

Confirm that we hold the lock while saving keyspace routing rules. Add test. Some additional comments
  go/vt/topo/topo_lock.go
  go/vt/topotools/routing_rules.go
  go/vt/topotools/routing_rules_test.go
Owners: @deepthi, @mattlord

Delete map better!
  go/vt/vtctl/grpcvtctldserver/server.go
Owners: @ajm188, @notfelineit

Move setting response parameters to the vtctld server instead of on the client side
  go/cmd/vtctldclient/command/keyspace_routing_rules.go
  go/vt/vtctl/grpcvtctldserver/server.go
Owners: @ajm188, @mattlord, @notfelineit

refactor: remove unnecessary functions
  go/vt/topo/locks.go
Owners: @deepthi, @mattlord

test: add failing test
  go/vt/topo/memorytopo/server_test.go
Owners: @deepthi, @mattlord

feat: fix lock shard to return the correct context
  go/vt/topo/locks.go
Owners: @deepthi, @mattlord

feat: cancel function should be called on unlock
  go/vt/topo/locks.go
Owners: @deepthi, @mattlord

My suggestions
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/topo/routing_rules_lock.go
  go/vt/topo/routing_rules_lock_test.go
  go/vt/topo/topo_lock.go
  go/vt/topo/topo_lock_test.go
  go/vt/topo/vschema.go
  go/vt/topotools/routing_rules.go
  go/vt/topotools/routing_rules_test.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord, @ajm188, @notfelineit

Don't send old rules on ApplyKeyspaceRoutingRules
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/grpcvtctldserver/server.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @planetscale/eng-vitess, @deepthi, @harshit-gangal, @mattlord, @ajm188, @notfelineit

Post merge fixups
  go/test/endtoend/vreplication/multi_tenant_test.go
Owners: @planetscale/eng-vitess

Another minor cleanup after merge + review
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vtctl/workflow/utils_test.go
Owners: @deepthi

Try to deflake unit test when code coverage is enabled
  go/vt/vtctl/workflow/utils_test.go
Owners: @deepthi

Only run coverage for workflow
  Makefile
Owners: @planetscale/eng-vitess

wip
  go/vt/sqlparser/parse_test.go
  go/vt/vtgate/engine/recurse.go
  go/vt/vtgate/semantics/check_invalid.go
  go/vt/vtgate/semantics/common_table_expression.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/scoper.go
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui

wip
  go/vt/sqlparser/parse_test.go
  go/vt/vtgate/engine/recurse.go
  go/vt/vtgate/semantics/check_invalid.go
  go/vt/vtgate/semantics/common_table_expression.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/scoper.go
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui

feat: add uptime implementation
  go/test/endtoend/tabletmanager/main_test.go
  go/test/endtoend/tabletmanager/tablet_test.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/replication.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice_grpc.pb.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vttablet/faketmclient/fake_client.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tabletmanager/rpc_agent.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tmclient/rpc_client_api.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
  proto/tabletmanagerdata.proto
  proto/tabletmanagerservice.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @planetscale/eng-vitess, @deepthi, @mattlord, @harshit-gangal, @ajm188, @notfelineit, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

Add VTGate drain flag
  go/flags/endtoend/vtgate.txt
  go/vt/servenv/run.go
  go/vt/vtgate/plugin_mysql_server.go
Owners: @planetscale/eng-vitess, @deepthi, @ajm188, @harshit-gangal, @systay, @frouioui, @GuptaManan100

Add progress timer and test
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/relaylog.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Owners: @rohit-nayak-ps, @mattlord

Fix table name logging
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
Owners: @rohit-nayak-ps, @mattlord

test: fix test
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
Owners: @planetscale/eng-vitess

feat: fix dual merging
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui, @arthurschreiber

Make error handling concurrency safe
  go/vt/vttablet/tabletmanager/vreplication/relaylog.go
Owners: @rohit-nayak-ps, @mattlord

More tweaks from self review
  go/vt/vttablet/tabletmanager/vreplication/relaylog.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Owners: @rohit-nayak-ps, @mattlord

Lower progress timeout as the overall stall time is a multiple
  go/vt/vttablet/tabletmanager/vreplication/relaylog.go
Owners: @rohit-nayak-ps, @mattlord

Move progress tracking to vplayer
  go/vt/vttablet/tabletmanager/vreplication/relaylog.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Owners: @rohit-nayak-ps, @mattlord

Only use the stall detection for replicated user events
  go/vt/vttablet/tabletmanager/vreplication/relaylog.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/engine.go
Owners: @rohit-nayak-ps, @mattlord, @harshit-gangal, @systay, @shlomi-noach

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
