Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit

backport of 3673 (#3674)
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3665 (#3676)
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/vt/mysqlctl/grpcmysqlctlserver/server.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

backport of 3665 (#3676)
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/vt/mysqlctl/grpcmysqlctlserver/server.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

backport of 3672 (#3677)
  go/vt/vterrors/code.go
Owners: @harshit-gangal, @systay

backport of 3672 (#3677)
  go/vt/vterrors/code.go
Owners: @harshit-gangal, @systay

backport of 3666 (#3678)
  go/mysql/sqlerror/sql_error.go
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/endtoend/vtgate/foreignkey/main_test.go
  go/test/endtoend/vtgate/foreignkey/schema.sql
  go/test/endtoend/vtgate/foreignkey/sharded_schema.sql
  go/test/endtoend/vtgate/foreignkey/unsharded_schema.sql
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/vterrors/code.go
  go/vt/vterrors/state.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/dml.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/sequential.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/sequential.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/sequential.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/vtgate/vindexes/foreign_keys.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
  proto/vschema.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @deepthi, @GuptaManan100, @arthurschreiber, @ajm188, @notfelineit

backport of 3666 (#3678)
  go/mysql/sqlerror/sql_error.go
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/endtoend/vtgate/foreignkey/main_test.go
  go/test/endtoend/vtgate/foreignkey/schema.sql
  go/test/endtoend/vtgate/foreignkey/sharded_schema.sql
  go/test/endtoend/vtgate/foreignkey/unsharded_schema.sql
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/vterrors/code.go
  go/vt/vterrors/state.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/dml.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/sequential.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/sequential.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/sequential.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/vtgate/vindexes/foreign_keys.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
  proto/vschema.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @deepthi, @GuptaManan100, @arthurschreiber, @ajm188, @notfelineit

backport of 3682 (#3683)
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/testdata/lock_cases.json
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui, @arthurschreiber

backport of 3682 (#3683)
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/testdata/lock_cases.json
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui, @arthurschreiber

VTGate foreign key stress tests: accept ER_LOCK_NOWAIT as a valdi error
  go/mysql/sqlerror/constants.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui

VTGate foreign key stress tests: accept ER_LOCK_NOWAIT as a valdi error
  go/mysql/sqlerror/constants.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui

[release-18.0] Code Freeze for `v18.0.1` (#14549)
  .github/workflows/code_freeze.yml
Owners: @frouioui

backport of 2865 (#3691)
  go/cmd/vtctldclient/command/schema.go
Owners: @ajm188, @mattlord

backport of 2865 (#3691)
  go/cmd/vtctldclient/command/schema.go
Owners: @ajm188, @mattlord

backport of 3669 (#3695)
  go/boost/cmd/vtboost/cli/cli.go
  go/boost/server/instance.go
  go/boost/test/helpers/boosttest/integration.go
  go/vt/srvtopo/resilient_server.go
  go/vt/srvtopo/resilient_server_test.go
  go/vt/vtgate/sandbox_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
Owners: @planetscale/eng-vitess, @mattlord, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @shlomi-noach, @rohit-nayak-ps

backport of 3669 (#3695)
  go/boost/cmd/vtboost/cli/cli.go
  go/boost/server/instance.go
  go/boost/test/helpers/boosttest/integration.go
  go/vt/srvtopo/resilient_server.go
  go/vt/srvtopo/resilient_server_test.go
  go/vt/vtgate/sandbox_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
Owners: @planetscale/eng-vitess, @mattlord, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @shlomi-noach, @rohit-nayak-ps

sqltypes: add Unknown as a type
  go/sqltypes/type.go
  go/vt/proto/query/query.pb.go
  proto/query.proto
Owners: @harshit-gangal, @deepthi, @mattlord

sqltypes: add Unknown as a type
  go/sqltypes/type.go
  go/vt/proto/query/query.pb.go
  proto/query.proto
Owners: @harshit-gangal, @deepthi, @mattlord

backport of 3669 (#3694)
  go/boost/cmd/vtboost/main.go
  go/boost/server/instance.go
  go/boost/test/helpers/boosttest/integration.go
  go/vt/srvtopo/resilient_server.go
  go/vt/srvtopo/resilient_server_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
Owners: @planetscale/eng-vitess, @mattlord, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3669 (#3694)
  go/boost/cmd/vtboost/main.go
  go/boost/server/instance.go
  go/boost/test/helpers/boosttest/integration.go
  go/vt/srvtopo/resilient_server.go
  go/vt/srvtopo/resilient_server_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
Owners: @planetscale/eng-vitess, @mattlord, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

CherryPick(#14484): Make `Foreign_key_checks` a Vitess Aware variable (#3690) (#3697)
  go/boost/server/controller/boostplan/external_schema.go
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/schemadiff/semantics.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sqlparser/comments.go
  go/vt/sqlparser/comments_test.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/planbuilder/simplifier_test.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_off_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/update.go
  go/vt/vtgate/semantics/FakeSI.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_fk_test.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/info_schema.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vcursor_impl_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

CherryPick(#14484): Make `Foreign_key_checks` a Vitess Aware variable (#3690) (#3697)
  go/boost/server/controller/boostplan/external_schema.go
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/schemadiff/semantics.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sqlparser/comments.go
  go/vt/sqlparser/comments_test.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/planbuilder/simplifier_test.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_off_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/update.go
  go/vt/vtgate/semantics/FakeSI.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_fk_test.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/info_schema.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vcursor_impl_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3700 (#3701)
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

backport of 3700 (#3701)
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

backport of 3700 (#3703)
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

backport of 3700 (#3703)
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

expression rewriting: enable more rewrites
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100

expression rewriting: clean up CNF limits
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100

backport of 3692 (#3705)
  go/mysql/sqlerror/constants.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/vt/vterrors/code.go
  go/vt/vtgate/engine/sequential.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_off_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/semantics/analyzer_fk_test.go
  go/vt/vtgate/vschema_manager_test.go
Owners: @harshit-gangal, @systay, @mattlord, @planetscale/eng-vitess, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3692 (#3705)
  go/mysql/sqlerror/constants.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/vt/vterrors/code.go
  go/vt/vtgate/engine/sequential.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_off_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/semantics/analyzer_fk_test.go
  go/vt/vtgate/vschema_manager_test.go
Owners: @harshit-gangal, @systay, @mattlord, @planetscale/eng-vitess, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3707 (#3709)
  go/mysql/collations/integration/main_test.go
  go/vt/vtgate/evalengine/api_type_aggregation.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_arithmetic.go
  go/vt/vtgate/evalengine/expr_bit.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/expr_tuple.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_bit.go
  go/vt/vtgate/evalengine/fn_compare.go
  go/vt/vtgate/evalengine/fn_crypto.go
  go/vt/vtgate/evalengine/fn_hex.go
  go/vt/vtgate/evalengine/fn_json.go
  go/vt/vtgate/evalengine/fn_misc.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/executor_select_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 3707 (#3709)
  go/mysql/collations/integration/main_test.go
  go/vt/vtgate/evalengine/api_type_aggregation.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_arithmetic.go
  go/vt/vtgate/evalengine/expr_bit.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/expr_tuple.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_bit.go
  go/vt/vtgate/evalengine/fn_compare.go
  go/vt/vtgate/evalengine/fn_crypto.go
  go/vt/vtgate/evalengine/fn_hex.go
  go/vt/vtgate/evalengine/fn_json.go
  go/vt/vtgate/evalengine/fn_misc.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/executor_select_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 3707 (#3711)
  go/mysql/collations/integration/main_test.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_arithmetic.go
  go/vt/vtgate/evalengine/expr_bit.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_bit.go
  go/vt/vtgate/evalengine/fn_compare.go
  go/vt/vtgate/evalengine/fn_crypto.go
  go/vt/vtgate/evalengine/fn_hex.go
  go/vt/vtgate/evalengine/fn_json.go
  go/vt/vtgate/evalengine/fn_misc.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/executor_select_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 3707 (#3711)
  go/mysql/collations/integration/main_test.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_arithmetic.go
  go/vt/vtgate/evalengine/expr_bit.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_bit.go
  go/vt/vtgate/evalengine/fn_compare.go
  go/vt/vtgate/evalengine/fn_crypto.go
  go/vt/vtgate/evalengine/fn_hex.go
  go/vt/vtgate/evalengine/fn_json.go
  go/vt/vtgate/evalengine/fn_misc.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/executor_select_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 3706 (#3710)
  go/vt/vtgate/planbuilder/builder.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3706 (#3710)
  go/vt/vtgate/planbuilder/builder.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

wip
  go/test/endtoend/vtgate/queries/toto/main_test.go
  go/test/endtoend/vtgate/queries/toto/misc_test.go
  go/test/endtoend/vtgate/queries/toto/schema.sql
  go/test/endtoend/vtgate/queries/toto/vschema.json
  go/vt/vtgate/engine/memory_sort.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

wip
  go/test/endtoend/vtgate/queries/toto/main_test.go
  go/test/endtoend/vtgate/queries/toto/misc_test.go
  go/test/endtoend/vtgate/queries/toto/schema.sql
  go/test/endtoend/vtgate/queries/toto/vschema.json
  go/vt/vtgate/engine/memory_sort.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3712 (#3715)
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3712 (#3715)
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber
