Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

[latest-17.0](#3507): CherryPick(#14345): VDiff: wait for shard streams of one table diff to complete for before starting that of the next table (#3626)
  go/vt/sidecardb/schema/vdiff/vdiff.sql
  go/vt/vttablet/tabletmanager/vdiff/engine_test.go
  go/vt/vttablet/tabletmanager/vdiff/framework_test.go
  go/vt/vttablet/tabletmanager/vdiff/schema.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
Owners: @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

[latest-17.0](#3507): CherryPick(#14345): VDiff: wait for shard streams of one table diff to complete for before starting that of the next table (#3626)
  go/vt/sidecardb/schema/vdiff/vdiff.sql
  go/vt/vttablet/tabletmanager/vdiff/engine_test.go
  go/vt/vttablet/tabletmanager/vdiff/framework_test.go
  go/vt/vttablet/tabletmanager/vdiff/schema.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
Owners: @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

backport of 3639 (#3641)
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/endtoend/vtgate/foreignkey/utils_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fk_cascade.go
  go/vt/vtgate/engine/fk_cascade_test.go
  go/vt/vtgate/engine/fk_verify.go
  go/vt/vtgate/engine/fk_verify_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/update.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_fk_test.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/semantic_state_test.go
  go/vt/vtgate/vindexes/foreign_keys.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3639 (#3641)
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/endtoend/vtgate/foreignkey/utils_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fk_cascade.go
  go/vt/vtgate/engine/fk_cascade_test.go
  go/vt/vtgate/engine/fk_verify.go
  go/vt/vtgate/engine/fk_verify_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/update.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_fk_test.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/semantic_state_test.go
  go/vt/vtgate/vindexes/foreign_keys.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

Fix Upgrade downgrade reparent tests in release-17.0 (#14507)
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
Owners: @planetscale/eng-vitess

Release of v16.0.6 (#14410)
  .github/workflows/code_freeze.yml
  changelog/16.0/16.0.6/changelog.md
  changelog/16.0/16.0.6/release_notes.md
  changelog/16.0/README.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @deepthi, @mattlord, @GuptaManan100, @shlomi-noach, @ajm188, @harshit-gangal

Release of v17.0.4 (#14408)
  .github/workflows/code_freeze.yml
  changelog/17.0/17.0.4/changelog.md
  changelog/17.0/17.0.4/release_notes.md
  changelog/17.0/README.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @deepthi, @mattlord, @GuptaManan100, @shlomi-noach, @ajm188, @harshit-gangal

backport of 3638 (#3640)
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3638 (#3640)
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

Back to dev mode after v16.0.6 (#14509)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

Back to dev mode after v17.0.4 (#14510)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

oltp: add a random benchmark case
  go/vt/vtgate/endtoend/oltp_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

oltp: add a random benchmark case
  go/vt/vtgate/endtoend/oltp_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3580 (#3646)
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3580 (#3646)
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3613 (#3615)
  go/vt/vtgate/evalengine/api_literal.go
  go/vt/vtgate/evalengine/collation.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_crypto.go
  go/vt/vtgate/evalengine/fn_hex.go
  go/vt/vtgate/evalengine/fn_misc.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/translate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 3613 (#3615)
  go/vt/vtgate/evalengine/api_literal.go
  go/vt/vtgate/evalengine/collation.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_crypto.go
  go/vt/vtgate/evalengine/fn_hex.go
  go/vt/vtgate/evalengine/fn_misc.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/translate.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

cherry pick of 14419 (#3630) (#3645)
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/engine/opcode/constants.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 14419 (#3630) (#3645)
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/engine/opcode/constants.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3648 (#3650)
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/endtoend/vtgate/schematracker/restarttablet/schema_restart_test.go
  go/test/endtoend/vtgate/schematracker/sharded/st_sharded_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/testdata/show_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3648 (#3650)
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/endtoend/vtgate/schematracker/restarttablet/schema_restart_test.go
  go/test/endtoend/vtgate/schematracker/sharded/st_sharded_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/testdata/show_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3638 (#3642)
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3638 (#3642)
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3637 (#3654)
  go/vt/mysqlctl/kmsbackup/storage.go
Owners: @deepthi, @mattlord

backport of 3637 (#3654)
  go/vt/mysqlctl/kmsbackup/storage.go
Owners: @deepthi, @mattlord

backport of 3637 (#3653)
  go/vt/mysqlctl/kmsbackup/storage.go
Owners: @deepthi, @mattlord

backport of 3637 (#3653)
  go/vt/mysqlctl/kmsbackup/storage.go
Owners: @deepthi, @mattlord

[release-18.0] Build and push Docker Images from GitHub Actions (#14511)
  .github/workflows/docker_build_base.yml
  .github/workflows/docker_build_lite.yml
  .github/workflows/docker_build_vttestserver.yml
  doc/internal/release/how-to-release.md
  docker/release.sh
  tools/back_to_dev_mode.sh
  tools/create_release.sh
  tools/release_utils.sh
Owners: @frouioui, @deepthi, @GuptaManan100, @mattlord, @rohit-nayak-ps

[release-17.0] Build and push Docker Images from GitHub Actions (#14512)
  .github/workflows/docker_build_base.yml
  .github/workflows/docker_build_lite.yml
  .github/workflows/docker_build_vttestserver.yml
  doc/internal/ReleaseInstructions.md
  docker/release.sh
  tools/back_to_dev_mode.sh
  tools/create_release.sh
  tools/release_utils.sh
Owners: @frouioui, @deepthi, @GuptaManan100, @mattlord, @rohit-nayak-ps

[release-16.0] Build and push Docker Images from GitHub Actions (#14513)
  .github/workflows/docker_build_base.yml
  .github/workflows/docker_build_lite.yml
  .github/workflows/docker_build_vttestserver.yml
  doc/internal/ReleaseInstructions.md
  docker/release.sh
  tools/back_to_dev_mode.sh
  tools/create_release.sh
  tools/release_utils.sh
Owners: @frouioui, @deepthi, @GuptaManan100, @mattlord, @rohit-nayak-ps

backport of 3658 (#3659)
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
Owners: @mattlord, @rohit-nayak-ps, @shlomi-noach

backport of 3658 (#3659)
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
Owners: @mattlord, @rohit-nayak-ps, @shlomi-noach

backport of 3658 (#3660)
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
Owners: @mattlord, @rohit-nayak-ps, @shlomi-noach

backport of 3658 (#3660)
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
Owners: @mattlord, @rohit-nayak-ps, @shlomi-noach

backport of 3661 (#3663)
  go/mysql/flavor.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
Owners: @harshit-gangal, @systay, @mattlord, @shlomi-noach, @rohit-nayak-ps

backport of 3661 (#3663)
  go/mysql/flavor.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
Owners: @harshit-gangal, @systay, @mattlord, @shlomi-noach, @rohit-nayak-ps

[release 18.0]: `ReadBinlogFilesTimestamps` backwards compatibility (#14526)
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/vt/mysqlctl/backup_test.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/grpcmysqlctlserver/server.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

backport of 3668 (#3671)
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui

backport of 3668 (#3671)
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui

backport of 3673 (#3674)
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
