Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit

backport of 4585 (#4595)
  .github/workflows/_planetscale_nightly_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4585 (#4598)
  .github/workflows/_planetscale_nightly_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4585 (#4598)
  .github/workflows/_planetscale_nightly_build.yml
Owners: @Sinjo, @dctrwatson, @Verolop

Address more review comments. Refactor the e2e test.The refactor of FuncExpr required a change in a unit test helper. Uncomment frozen workflow code for now so that unit tests run.
  go/test/endtoend/cluster/vtctldclient_process.go
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/sidecardb/schema/vreplication/vreplication.sql
  go/vt/vtctl/workflow/utils.go
  go/vt/vtctl/workflow/utils_test.go
Owners: @planetscale/eng-vitess, @deepthi

[release-19.0 backport] Mysqld: capture mysqlbinlog std error output (#15278) (#15379)
  go/vt/mysqlctl/mysqld.go
Owners: @deepthi, @mattlord

Allow creating new MoveTables workflows when there are previous Frozen workflows
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/vtctl/workflow/utils.go
Owners: @planetscale/eng-vitess, @deepthi

Fix unit tests for removal of the frozen check
  go/vt/vtctl/workflow/materializer_test.go
Owners: @deepthi

Reduce number of tenants in e2e test to make it run in a reasonable time in CI. Let it run in its own workflow for now to isolate any issues and allow running it several times
  .github/workflows/cluster_endtoend_vreplication_multi_tenant.yml
  go/test/endtoend/vreplication/multi_tenant_test.go
  test/ci_workflow_gen.go
  test/config.json
Owners: @frouioui, @planetscale/eng-vitess, @GuptaManan100, @rohit-nayak-ps

Fix check in reverse traffic to account for keyspace routing rules. Add ReverseTraffic to e2e tests. Some refactor of e2e test.
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/vtctl/workflow/server.go
Owners: @planetscale/eng-vitess, @deepthi

Remove deprecated vtctl commands
  go/vt/vtctl/reparent.go
  go/vt/vtctl/vtctl.go
Owners: @deepthi, @ajm188, @notfelineit

[release-19.0] Release of `v19.0.0` (#15359)
  .github/workflows/code_freeze.yml
  changelog/19.0/19.0.0/changelog.md
  changelog/19.0/19.0.0/release_notes.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @frouioui, @planetscale/eng-vitess, @shlomi-noach, @GuptaManan100, @deepthi, @ajm188, @harshit-gangal

fix test
  go/test/endtoend/encryption/encryptedtransport/encrypted_transport_test.go
Owners: @planetscale/eng-vitess

clarify log message
  go/test/endtoend/cluster/vtctl_process.go
Owners: @planetscale/eng-vitess

backport of 4612 (#4615)
  go/mysql/capabilities/capability.go
  go/mysql/capabilities/capability_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fk-child-modify-not-null/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fk-child-modify-not-null/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fk-child-modify-not-null/ddl_strategy
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fk-child-modify-not-null/require_rename_table_preserve_foreign_key
  go/vt/schemadiff/schema_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Owners: @harshit-gangal, @systay, @mattlord, @shlomi-noach, @planetscale/eng-vitess, @rohit-nayak-ps

backport of 4612 (#4615)
  go/mysql/capabilities/capability.go
  go/mysql/capabilities/capability_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fk-child-modify-not-null/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fk-child-modify-not-null/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fk-child-modify-not-null/ddl_strategy
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fk-child-modify-not-null/require_rename_table_preserve_foreign_key
  go/vt/schemadiff/schema_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Owners: @harshit-gangal, @systay, @mattlord, @shlomi-noach, @planetscale/eng-vitess, @rohit-nayak-ps

[release-19.0] Bump to `v19.0.1-SNAPSHOT` after the `v19.0.0` release (#15418)
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @deepthi, @ajm188, @harshit-gangal

backport of 4619 (#4620)
  go/vt/mysqlctl/builtinbackupengine.go
Owners: @deepthi, @mattlord

backport of 4619 (#4620)
  go/vt/mysqlctl/builtinbackupengine.go
Owners: @deepthi, @mattlord

backport of 4619 (#4622)
  go/vt/mysqlctl/builtinbackupengine.go
Owners: @deepthi, @mattlord

backport of 4619 (#4622)
  go/vt/mysqlctl/builtinbackupengine.go
Owners: @deepthi, @mattlord

backport of 4626 (#4627)
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

backport of 4626 (#4627)
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

backport of 4626 (#4629)
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

backport of 4626 (#4629)
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Owners: @deepthi, @mattlord

backport of 4638 (#4644)
  go.mod
  go.sum
Owners: @planetscale/eng-vitess

backport of 4638 (#4644)
  go.mod
  go.sum
Owners: @planetscale/eng-vitess

backport of 4642 (#4647)
  go/vt/graph/graph.go
  go/vt/graph/graph_test.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/schema_test.go
  go/vt/schemadiff/types.go
  go/vt/schemadiff/view_test.go
Owners: @planetscale/eng-vitess

backport of 4642 (#4647)
  go/vt/graph/graph.go
  go/vt/graph/graph_test.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/schema_test.go
  go/vt/schemadiff/types.go
  go/vt/schemadiff/view_test.go
Owners: @planetscale/eng-vitess

backport of 4638 (#4645)
  go.mod
  go.sum
Owners: @planetscale/eng-vitess

backport of 4638 (#4645)
  go.mod
  go.sum
Owners: @planetscale/eng-vitess

[latest-18.0](#4653): CherryPick(#15432): DDL strategy flag `--unsafe-allow-foreign-keys` implies setting `FOREIGN_KEY_CHECKS=0` (#4654)
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Owners: @shlomi-noach, @planetscale/eng-vitess, @mattlord, @rohit-nayak-ps

[latest-18.0](#4653): CherryPick(#15432): DDL strategy flag `--unsafe-allow-foreign-keys` implies setting `FOREIGN_KEY_CHECKS=0` (#4654)
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Owners: @shlomi-noach, @planetscale/eng-vitess, @mattlord, @rohit-nayak-ps

backport of 4508 (#4658)
  .github/workflows/_planetscale_pr_build.yml
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vttablet.txt
  go/vt/mysqlctl/gcsbackup/plugin.go
  go/vt/mysqlctl/gcsbackup/storage.go
  go/vt/mysqlctl/gcsbackup/storage_test.go
Owners: @Sinjo, @dctrwatson, @Verolop, @planetscale/eng-vitess, @deepthi, @mattlord

backport of 4508 (#4658)
  .github/workflows/_planetscale_pr_build.yml
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vttablet.txt
  go/vt/mysqlctl/gcsbackup/plugin.go
  go/vt/mysqlctl/gcsbackup/storage.go
  go/vt/mysqlctl/gcsbackup/storage_test.go
Owners: @Sinjo, @dctrwatson, @Verolop, @planetscale/eng-vitess, @deepthi, @mattlord

backport of 4508 (#4660)
  .github/workflows/_planetscale_pr_build.yml
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vttablet.txt
  go/vt/mysqlctl/gcsbackup/plugin.go
  go/vt/mysqlctl/gcsbackup/storage.go
  go/vt/mysqlctl/gcsbackup/storage_test.go
Owners: @Sinjo, @dctrwatson, @Verolop, @planetscale/eng-vitess, @deepthi, @mattlord

backport of 4508 (#4660)
  .github/workflows/_planetscale_pr_build.yml
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vttablet.txt
  go/vt/mysqlctl/gcsbackup/plugin.go
  go/vt/mysqlctl/gcsbackup/storage.go
  go/vt/mysqlctl/gcsbackup/storage_test.go
Owners: @Sinjo, @dctrwatson, @Verolop, @planetscale/eng-vitess, @deepthi, @mattlord

backport of 4657 (#4664)
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/fk_config_test.go
  go/test/endtoend/vreplication/fk_test.go
  go/test/endtoend/vreplication/helper_test.go
  go/vt/mysqlctl/schema.go
  go/vt/mysqlctl/tmutils/schema.go
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogservice/binlogservice.pb.go
  go/vt/proto/logutil/logutil.pb.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/queryservice/queryservice.pb.go
  go/vt/proto/replicationdata/replicationdata.pb.go
  go/vt/proto/tableacl/tableacl.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/throttlerdata/throttlerdata.pb.go
  go/vt/proto/throttlerservice/throttlerservice.pb.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtboost/vtboost.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgateservice/vtgateservice.pb.go
  go/vt/proto/vtrpc/vtrpc.pb.go
  go/vt/proto/vttest/vttest.pb.go
  go/vt/proto/vttime/vttime.pb.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  go/vt/wrangler/materializer.go
  proto/tabletmanagerdata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @planetscale/eng-vitess, @deepthi, @mattlord, @harshit-gangal, @ajm188, @notfelineit, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

backport of 4657 (#4664)
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/fk_config_test.go
  go/test/endtoend/vreplication/fk_test.go
  go/test/endtoend/vreplication/helper_test.go
  go/vt/mysqlctl/schema.go
  go/vt/mysqlctl/tmutils/schema.go
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogservice/binlogservice.pb.go
  go/vt/proto/logutil/logutil.pb.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/queryservice/queryservice.pb.go
  go/vt/proto/replicationdata/replicationdata.pb.go
  go/vt/proto/tableacl/tableacl.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/throttlerdata/throttlerdata.pb.go
  go/vt/proto/throttlerservice/throttlerservice.pb.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtboost/vtboost.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgateservice/vtgateservice.pb.go
  go/vt/proto/vtrpc/vtrpc.pb.go
  go/vt/proto/vttest/vttest.pb.go
  go/vt/proto/vttime/vttime.pb.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  go/vt/wrangler/materializer.go
  proto/tabletmanagerdata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @planetscale/eng-vitess, @deepthi, @mattlord, @harshit-gangal, @ajm188, @notfelineit, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

Add debug lines
  go/vt/vtadmin/api.go
  go/vt/vtadmin/cluster/resolver/resolver.go
  go/vt/vtadmin/vtctldclient/proxy.go
Owners: @ajm188, @notfelineit, @rohit-nayak-ps

Add debug lines
  go/vt/vtadmin/api.go
  go/vt/vtadmin/cluster/resolver/resolver.go
  go/vt/vtadmin/vtctldclient/proxy.go
Owners: @ajm188, @notfelineit, @rohit-nayak-ps
