Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit

feat: run go mod tidy
  go.mod
  go.sum
Owners: @planetscale/eng-vitess

[latest-18.0](#4432): CherryPick(#15256): sqlparser: use integers instead of literals for Length/Precision (#4434)
  go/boost/server/controller/boostplan/operators/schema_change.go
  go/boost/topo/watcher/cached_size.go
  go/ptr/ptr.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
  go/test/endtoend/vtgate/queries/aggregation/vschema.json
  go/vt/schemadiff/table.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/goyacc/goyacc.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_fn.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_crypto.go
  go/vt/vtgate/evalengine/fn_hex.go
  go/vt/vtgate/evalengine/fn_misc.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/fn_regexp.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/format.go
  go/vt/vtgate/evalengine/translate_builtin.go
  go/vt/vtgate/evalengine/translate_convert.go
  go/vt/vtgate/schema/tracker.go
  go/vt/vttablet/tabletserver/rules/cached_size.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @shlomi-noach, @rohit-nayak-ps

[latest-18.0](#4432): CherryPick(#15256): sqlparser: use integers instead of literals for Length/Precision (#4434)
  go/boost/server/controller/boostplan/operators/schema_change.go
  go/boost/topo/watcher/cached_size.go
  go/ptr/ptr.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
  go/test/endtoend/vtgate/queries/aggregation/vschema.json
  go/vt/schemadiff/table.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/goyacc/goyacc.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_fn.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_crypto.go
  go/vt/vtgate/evalengine/fn_hex.go
  go/vt/vtgate/evalengine/fn_misc.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/fn_regexp.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/format.go
  go/vt/vtgate/evalengine/translate_builtin.go
  go/vt/vtgate/evalengine/translate_convert.go
  go/vt/vtgate/schema/tracker.go
  go/vt/vttablet/tabletserver/rules/cached_size.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @shlomi-noach, @rohit-nayak-ps

backport of 4424 (#4437)
  .github/workflows/static_checks_etc.yml
  .github/workflows/unit_race.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  test/templates/cluster_endtoend_test_docker.tpl
  test/templates/cluster_endtoend_test_mysql57.tpl
  test/templates/cluster_endtoend_test_self_hosted.tpl
  test/templates/unit_test_self_hosted.tpl
Owners: @frouioui, @GuptaManan100, @rohit-nayak-ps

backport of 4424 (#4437)
  .github/workflows/static_checks_etc.yml
  .github/workflows/unit_race.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  test/templates/cluster_endtoend_test_docker.tpl
  test/templates/cluster_endtoend_test_mysql57.tpl
  test/templates/cluster_endtoend_test_self_hosted.tpl
  test/templates/unit_test_self_hosted.tpl
Owners: @frouioui, @GuptaManan100, @rohit-nayak-ps

[latest-18.0](#4443): CherryPick(#14947): queryserving, observability: instrument vttablet query cache plan hits/misses (#4444)
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

[latest-18.0](#4443): CherryPick(#14947): queryserving, observability: instrument vttablet query cache plan hits/misses (#4444)
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Backport to latest-18.0 missed a spot (#4449)
  go/test/endtoend/vreplication/wrappers_test.go
Owners: @planetscale/eng-vitess

Backport to latest-18.0 missed a spot (#4449)
  go/test/endtoend/vreplication/wrappers_test.go
Owners: @planetscale/eng-vitess

[latest-18.0](#4419): CherryPick(#15253): Fix routing rule query rewrite (#4422)
  go/vt/vtgate/planbuilder/dml_planner.go
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#4419): CherryPick(#15253): Fix routing rule query rewrite (#4422)
  go/vt/vtgate/planbuilder/dml_planner.go
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 4448 (#4453)
  go/vt/mysqlctl/mysqld.go
Owners: @deepthi, @mattlord

backport of 4448 (#4453)
  go/vt/mysqlctl/mysqld.go
Owners: @deepthi, @mattlord

backport of 4450 (#4454)
  go/vt/mysqlctl/schema.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtexplain/vtexplain_vttablet_test.go
Owners: @deepthi, @mattlord, @systay, @harshit-gangal

backport of 4450 (#4454)
  go/vt/mysqlctl/schema.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtexplain/vtexplain_vttablet_test.go
Owners: @deepthi, @mattlord, @systay, @harshit-gangal

backport of 4450 (#4455)
  go/vt/mysqlctl/schema.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtexplain/vtexplain_vttablet_test.go
Owners: @deepthi, @mattlord, @systay, @harshit-gangal

backport of 4450 (#4455)
  go/vt/mysqlctl/schema.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtexplain/vtexplain_vttablet_test.go
Owners: @deepthi, @mattlord, @systay, @harshit-gangal

[release-18.0] vtexplain: Ensure memory topo is set up for throttler (#15279) (#15284) (#4467)
  go/cmd/vtexplain/cli/vtexplain.go
  go/vt/srvtopo/watch.go
  go/vt/srvtopo/watch_srvkeyspace.go
  go/vt/vtadmin/api.go
  go/vt/vtexplain/vtexplain.go
  go/vt/vtexplain/vtexplain_test.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtexplain/vtexplain_vttablet_test.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @ajm188, @mattlord, @notfelineit, @rohit-nayak-ps, @systay, @harshit-gangal, @shlomi-noach

[release-18.0] vtexplain: Ensure memory topo is set up for throttler (#15279) (#15284) (#4467)
  go/cmd/vtexplain/cli/vtexplain.go
  go/vt/srvtopo/watch.go
  go/vt/srvtopo/watch_srvkeyspace.go
  go/vt/vtadmin/api.go
  go/vt/vtexplain/vtexplain.go
  go/vt/vtexplain/vtexplain_test.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtexplain/vtexplain_vttablet_test.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @ajm188, @mattlord, @notfelineit, @rohit-nayak-ps, @systay, @harshit-gangal, @shlomi-noach

backport of 4475 (#4479)
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/grpctabletconn/conn_test.go
Owners: @ajm188, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal

backport of 4475 (#4479)
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/grpctabletconn/conn_test.go
Owners: @ajm188, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal

cherry pick of 15293 (#4475) (#4478)
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/grpctabletconn/conn_test.go
Owners: @ajm188, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal

cherry pick of 15293 (#4475) (#4478)
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/grpctabletconn/conn_test.go
Owners: @ajm188, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal

[release-17.0] vtexplain: Ensure memory topo is set up for throttler (#15279) (#15284) (#4466)
  go/cmd/vtexplain/vtexplain.go
  go/vt/srvtopo/watch.go
  go/vt/srvtopo/watch_srvkeyspace.go
  go/vt/vtadmin/api.go
  go/vt/vtexplain/vtexplain.go
  go/vt/vtexplain/vtexplain_test.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtexplain/vtexplain_vttablet_test.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @ajm188, @mattlord, @notfelineit, @rohit-nayak-ps, @systay, @harshit-gangal, @shlomi-noach

[release-17.0] vtexplain: Ensure memory topo is set up for throttler (#15279) (#15284) (#4466)
  go/cmd/vtexplain/vtexplain.go
  go/vt/srvtopo/watch.go
  go/vt/srvtopo/watch_srvkeyspace.go
  go/vt/vtadmin/api.go
  go/vt/vtexplain/vtexplain.go
  go/vt/vtexplain/vtexplain_test.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtexplain/vtexplain_vttablet_test.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @ajm188, @mattlord, @notfelineit, @rohit-nayak-ps, @systay, @harshit-gangal, @shlomi-noach

Add todos to mark tests to be ported/investigated for porting to new framework. Move common functionality to main_test
  go/vt/vttablet/tabletserver/vstreamer/main_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/main_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Migrate a couple more tests
  go/vt/vttablet/tabletserver/vstreamer/helper_event_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Port TestRegexp and TestSelectFilter to new framework
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Collation changes
  go/vt/vttablet/tabletserver/vstreamer/helper_event_test.go
  go/vt/vttablet/tabletserver/vstreamer/main_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Port couple more tests
  go/vt/vttablet/tabletserver/vstreamer/helper_event_test.go
  go/vt/vttablet/tabletserver/vstreamer/main_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Don't skip tests in vstreamer_test
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 4483 (#4495)
  go/sqltypes/testing.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/traffic_switcher_test.go
Owners: @harshit-gangal, @deepthi, @mattlord, @rohit-nayak-ps

backport of 4483 (#4495)
  go/sqltypes/testing.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/traffic_switcher_test.go
Owners: @harshit-gangal, @deepthi, @mattlord, @rohit-nayak-ps

feat: check for memory available
  .github/workflows/cluster_endtoend_vtorc.yml
Owners: @frouioui

feat: check for failure
  .github/workflows/cluster_endtoend_vtorc.yml
Owners: @frouioui

backport of 4484 (#4488)
  go/cmd/mysqlctld/cli/mysqlctld.go
  go/cmd/topo2topo/cli/topo2topo.go
  go/cmd/vtexplain/cli/vtexplain.go
  go/cmd/vttestserver/cli/main.go
  go/cmd/zkctld/cli/zkctld.go
  go/flags/endtoend/zkctld.txt
Owners: @ajm188, @planetscale/eng-vitess

backport of 4484 (#4488)
  go/cmd/mysqlctld/cli/mysqlctld.go
  go/cmd/topo2topo/cli/topo2topo.go
  go/cmd/vtexplain/cli/vtexplain.go
  go/cmd/vttestserver/cli/main.go
  go/cmd/zkctld/cli/zkctld.go
  go/flags/endtoend/zkctld.txt
Owners: @ajm188, @planetscale/eng-vitess

cherry pick of 14974 (#4335) (#4447)
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/test/endtoend/vtgate/schematracker/sharded_prs/st_sharded_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/large_union_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/semantic_state.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 14974 (#4335) (#4447)
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/test/endtoend/vtgate/schematracker/sharded_prs/st_sharded_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/large_union_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/semantic_state.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#4480): kmsbackup: import new path (#4486)
  go.mod
  go.sum
  go/vt/mysqlctl/kmsbackup/handle.go
  go/vt/mysqlctl/kmsbackup/main_test.go
  go/vt/mysqlctl/kmsbackup/storage.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord
