Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

backport of 4248 (#4250)
  go/mysql/datetime/datetime.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/fn_time.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

[release-18.0] Throttler: Use tmclient pool for CheckThrottler tabletmanager RPC (#15087)
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/vttablet/grpctmclient/client.go
Owners: @planetscale/eng-vitess, @ajm188, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

backport of 4253 (#4259)
  go/vt/discovery/keyspace_events.go
Owners: @deepthi, @frouioui

backport of 4253 (#4259)
  go/vt/discovery/keyspace_events.go
Owners: @deepthi, @frouioui

[latest-17.0](#4247): CherryPick(#15047): Improve TopoServer Performance and Efficiency For Keyspace Shards (#4256)
  go/vt/discovery/healthcheck.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/topo/errors.go
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_external_test.go
  go/vt/topo/memorytopo/directory.go
  go/vt/topo/memorytopo/election.go
  go/vt/topo/memorytopo/file.go
  go/vt/topo/memorytopo/lock.go
  go/vt/topo/memorytopo/memorytopo.go
  go/vt/topo/memorytopo/watch.go
  go/vt/topo/test/shard.go
  go/vt/vtctl/endtoend/onlineddl_show_test.go
  go/vt/vtctl/workflow/traffic_switcher.go
Owners: @deepthi, @frouioui, @planetscale/eng-vitess, @mattlord

[latest-17.0](#4247): CherryPick(#15047): Improve TopoServer Performance and Efficiency For Keyspace Shards (#4256)
  go/vt/discovery/healthcheck.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/topo/errors.go
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_external_test.go
  go/vt/topo/memorytopo/directory.go
  go/vt/topo/memorytopo/election.go
  go/vt/topo/memorytopo/file.go
  go/vt/topo/memorytopo/lock.go
  go/vt/topo/memorytopo/memorytopo.go
  go/vt/topo/memorytopo/watch.go
  go/vt/topo/test/shard.go
  go/vt/vtctl/endtoend/onlineddl_show_test.go
  go/vt/vtctl/workflow/traffic_switcher.go
Owners: @deepthi, @frouioui, @planetscale/eng-vitess, @mattlord

[latest-18.0](#4247): CherryPick(#15047): Improve TopoServer Performance and Efficiency For Keyspace Shards (#4255)
  go/vt/discovery/healthcheck.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/topo/errors.go
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_external_test.go
  go/vt/topo/memorytopo/directory.go
  go/vt/topo/memorytopo/election.go
  go/vt/topo/memorytopo/file.go
  go/vt/topo/memorytopo/lock.go
  go/vt/topo/memorytopo/memorytopo.go
  go/vt/topo/memorytopo/watch.go
  go/vt/topo/test/shard.go
  go/vt/vtctl/endtoend/onlineddl_show_test.go
  go/vt/vtctl/workflow/utils.go
Owners: @deepthi, @frouioui, @planetscale/eng-vitess, @mattlord

[latest-18.0](#4247): CherryPick(#15047): Improve TopoServer Performance and Efficiency For Keyspace Shards (#4255)
  go/vt/discovery/healthcheck.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/topo/errors.go
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_external_test.go
  go/vt/topo/memorytopo/directory.go
  go/vt/topo/memorytopo/election.go
  go/vt/topo/memorytopo/file.go
  go/vt/topo/memorytopo/lock.go
  go/vt/topo/memorytopo/memorytopo.go
  go/vt/topo/memorytopo/watch.go
  go/vt/topo/test/shard.go
  go/vt/vtctl/endtoend/onlineddl_show_test.go
  go/vt/vtctl/workflow/utils.go
Owners: @deepthi, @frouioui, @planetscale/eng-vitess, @mattlord

backport of 4237 (#4263)
  go/mysql/conn.go
  go/mysql/conn_flaky_test.go
  go/mysql/query.go
  go/mysql/streaming_query.go
Owners: @harshit-gangal, @systay, @mattlord

backport of 4237 (#4263)
  go/mysql/conn.go
  go/mysql/conn_flaky_test.go
  go/mysql/query.go
  go/mysql/streaming_query.go
Owners: @harshit-gangal, @systay, @mattlord

backport of 4258 (#4265)
  go/mysql/conn.go
  go/mysql/conn_flaky_test.go
  go/mysql/query.go
Owners: @harshit-gangal, @systay, @mattlord

backport of 4258 (#4265)
  go/mysql/conn.go
  go/mysql/conn_flaky_test.go
  go/mysql/query.go
Owners: @harshit-gangal, @systay, @mattlord

backport of 4266 (#4272)
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 4266 (#4272)
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 4266 (#4273)
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 4266 (#4273)
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

mysql: Ensure we set up the initial collation correctly
  go/mysql/auth_server_clientcert_test.go
  go/mysql/client_test.go
  go/mysql/conn.go
  go/mysql/conn_test.go
  go/mysql/fakesqldb/server.go
  go/mysql/handshake_test.go
  go/mysql/server.go
  go/mysql/server_test.go
  go/vt/vtenv/vtenv.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/plugin_mysql_server_test.go
Owners: @harshit-gangal, @systay, @mattlord, @planetscale/eng-vitess, @frouioui, @GuptaManan100

mysql: Ensure we set up the initial collation correctly
  go/mysql/auth_server_clientcert_test.go
  go/mysql/client_test.go
  go/mysql/conn.go
  go/mysql/conn_test.go
  go/mysql/fakesqldb/server.go
  go/mysql/handshake_test.go
  go/mysql/server.go
  go/mysql/server_test.go
  go/vt/vtenv/vtenv.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/plugin_mysql_server_test.go
Owners: @harshit-gangal, @systay, @mattlord, @planetscale/eng-vitess, @frouioui, @GuptaManan100

Fix vtgate's `testHandler` to use `vtenv.NewTestEnv()`
  go/vt/vtgate/plugin_mysql_server_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

Fix vtgate's `testHandler` to use `vtenv.NewTestEnv()`
  go/vt/vtgate/plugin_mysql_server_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

Make tablet collation mismatch warning throttled (#4282)
  go/vt/vtgate/tabletgateway.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

Make tablet collation mismatch warning throttled (#4282)
  go/vt/vtgate/tabletgateway.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4285 (#4286)
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_external_test.go
Owners: @deepthi, @mattlord

backport of 4285 (#4286)
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_external_test.go
Owners: @deepthi, @mattlord

backport of 4285 (#4287)
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_external_test.go
Owners: @deepthi, @mattlord

backport of 4285 (#4287)
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_external_test.go
Owners: @deepthi, @mattlord

backport of 4280 (#4284)
  go/vt/env/env.go
  go/vt/env/env_test.go
  go/vt/mysqlctl/mysqld.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

backport of 4280 (#4284)
  go/vt/env/env.go
  go/vt/env/env_test.go
  go/vt/mysqlctl/mysqld.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

WIP
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/sqlparser/rewriter_test.go
  go/vt/vtgate/engine/routing.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/vindexes/multitenant.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @GuptaManan100, @frouioui, @arthurschreiber

WIP
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/vt/sqlparser/rewriter_test.go
  go/vt/vtgate/engine/routing.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/vindexes/multitenant.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @GuptaManan100, @frouioui, @arthurschreiber

test: add failing test for expected collation and character set
  go/vt/sidecardb/sidecardb_test.go
Owners: @planetscale/eng-vitess

feat: update collations to fix the alias for utf8
  go/mysql/collations/env.go
  go/mysql/collations/mysqlversion.go
  go/vt/schemadiff/column.go
  go/vt/sidecardb/schema/schemaengine/tables.sql
  go/vt/sidecardb/schema/schemaengine/views.sql
  go/vt/sidecardb/sidecardb_test.go
Owners: @harshit-gangal, @systay, @mattlord, @planetscale/eng-vitess

[latest-18.0](#4292): CherryPick(#15062): `schemadiff`: analyze and report foreign key loops/cycles (#4293)
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Owners: @planetscale/eng-vitess

[latest-18.0](#4292): CherryPick(#15062): `schemadiff`: analyze and report foreign key loops/cycles (#4293)
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Owners: @planetscale/eng-vitess

[latest-18.0](#4295): CherryPick(#15106): `schemadiff`: `EnumReorderStrategy`, checking if enum or set values change ordinal (#4296)
  go/sqlescape/ids_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-rename/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-rename/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-truncate/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-truncate/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-changelog/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-changelog/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-changelog/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-copy/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-copy/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-copy/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-changelog/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-changelog/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-changelog/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-copy/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-copy/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-copy/expect_failure
  go/vt/schemadiff/column.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/vrepl/foreign_key.go
Owners: @planetscale/eng-vitess, @shlomi-noach, @mattlord, @rohit-nayak-ps

[latest-18.0](#4295): CherryPick(#15106): `schemadiff`: `EnumReorderStrategy`, checking if enum or set values change ordinal (#4296)
  go/sqlescape/ids_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-rename/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-rename/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-truncate/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-truncate/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-changelog/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-changelog/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-changelog/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-copy/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-copy/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-copy/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-changelog/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-changelog/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-changelog/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-copy/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-copy/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-copy/expect_failure
  go/vt/schemadiff/column.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/vrepl/foreign_key.go
Owners: @planetscale/eng-vitess, @shlomi-noach, @mattlord, @rohit-nayak-ps

[release-18.0] In the same sqltypes.Type, Copy expression types to avoid weight_strings and derived tables (#15069) (#15129)
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vtgate/planbuilder/operators/union_merging.go
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[release-19.0] Code Freeze for `v19.0.0-RC1` (#15137)
  .github/workflows/code_freeze.yml
Owners: @frouioui

backport of 4290 (#4301)
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
Owners: @ajm188, @GuptaManan100, @deepthi

backport of 4290 (#4301)
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
Owners: @ajm188, @GuptaManan100, @deepthi

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
