Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

[latest-18.0](#3834): CherryPick(#14654): Bump @adobe/css-tools from 4.3.1 to 4.3.2 in /web/vtadmin (#3837)
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Owners: @ajm188, @notfelineit

[latest-18.0](#3834): CherryPick(#14654): Bump @adobe/css-tools from 4.3.1 to 4.3.2 in /web/vtadmin (#3837)
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Owners: @ajm188, @notfelineit

[latest-17.0](#3834): CherryPick(#14654): Bump @adobe/css-tools from 4.3.1 to 4.3.2 in /web/vtadmin (#3836)
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Owners: @ajm188, @notfelineit

[latest-17.0](#3834): CherryPick(#14654): Bump @adobe/css-tools from 4.3.1 to 4.3.2 in /web/vtadmin (#3836)
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Owners: @ajm188, @notfelineit

backport of 3840 (#3844)
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
Owners: @ajm188, @notfelineit

backport of 3840 (#3844)
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
Owners: @ajm188, @notfelineit

cherry pick of 14634 (#3841) (#3843)
  go/cmd/vtctldclient/command/reparents.go
  go/flags/endtoend/vtorc.txt
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/reparent.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
  go/vt/vtorc/config/config.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/wrangler/reparent.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @mattlord, @planetscale/eng-vitess, @deepthi, @harshit-gangal, @notfelineit, @GuptaManan100, @shlomi-noach, @rohit-nayak-ps

cherry pick of 14634 (#3841) (#3843)
  go/cmd/vtctldclient/command/reparents.go
  go/flags/endtoend/vtorc.txt
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/reparent.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
  go/vt/vtorc/config/config.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/wrangler/reparent.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @mattlord, @planetscale/eng-vitess, @deepthi, @harshit-gangal, @notfelineit, @GuptaManan100, @shlomi-noach, @rohit-nayak-ps

cherry pick of 14634 (#3841) (#3847)
  go/cmd/vtctldclient/command/reparents.go
  go/flags/endtoend/vtorc.txt
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/reparent.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
  go/vt/vtorc/config/config.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/wrangler/reparent.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @mattlord, @planetscale/eng-vitess, @deepthi, @harshit-gangal, @notfelineit, @GuptaManan100, @shlomi-noach, @rohit-nayak-ps

cherry pick of 14634 (#3841) (#3847)
  go/cmd/vtctldclient/command/reparents.go
  go/flags/endtoend/vtorc.txt
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/reparent.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
  go/vt/vtorc/config/config.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/wrangler/reparent.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @mattlord, @planetscale/eng-vitess, @deepthi, @harshit-gangal, @notfelineit, @GuptaManan100, @shlomi-noach, @rohit-nayak-ps

[latest-17.0]: VReplication VPlayer: batch a multi-delete statement while applying on the target (#3825)
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/vttablet/flags.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Owners: @planetscale/eng-vitess, @rohit-nayak-ps, @mattlord

[latest-17.0]: VReplication VPlayer: batch a multi-delete statement while applying on the target (#3825)
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/vttablet/flags.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Owners: @planetscale/eng-vitess, @rohit-nayak-ps, @mattlord

backport of 3849 (#3850)
  go/cmd/vttablet/vttablet.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/wrangler/fake_tablet_test.go
  go/vt/wrangler/testlib/fake_tablet.go
Owners: @ajm188, @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal, @systay, @mattlord

backport of 3849 (#3850)
  go/cmd/vttablet/vttablet.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/wrangler/fake_tablet_test.go
  go/vt/wrangler/testlib/fake_tablet.go
Owners: @ajm188, @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal, @systay, @mattlord

backport of 3849 (#3851)
  go/cmd/vttablet/cli/cli.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/wrangler/fake_tablet_test.go
  go/vt/wrangler/testlib/fake_tablet.go
Owners: @ajm188, @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal, @systay, @mattlord

backport of 3849 (#3851)
  go/cmd/vttablet/cli/cli.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/wrangler/fake_tablet_test.go
  go/vt/wrangler/testlib/fake_tablet.go
Owners: @ajm188, @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal, @systay, @mattlord

backport of 3856 (#3857)
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Owners: @planetscale/eng-vitess

backport of 3856 (#3857)
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Owners: @planetscale/eng-vitess

[release-16.0] tabletserver: do not consolidate streams on primary tablet when consolidator mode is `notOnPrimary` (#14332) (#14683)
  go/vt/vttablet/endtoend/config_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/stream_consolidator.go
  go/vt/vttablet/tabletserver/stream_consolidator_flaky_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Owners: @harshit-gangal, @mattlord, @rohit-nayak-ps, @systay, @shlomi-noach

backport of 3859 (#3860)
  go/boost/topo/server/server.go
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_external_test.go
  go/vt/topo/shard.go
  go/vt/topotools/rebuild_keyspace.go
  go/vt/topotools/split.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vtorc/logic/keyspace_shard_discovery.go
  go/vt/wrangler/keyspace.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord, @ajm188, @notfelineit, @shlomi-noach, @GuptaManan100, @rohit-nayak-ps

backport of 3859 (#3860)
  go/boost/topo/server/server.go
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_external_test.go
  go/vt/topo/shard.go
  go/vt/topotools/rebuild_keyspace.go
  go/vt/topotools/split.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vtorc/logic/keyspace_shard_discovery.go
  go/vt/wrangler/keyspace.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord, @ajm188, @notfelineit, @shlomi-noach, @GuptaManan100, @rohit-nayak-ps

Fix backward/forward compatibility of the schema tracking extra column (#3863)
  go/mysql/schema.go
  go/test/endtoend/vtgate/schematracker/unauthorized/unauthorized_test.go
  go/vt/vtgate/schema/tracker.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

Fix backward/forward compatibility of the schema tracking extra column (#3863)
  go/mysql/schema.go
  go/test/endtoend/vtgate/schematracker/unauthorized/unauthorized_test.go
  go/vt/vtgate/schema/tracker.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

WIP
  go/cmd/vtctldclient/command/vreplication/common/utils.go
  go/cmd/vtctldclient/command/vreplication/movetables/movetables.go
  go/cmd/vtctldclient/command/vreplication/workflow/delete.go
  go/cmd/vtctldclient/command/vreplication/workflow/show.go
  go/cmd/vtctldclient/command/vreplication/workflow/state.go
  go/cmd/vtctldclient/command/vreplication/workflow/update.go
  go/cmd/vtctldclient/command/vreplication/workflow/workflow.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/vexec/vexec.go
  proto/query.proto
  test/local_example.sh
Owners: @mattlord, @rohit-nayak-ps, @deepthi, @harshit-gangal, @GuptaManan100, @frouioui

backport of 3873 (#3875)
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sqlparser/comments.go
  go/vt/sqlparser/comments_test.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/update.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/vcursor_impl.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3873 (#3875)
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sqlparser/comments.go
  go/vt/sqlparser/comments_test.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/update.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/vcursor_impl.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3872 (#3874)
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Owners: @planetscale/eng-vitess

backport of 3872 (#3874)
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Owners: @planetscale/eng-vitess

backport of 3881 (#3885)
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/vreplication/fk_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/binlog/binlogplayer/dbclient.go
  go/vt/binlog/binlogplayer/fake_dbclient.go
  go/vt/binlog/binlogplayer/mock_dbclient.go
  go/vt/vttablet/flags.go
  go/vt/vttablet/tabletmanager/vdiff/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/vttablet/tabletmanager/vreplication/stats_test.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vdbclient.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/wrangler/fake_dbclient_test.go
Owners: @shlomi-noach, @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @mattlord

backport of 3881 (#3885)
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/vreplication/fk_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/binlog/binlogplayer/dbclient.go
  go/vt/binlog/binlogplayer/fake_dbclient.go
  go/vt/binlog/binlogplayer/mock_dbclient.go
  go/vt/vttablet/flags.go
  go/vt/vttablet/tabletmanager/vdiff/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/vttablet/tabletmanager/vreplication/stats_test.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vdbclient.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/wrangler/fake_dbclient_test.go
Owners: @shlomi-noach, @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @mattlord

[latest-18.0](#3876): CherryPick(#14701): Fail correlated subquery in planning phase instead of a runtime error (#3879)
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_builder.go
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#3876): CherryPick(#14701): Fail correlated subquery in planning phase instead of a runtime error (#3879)
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_builder.go
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#3877): CherryPick(#14704): bugfix: use the original expression and not the alias (#3880)
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#3877): CherryPick(#14704): bugfix: use the original expression and not the alias (#3880)
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3848 (#3854)
  changelog/19.0/19.0.0/summary.md
  go/vt/vttablet/endtoend/config_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/stream_consolidator.go
  go/vt/vttablet/tabletserver/stream_consolidator_flaky_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @mattlord, @rohit-nayak-ps, @systay, @shlomi-noach

backport of 3848 (#3854)
  changelog/19.0/19.0.0/summary.md
  go/vt/vttablet/endtoend/config_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/stream_consolidator.go
  go/vt/vttablet/tabletserver/stream_consolidator_flaky_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @mattlord, @rohit-nayak-ps, @systay, @shlomi-noach

[latest-17.0](#3859): CherryPick(#14670): go/vt/topo: enable concurrency for FindAllShardsInKeyspace (#3861)
  go/boost/topo/server/server.go
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_external_test.go
  go/vt/topo/shard.go
  go/vt/topotools/rebuild_keyspace.go
  go/vt/topotools/split.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtorc/logic/keyspace_shard_discovery.go
  go/vt/wrangler/keyspace.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord, @ajm188, @notfelineit, @shlomi-noach, @GuptaManan100, @rohit-nayak-ps

[latest-17.0](#3859): CherryPick(#14670): go/vt/topo: enable concurrency for FindAllShardsInKeyspace (#3861)
  go/boost/topo/server/server.go
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_external_test.go
  go/vt/topo/shard.go
  go/vt/topotools/rebuild_keyspace.go
  go/vt/topotools/split.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtorc/logic/keyspace_shard_discovery.go
  go/vt/wrangler/keyspace.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord, @ajm188, @notfelineit, @shlomi-noach, @GuptaManan100, @rohit-nayak-ps

[latest-17.0](#3881): CherryPick(#14502): VReplication VPlayer: support statement and transaction batching (#3883)
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/binlog/binlogplayer/dbclient.go
  go/vt/binlog/binlogplayer/fake_dbclient.go
  go/vt/binlog/binlogplayer/mock_dbclient.go
  go/vt/vttablet/flags.go
  go/vt/vttablet/tabletmanager/vdiff/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/vttablet/tabletmanager/vreplication/stats_test.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vdbclient.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/wrangler/fake_dbclient_test.go
Owners: @shlomi-noach, @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @mattlord

[latest-17.0](#3881): CherryPick(#14502): VReplication VPlayer: support statement and transaction batching (#3883)
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/binlog/binlogplayer/dbclient.go
  go/vt/binlog/binlogplayer/fake_dbclient.go
  go/vt/binlog/binlogplayer/mock_dbclient.go
  go/vt/vttablet/flags.go
  go/vt/vttablet/tabletmanager/vdiff/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/vttablet/tabletmanager/vreplication/stats_test.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vdbclient.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/wrangler/fake_dbclient_test.go
Owners: @shlomi-noach, @planetscale/eng-vitess, @deepthi, @GuptaManan100, @rohit-nayak-ps, @mattlord

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
