Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

[latest-18.0](#4017): CherryPick(#14672): vtctldclient,grpcvtctldserver ApplySchema: return unknown params from grpcvtctldserver.ApplySchema, log them in vtctldclient.ApplySchema (#4020)
  go/cmd/vtctldclient/command/vschemas.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/vtctl_test.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @mattlord, @deepthi, @harshit-gangal, @notfelineit

[latest-18.0](#4017): CherryPick(#14672): vtctldclient,grpcvtctldserver ApplySchema: return unknown params from grpcvtctldserver.ApplySchema, log them in vtctldclient.ApplySchema (#4020)
  go/cmd/vtctldclient/command/vschemas.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/vtctl_test.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @mattlord, @deepthi, @harshit-gangal, @notfelineit

test: try running tests in release-17.0
  go/test/endtoend/backup/vtbackup/main_test.go
Owners: @planetscale/eng-vitess

warn non-atomic commit when flag enabled
  changelog/19.0/19.0.0/summary.md
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/tx_conn_test.go
  go/vt/vtgate/vtgate.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100

warn non-atomic commit when flag enabled
  changelog/19.0/19.0.0/summary.md
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/tx_conn_test.go
  go/vt/vtgate/vtgate.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @GuptaManan100

backport of 4036 (#4040)
  go/mysql/datetime/datetime.go
  go/vt/vtgate/evalengine/compiler_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

backport of 4036 (#4040)
  go/mysql/datetime/datetime.go
  go/vt/vtgate/evalengine/compiler_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100

[latest-18.0](#4036): CherryPick(#14859): evalengine: Fix week overflow (#4039)
  go/mysql/datetime/datetime.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/vt/vtgate/evalengine/compiler_test.go
Owners: @harshit-gangal, @systay, @mattlord, @planetscale/eng-vitess, @frouioui, @GuptaManan100

[latest-18.0](#4036): CherryPick(#14859): evalengine: Fix week overflow (#4039)
  go/mysql/datetime/datetime.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/vt/vtgate/evalengine/compiler_test.go
Owners: @harshit-gangal, @systay, @mattlord, @planetscale/eng-vitess, @frouioui, @GuptaManan100

[latest-18.0](#4001): CherryPick(#14782): Refactor Upgrade downgrade tests (#4032)
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/derived/derived_test.go
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/test/endtoend/vtgate/queries/kill/main_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/normalize/normalize_test.go
  go/test/endtoend/vtgate/queries/random/random_test.go
  go/test/endtoend/vtgate/queries/timeout/main_test.go
  test/config.json
Owners: @frouioui, @harshit-gangal, @systay, @GuptaManan100, @rohit-nayak-ps

[latest-18.0](#4001): CherryPick(#14782): Refactor Upgrade downgrade tests (#4032)
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/derived/derived_test.go
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/test/endtoend/vtgate/queries/kill/main_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/normalize/normalize_test.go
  go/test/endtoend/vtgate/queries/random/random_test.go
  go/test/endtoend/vtgate/queries/timeout/main_test.go
  test/config.json
Owners: @frouioui, @harshit-gangal, @systay, @GuptaManan100, @rohit-nayak-ps

[latest-17.0](#4001): CherryPick(#14782): Refactor Upgrade downgrade tests (#4031)
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/normalize/normalize_test.go
  go/test/endtoend/vtgate/queries/random/main_test.go
  go/test/endtoend/vtgate/queries/random/random_test.go
  test/config.json
Owners: @frouioui, @harshit-gangal, @systay, @GuptaManan100, @rohit-nayak-ps

[latest-17.0](#4001): CherryPick(#14782): Refactor Upgrade downgrade tests (#4031)
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/normalize/normalize_test.go
  go/test/endtoend/vtgate/queries/random/main_test.go
  go/test/endtoend/vtgate/queries/random/random_test.go
  test/config.json
Owners: @frouioui, @harshit-gangal, @systay, @GuptaManan100, @rohit-nayak-ps

backport of 3895 (#4049)
  go/cmd/vtctldclient/command/routing_rules.go
Owners: @ajm188, @mattlord

backport of 3895 (#4049)
  go/cmd/vtctldclient/command/routing_rules.go
Owners: @ajm188, @mattlord

backport of 3895 (#4050)
  go/cmd/vtctldclient/command/routing_rules.go
Owners: @ajm188, @mattlord

backport of 3895 (#4050)
  go/cmd/vtctldclient/command/routing_rules.go
Owners: @ajm188, @mattlord

resolved conflict
  go/mysql/capabilities/capability.go
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysqlgr.go
  go/mysql/flavor_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/vt/vttablet/onlineddl/analysis.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
Owners: @harshit-gangal, @systay, @mattlord, @shlomi-noach, @planetscale/eng-vitess, @rohit-nayak-ps

[latest-18.0](#4046): CherryPick(#14786): VDiff: Support a max diff time for tables (#4059)
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff.go
  go/test/endtoend/vreplication/vdiff2_test.go
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletmanager/vdiff/controller.go
  go/vt/vttablet/tabletmanager/vdiff/stats.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vdiff/table_plan.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
  proto/tabletmanagerdata.proto
  proto/vtctldata.proto
  test/config.json
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @mattlord, @rohit-nayak-ps, @planetscale/eng-vitess, @deepthi, @harshit-gangal, @ajm188, @notfelineit, @GuptaManan100, @shlomi-noach, @frouioui

[latest-18.0](#4046): CherryPick(#14786): VDiff: Support a max diff time for tables (#4059)
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff.go
  go/test/endtoend/vreplication/vdiff2_test.go
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletmanager/vdiff/controller.go
  go/vt/vttablet/tabletmanager/vdiff/stats.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vdiff/table_plan.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
  proto/tabletmanagerdata.proto
  proto/vtctldata.proto
  test/config.json
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @mattlord, @rohit-nayak-ps, @planetscale/eng-vitess, @deepthi, @harshit-gangal, @ajm188, @notfelineit, @GuptaManan100, @shlomi-noach, @frouioui

backport of 4041 (#4057)
  go/mysql/datetime/datetime.go
  go/mysql/datetime/helpers.go
  go/mysql/datetime/timeparts.go
  go/sqltypes/value.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/mysqlctl/azblobbackupstorage/azblob.go
  go/vt/throttler/throttler.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/evalengine/api_arithmetic_test.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_bit.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vttablet/onlineddl/vrepl.go
Owners: @harshit-gangal, @systay, @mattlord, @shlomi-noach, @deepthi, @planetscale/eng-vitess, @frouioui, @GuptaManan100, @rohit-nayak-ps

backport of 4041 (#4057)
  go/mysql/datetime/datetime.go
  go/mysql/datetime/helpers.go
  go/mysql/datetime/timeparts.go
  go/sqltypes/value.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/mysqlctl/azblobbackupstorage/azblob.go
  go/vt/throttler/throttler.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/evalengine/api_arithmetic_test.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_bit.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vttablet/onlineddl/vrepl.go
Owners: @harshit-gangal, @systay, @mattlord, @shlomi-noach, @deepthi, @planetscale/eng-vitess, @frouioui, @GuptaManan100, @rohit-nayak-ps

backport of 4041 (#4058)
  go/mysql/datetime/datetime.go
  go/mysql/datetime/helpers.go
  go/mysql/datetime/timeparts.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/mysqlctl/azblobbackupstorage/azblob.go
  go/vt/throttler/throttler.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/evalengine/api_arithmetic_test.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_bit.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vttablet/onlineddl/vrepl.go
Owners: @harshit-gangal, @systay, @mattlord, @shlomi-noach, @deepthi, @planetscale/eng-vitess, @frouioui, @GuptaManan100, @rohit-nayak-ps

backport of 4041 (#4058)
  go/mysql/datetime/datetime.go
  go/mysql/datetime/helpers.go
  go/mysql/datetime/timeparts.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/mysqlctl/azblobbackupstorage/azblob.go
  go/vt/throttler/throttler.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/evalengine/api_arithmetic_test.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_bit.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vttablet/onlineddl/vrepl.go
Owners: @harshit-gangal, @systay, @mattlord, @shlomi-noach, @deepthi, @planetscale/eng-vitess, @frouioui, @GuptaManan100, @rohit-nayak-ps

[latest-18.0](#4064): CherryPick(#14878): schemadiff: using MySQL capabilities to analyze a SchemaDiff and whether changes are applicable instantly/immediately. (#4065)
  go/mysql/capabilities/capability.go
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysqlgr.go
  go/mysql/flavor_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/vt/mysqlctl/backup_blackbox_test.go
  go/vt/schemadiff/capability.go
  go/vt/schemadiff/capability_test.go
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
  go/vt/vttablet/onlineddl/analysis.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/wrangler/testlib/backup_test.go
Owners: @harshit-gangal, @systay, @mattlord, @shlomi-noach, @planetscale/eng-vitess, @deepthi, @rohit-nayak-ps

[latest-18.0](#4064): CherryPick(#14878): schemadiff: using MySQL capabilities to analyze a SchemaDiff and whether changes are applicable instantly/immediately. (#4065)
  go/mysql/capabilities/capability.go
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysqlgr.go
  go/mysql/flavor_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/vt/mysqlctl/backup_blackbox_test.go
  go/vt/schemadiff/capability.go
  go/vt/schemadiff/capability_test.go
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
  go/vt/vttablet/onlineddl/analysis.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/wrangler/testlib/backup_test.go
Owners: @harshit-gangal, @systay, @mattlord, @shlomi-noach, @planetscale/eng-vitess, @deepthi, @rohit-nayak-ps

backport of 4066 (#4068)
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Owners: @harshit-gangal, @systay, @GuptaManan100

backport of 4066 (#4068)
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Owners: @harshit-gangal, @systay, @GuptaManan100

backport of 4070 (#4073)
  .github/workflows/codeql_analysis.yml
Owners: @frouioui

backport of 4070 (#4073)
  .github/workflows/codeql_analysis.yml
Owners: @frouioui

backport of 4070 (#4075)
  .github/workflows/codeql_analysis.yml
Owners: @frouioui

backport of 4070 (#4075)
  .github/workflows/codeql_analysis.yml
Owners: @frouioui

backport of 4071 (#4078)
  .github/actions/_planetscale_slack-notify/package-lock.json
  .github/actions/_planetscale_slack-notify/package.json
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4071 (#4078)
  .github/actions/_planetscale_slack-notify/package-lock.json
  .github/actions/_planetscale_slack-notify/package.json
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4071 (#4077)
  .github/actions/_planetscale_slack-notify/package-lock.json
  .github/actions/_planetscale_slack-notify/package.json
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4071 (#4077)
  .github/actions/_planetscale_slack-notify/package-lock.json
  .github/actions/_planetscale_slack-notify/package.json
Owners: @Sinjo, @dctrwatson, @Verolop

backport of 4067 (#4081)
  go/vt/vtctl/vtctl.go
Owners: @ajm188, @notfelineit

backport of 4067 (#4081)
  go/vt/vtctl/vtctl.go
Owners: @ajm188, @notfelineit

backport of 4089 (#4090)
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysqlgr.go
  go/mysql/flavor_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/vt/mysqlctl/backup_blackbox_test.go
  go/vt/vttablet/onlineddl/analysis.go
  go/vt/vttablet/onlineddl/analysis_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/wrangler/testlib/backup_test.go
Owners: @harshit-gangal, @systay, @mattlord, @shlomi-noach, @planetscale/eng-vitess, @deepthi, @rohit-nayak-ps

backport of 4089 (#4090)
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysqlgr.go
  go/mysql/flavor_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/vt/mysqlctl/backup_blackbox_test.go
  go/vt/vttablet/onlineddl/analysis.go
  go/vt/vttablet/onlineddl/analysis_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/wrangler/testlib/backup_test.go
Owners: @harshit-gangal, @systay, @mattlord, @shlomi-noach, @planetscale/eng-vitess, @deepthi, @rohit-nayak-ps

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
