Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit

[latest-18.0](#4480): kmsbackup: import new path (#4486)
  go.mod
  go.sum
  go/vt/mysqlctl/kmsbackup/handle.go
  go/vt/mysqlctl/kmsbackup/main_test.go
  go/vt/mysqlctl/kmsbackup/storage.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

[latest-17.0](#4480): kmsbackup: import new path (#4487)
  go.mod
  go.sum
  go/vt/mysqlctl/kmsbackup/handle.go
  go/vt/mysqlctl/kmsbackup/main_test.go
  go/vt/mysqlctl/kmsbackup/storage.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

[latest-17.0](#4480): kmsbackup: import new path (#4487)
  go.mod
  go.sum
  go/vt/mysqlctl/kmsbackup/handle.go
  go/vt/mysqlctl/kmsbackup/main_test.go
  go/vt/mysqlctl/kmsbackup/storage.go
Owners: @planetscale/eng-vitess, @deepthi, @mattlord

backport of 4424 (#4439)
  .github/workflows/static_checks_etc.yml
  .github/workflows/unit_race.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  test/templates/cluster_endtoend_test_docker.tpl
  test/templates/cluster_endtoend_test_mysql57.tpl
  test/templates/cluster_endtoend_test_self_hosted.tpl
  test/templates/unit_test_self_hosted.tpl
Owners: @frouioui, @GuptaManan100, @rohit-nayak-ps

backport of 4424 (#4439)
  .github/workflows/static_checks_etc.yml
  .github/workflows/unit_race.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  test/templates/cluster_endtoend_test_docker.tpl
  test/templates/cluster_endtoend_test_mysql57.tpl
  test/templates/cluster_endtoend_test_self_hosted.tpl
  test/templates/unit_test_self_hosted.tpl
Owners: @frouioui, @GuptaManan100, @rohit-nayak-ps

Revert "Collation changes"
  go/vt/vttablet/tabletserver/vstreamer/helper_event_test.go
  go/vt/vttablet/tabletserver/vstreamer/main_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Port VStream unit tests
  go/vt/vttablet/tabletserver/vstreamer/main_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 4500 (#4511)
  .github/workflows/cluster_endtoend_vtorc.yml
  test/ci_workflow_gen.go
  test/templates/cluster_endtoend_test.tpl
Owners: @frouioui, @GuptaManan100, @rohit-nayak-ps

backport of 4500 (#4511)
  .github/workflows/cluster_endtoend_vtorc.yml
  test/ci_workflow_gen.go
  test/templates/cluster_endtoend_test.tpl
Owners: @frouioui, @GuptaManan100, @rohit-nayak-ps

backport of 4509 (#4514)
  go/test/endtoend/vtorc/api/api_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
  go/vt/vtorc/logic/vtorc.go
  go/vt/vtorc/process/health.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100

backport of 4509 (#4514)
  go/test/endtoend/vtorc/api/api_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
  go/vt/vtorc/logic/vtorc.go
  go/vt/vtorc/process/health.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100

backport of 4509 (#4516)
  go/test/endtoend/vtorc/api/api_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
  go/vt/vtorc/logic/vtorc.go
  go/vt/vtorc/process/health.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100

backport of 4509 (#4516)
  go/test/endtoend/vtorc/api/api_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
  go/vt/vtorc/logic/vtorc.go
  go/vt/vtorc/process/health.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100

[latest-18.0](#4518): CherryPick(#15302): Column alias expanding on ORDER BY (#4519)
  go/boost/server/controller/boostplan/operators/plan.go
  go/mysql/sqlerror/sql_error.go
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/test/endtoend/vtgate/queries/lookup_queries/main_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/orderby/orderby_test.go
  go/test/endtoend/vtgate/queries/orderby/schema.sql
  go/test/endtoend/vtgate/queries/orderby/vschema.json
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vterrors/state.go
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/errors.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#4518): CherryPick(#15302): Column alias expanding on ORDER BY (#4519)
  go/boost/server/controller/boostplan/operators/plan.go
  go/mysql/sqlerror/sql_error.go
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/test/endtoend/vtgate/queries/lookup_queries/main_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/orderby/orderby_test.go
  go/test/endtoend/vtgate/queries/orderby/schema.sql
  go/test/endtoend/vtgate/queries/orderby/vschema.json
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vterrors/state.go
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/errors.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100, @arthurschreiber

[release-18.0] Column alias expanding on ORDER BY (#15302) (#15331)
  go/mysql/sqlerror/sql_error.go
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/test/endtoend/vtgate/queries/lookup_queries/main_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/orderby/orderby_test.go
  go/test/endtoend/vtgate/queries/orderby/schema.sql
  go/test/endtoend/vtgate/queries/orderby/vschema.json
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vterrors/state.go
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/errors.go
Owners: @harshit-gangal, @systay, @mattlord, @planetscale/eng-vitess, @frouioui, @GuptaManan100, @arthurschreiber

More refactor
  go/vt/vttablet/tabletserver/vstreamer/helper_event_test.go
  go/vt/vttablet/tabletserver/vstreamer/main_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Port TestOther
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

Set `VReplicationStreamState` to Copying on resumption
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
Owners: @rohit-nayak-ps, @mattlord

Self-review
  go/vt/vttablet/tabletserver/vstreamer/helper_event_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 4529 (#4530)
  go/vt/discovery/keyspace_events.go
Owners: @deepthi, @frouioui

backport of 4529 (#4530)
  go/vt/discovery/keyspace_events.go
Owners: @deepthi, @frouioui

backport of 4535 (#4538)
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-reorder/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-reorder/create.sql
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/onlineddl/vrepl/columns.go
  go/vt/vttablet/onlineddl/vrepl/columns_test.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
Owners: @shlomi-noach, @mattlord, @rohit-nayak-ps

backport of 4535 (#4538)
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-reorder/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-reorder/create.sql
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/onlineddl/vrepl/columns.go
  go/vt/vttablet/onlineddl/vrepl/columns_test.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
Owners: @shlomi-noach, @mattlord, @rohit-nayak-ps

backport of 4535 (#4537)
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-reorder/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-reorder/create.sql
  go/vt/schemadiff/types.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/onlineddl/vrepl/columns.go
  go/vt/vttablet/onlineddl/vrepl/columns_test.go
  go/vt/vttablet/onlineddl/vrepl/foreign_key.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
Owners: @shlomi-noach, @planetscale/eng-vitess, @mattlord, @rohit-nayak-ps

backport of 4535 (#4537)
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-reorder/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-reorder/create.sql
  go/vt/schemadiff/types.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/onlineddl/vrepl/columns.go
  go/vt/vttablet/onlineddl/vrepl/columns_test.go
  go/vt/vttablet/onlineddl/vrepl/foreign_key.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
Owners: @shlomi-noach, @planetscale/eng-vitess, @mattlord, @rohit-nayak-ps

[release-19.0] Code Freeze for `v19.0.0` (#15358)
  .github/workflows/code_freeze.yml
Owners: @frouioui

cherry pick of 15356 (#4545) (#4547)
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/tablet_dao.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vttablet/grpctmclient/client.go
Owners: @planetscale/eng-vitess, @deepthi, @shlomi-noach, @GuptaManan100, @ajm188, @rohit-nayak-ps

cherry pick of 15356 (#4545) (#4547)
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/tablet_dao.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vttablet/grpctmclient/client.go
Owners: @planetscale/eng-vitess, @deepthi, @shlomi-noach, @GuptaManan100, @ajm188, @rohit-nayak-ps

[latest-18.0](#4541): CherryPick(#15348): SHOW VITESS_REPLICATION_STATUS: Only use replication tracker when it's enabled (#4543)
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
  go/vt/vttablet/tabletserver/repltracker/poller.go
  go/vt/vttablet/tabletserver/repltracker/repltracker.go
Owners: @planetscale/eng-vitess, @deepthi, @shlomi-noach, @GuptaManan100, @harshit-gangal, @systay, @frouioui, @rohit-nayak-ps

[latest-18.0](#4541): CherryPick(#15348): SHOW VITESS_REPLICATION_STATUS: Only use replication tracker when it's enabled (#4543)
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
  go/vt/vttablet/tabletserver/repltracker/poller.go
  go/vt/vttablet/tabletserver/repltracker/repltracker.go
Owners: @planetscale/eng-vitess, @deepthi, @shlomi-noach, @GuptaManan100, @harshit-gangal, @systay, @frouioui, @rohit-nayak-ps

backport of 4549 (#4554)
  go/vt/topo/memorytopo/election.go
  go/vt/topo/memorytopo/lock.go
  go/vt/topo/memorytopo/memorytopo.go
  go/vt/topo/memorytopo/watch.go
Owners: @deepthi, @mattlord

backport of 4549 (#4554)
  go/vt/topo/memorytopo/election.go
  go/vt/topo/memorytopo/lock.go
  go/vt/topo/memorytopo/memorytopo.go
  go/vt/topo/memorytopo/watch.go
Owners: @deepthi, @mattlord

[latest-17.0](#4549): CherryPick(#15365): CI: Address data races on memorytopo Conn.closed (#4555)
  go/vt/topo/memorytopo/election.go
  go/vt/topo/memorytopo/lock.go
  go/vt/topo/memorytopo/memorytopo.go
  go/vt/topo/memorytopo/watch.go
Owners: @deepthi, @mattlord

[latest-17.0](#4549): CherryPick(#15365): CI: Address data races on memorytopo Conn.closed (#4555)
  go/vt/topo/memorytopo/election.go
  go/vt/topo/memorytopo/lock.go
  go/vt/topo/memorytopo/memorytopo.go
  go/vt/topo/memorytopo/watch.go
Owners: @deepthi, @mattlord

Fix PRS from being blocked because of misbehaving clients (#15339) (#4558) (#4559)
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/tabletgateway/main_test.go
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/test/endtoend/vtgate/transaction/restart/main_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/requests_waiter.go
  go/vt/vttablet/tabletserver/requests_waiter_test.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @shlomi-noach, @rohit-nayak-ps

Fix PRS from being blocked because of misbehaving clients (#15339) (#4558) (#4559)
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/tabletgateway/main_test.go
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/test/endtoend/vtgate/transaction/restart/main_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/requests_waiter.go
  go/vt/vttablet/tabletserver/requests_waiter_test.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @shlomi-noach, @rohit-nayak-ps

Fix PRS from being blocked because of misbehaving clients (#15339) (#4558) (#4560)
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/tabletgateway/main_test.go
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/test/endtoend/vtgate/transaction/restart/main_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/requests_waiter.go
  go/vt/vttablet/tabletserver/requests_waiter_test.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @shlomi-noach, @rohit-nayak-ps

Fix PRS from being blocked because of misbehaving clients (#15339) (#4558) (#4560)
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/tabletgateway/main_test.go
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/test/endtoend/vtgate/transaction/restart/main_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/requests_waiter.go
  go/vt/vttablet/tabletserver/requests_waiter_test.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @planetscale/eng-vitess, @harshit-gangal, @systay, @frouioui, @shlomi-noach, @rohit-nayak-ps

Bugfix: GROUP BY/HAVING alias resolution (#15344) (#4566)
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/oltp_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/errors.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/vtable.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber
