Repository planetscale/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @planetscale/eng-vitess, @deepthi, @Sinjo, @dctrwatson, @Verolop, @frouioui, @shlomi-noach, @mattlord, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @yields, @piki, @rafer, @arthurschreiber

backport of 3938 (#3944)
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  examples/backups/stop_tablets.sh
Owners: @frouioui, @planetscale/eng-vitess

backport of 3937 (#3942)
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/schema.sql
  go/test/endtoend/vtgate/vschema.json
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/insert_common.go
  go/vt/vtgate/engine/insert_select.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3937 (#3942)
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/schema.sql
  go/test/endtoend/vtgate/vschema.json
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/insert_common.go
  go/vt/vtgate/engine/insert_select.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3940 (#3945)
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Owners: @planetscale/eng-vitess

backport of 3940 (#3945)
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Owners: @planetscale/eng-vitess

feat: rework unserveCommon so that we don't wait for requests always
  go/vt/vttablet/tabletserver/state_manager.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

[latest-17.0](#3938): CherryPick(#14753): Add a retry to remove the vttablet directory during upgrade/downgrade backup tests (#3941)
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  examples/backups/stop_tablets.sh
Owners: @frouioui, @planetscale/eng-vitess

[latest-17.0](#3938): CherryPick(#14753): Add a retry to remove the vttablet directory during upgrade/downgrade backup tests (#3941)
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  examples/backups/stop_tablets.sh
Owners: @frouioui, @planetscale/eng-vitess

backport of 3954 (#3955)
  go/cmd/vtctldclient/command/onlineddl.go
  go/mysql/flavor.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_test.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/proto/vtboost/vtboost.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtctlservice/vtctlservice_grpc.pb.go
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
  go/vt/sidecardb/schema/onlineddl/schema_migrations.sql
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/localvtctldclient/client_gen.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletserver/query_executor.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @mattlord, @harshit-gangal, @systay, @planetscale/eng-vitess, @shlomi-noach, @deepthi, @GuptaManan100, @notfelineit, @rohit-nayak-ps

backport of 3954 (#3955)
  go/cmd/vtctldclient/command/onlineddl.go
  go/mysql/flavor.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_test.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/proto/vtboost/vtboost.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtctlservice/vtctlservice_grpc.pb.go
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
  go/vt/sidecardb/schema/onlineddl/schema_migrations.sql
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/localvtctldclient/client_gen.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletserver/query_executor.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @mattlord, @harshit-gangal, @systay, @planetscale/eng-vitess, @shlomi-noach, @deepthi, @GuptaManan100, @notfelineit, @rohit-nayak-ps

cherry pick of 14638 (#3947) (#3948)
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/upsert.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/upsert.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/upsert.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 14638 (#3947) (#3948)
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/upsert.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/upsert.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/upsert.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

Fix accepting bind variables in time related function calls. (#14763)
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/evalengine/translate_builtin.go
  test/config.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @rohit-nayak-ps

[latest-18.0](#3957): CherryPick(#14767): refactor: remove more errors from operator planning (#3959)
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing_helper.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/helpers.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/plan_query.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/queryprojection_test.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/vindex.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

[latest-18.0](#3957): CherryPick(#14767): refactor: remove more errors from operator planning (#3959)
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing_helper.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/helpers.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/plan_query.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/queryprojection_test.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/vindex.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

refactor: minor refactor of code to make it more readable
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps

backport of 3963 (#3967)
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff.go
  go/test/endtoend/vreplication/vdiff2_test.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/localvtctldclient/client_gen.go
  go/vt/vtctl/workflow/server.go
Owners: @mattlord, @rohit-nayak-ps, @planetscale/eng-vitess, @ajm188, @notfelineit, @deepthi

backport of 3963 (#3967)
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff.go
  go/test/endtoend/vreplication/vdiff2_test.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/localvtctldclient/client_gen.go
  go/vt/vtctl/workflow/server.go
Owners: @mattlord, @rohit-nayak-ps, @planetscale/eng-vitess, @ajm188, @notfelineit, @deepthi

backport of 3962 (#3966)
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
Owners: @ajm188, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal, @planetscale/eng-vitess

backport of 3962 (#3966)
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
Owners: @ajm188, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal, @planetscale/eng-vitess

backport of 3962 (#3964)
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
Owners: @ajm188, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal, @planetscale/eng-vitess

backport of 3962 (#3964)
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
Owners: @ajm188, @rohit-nayak-ps, @shlomi-noach, @harshit-gangal, @planetscale/eng-vitess

wip
  go/tools/asthelpergen/asthelpergen.go
  go/tools/asthelpergen/input_gen.go
  go/vt/sqlparser/ast_input.go
Owners: @frouioui, @systay, @harshit-gangal, @GuptaManan100

wip
  go/tools/asthelpergen/asthelpergen.go
  go/tools/asthelpergen/input_gen.go
  go/vt/sqlparser/ast_input.go
Owners: @frouioui, @systay, @harshit-gangal, @GuptaManan100

backport of 3974 (#3977)
  .github/workflows/codeql_analysis.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  docker/bootstrap/Dockerfile.mysql57
  docker/bootstrap/Dockerfile.mysql80
  docker/lite/Dockerfile.ubi8.arm64.mysql80
  docker/lite/Dockerfile.ubi8.mysql80
  docker/lite/install_dependencies.sh
  test/templates/cluster_endtoend_test_mysql57.tpl
Owners: @frouioui, @deepthi, @mattlord, @GuptaManan100, @rohit-nayak-ps

backport of 3974 (#3977)
  .github/workflows/codeql_analysis.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  docker/bootstrap/Dockerfile.mysql57
  docker/bootstrap/Dockerfile.mysql80
  docker/lite/Dockerfile.ubi8.arm64.mysql80
  docker/lite/Dockerfile.ubi8.mysql80
  docker/lite/install_dependencies.sh
  test/templates/cluster_endtoend_test_mysql57.tpl
Owners: @frouioui, @deepthi, @mattlord, @GuptaManan100, @rohit-nayak-ps

backport of 3951 (#3970)
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/vt/vterrors/code.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/lookup_hash.go
  go/vt/vtgate/vindexes/lookup_hash_test.go
  go/vt/vtgate/vindexes/lookup_internal.go
  go/vt/vtgate/vindexes/lookup_test.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3951 (#3970)
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/vt/vterrors/code.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/lookup_hash.go
  go/vt/vtgate/vindexes/lookup_hash_test.go
  go/vt/vtgate/vindexes/lookup_internal.go
  go/vt/vtgate/vindexes/lookup_test.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3978 (#3979)
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/derived_table.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

backport of 3978 (#3979)
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/derived_table.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

Update MySQL apt package and GPG signature (#3976)
  .github/workflows/codeql_analysis.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  docker/bootstrap/Dockerfile.mysql57
  docker/bootstrap/Dockerfile.mysql80
  docker/lite/Dockerfile.ubi8.arm64.mysql80
  docker/lite/Dockerfile.ubi8.mysql80
  docker/lite/install_dependencies.sh
  test/templates/cluster_endtoend_test_mysql57.tpl
Owners: @frouioui, @deepthi, @mattlord, @GuptaManan100, @rohit-nayak-ps

Update MySQL apt package and GPG signature (#3976)
  .github/workflows/codeql_analysis.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  docker/bootstrap/Dockerfile.mysql57
  docker/bootstrap/Dockerfile.mysql80
  docker/lite/Dockerfile.ubi8.arm64.mysql80
  docker/lite/Dockerfile.ubi8.mysql80
  docker/lite/install_dependencies.sh
  test/templates/cluster_endtoend_test_mysql57.tpl
Owners: @frouioui, @deepthi, @mattlord, @GuptaManan100, @rohit-nayak-ps

cherry pick of 14737 (#3951) (#3971)
  go/mysql/sqlerror/sql_error.go
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/vt/vterrors/code.go
  go/vt/vterrors/state.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/lookup_hash.go
  go/vt/vtgate/vindexes/lookup_hash_test.go
  go/vt/vtgate/vindexes/lookup_internal.go
  go/vt/vtgate/vindexes/lookup_test.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100, @arthurschreiber

cherry pick of 14737 (#3951) (#3971)
  go/mysql/sqlerror/sql_error.go
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/vt/vterrors/code.go
  go/vt/vterrors/state.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/lookup_hash.go
  go/vt/vtgate/vindexes/lookup_hash_test.go
  go/vt/vtgate/vindexes/lookup_internal.go
  go/vt/vtgate/vindexes/lookup_test.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash_test.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @GuptaManan100, @arthurschreiber

[release-18.0] Code Freeze for `v18.0.2` (#14804)
  .github/workflows/code_freeze.yml
Owners: @frouioui

[release-17.0] Code Freeze for `v17.0.5` (#14806)
  .github/workflows/code_freeze.yml
Owners: @frouioui

[release-16.0] Code Freeze for `v16.0.7` (#14808)
  .github/workflows/code_freeze.yml
Owners: @frouioui

Sanity check constraint filtering
  go/vt/wrangler/materializer_test.go
Owners: @deepthi, @mattlord, @rohit-nayak-ps

Sanity check constraint filtering
  go/vt/wrangler/materializer_test.go
Owners: @deepthi, @mattlord, @rohit-nayak-ps

backport of 3989 (#3994)
  go.mod
  go.sum
Owners: @planetscale/eng-vitess

.github/CODEOWNERS:

* @planetscale/eng-vitess
bootstrap.sh @deepthi
/.github/actions @Sinjo @dctrwatson @Verolop
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/.github/workflows/_planetscale* @Sinjo @dctrwatson @Verolop
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/mysqlctl/kmsbackup @yields
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/insights* @piki @rafer
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
